[2021-09-23 10:05] RedEyedDog commented on #544
Sorry realised what I was doing, smelly brain fart :@

[2021-09-23 10:08] RedEyedDog commented on #544
Worked a treat
![image](https://user-images.githubusercontent.com/6059035/134489760-8351a46a-1af8-4905-9855-5245d7211796.png)
:)

[2021-09-23 10:11] RedEyedDog commented on #544
I'm thinking this naming might be better? what do you think

![image](https://user-images.githubusercontent.com/6059035/134490147-4b1d0881-251f-4b64-842b-07b02e1919f3.png)

[2021-09-24 08:05] RedEyedDog commented on #544
Hey I have issued a PR but its Failing on documentation and not sure why exactly

[2021-09-24 08:34] patriksvensson commented on #544
@RedEyedDog Yeah, that's not your fault. We're currently having some problems with documentation and the net 6.0 rc SDK.
I will review your PR tonight when I have some spare time 👍

[2021-09-25 08:38] SunBrook opened #548 "[Compatibility issues] - SelectionPrompt and MultiSectionPrompt are not work on ConEmu"
**Information**
 - OS: Microsoft Windows [10.0.19042.1237]
 - Terminal: ConEmu

**Describe the bug**
ConEmu display is normal, but I cannot up or down to select option.
When I press enter button, i can only choice the first option.
By the way, when i try to use to Microsoft's cmd, it's normal.

[2021-09-25 20:04] AnderssonPeter opened #549 "Allow user to reorder list?"
**Is your feature request related to a problem? Please describe.**
Hi i have a list that i would want a user to be able to reorder, is the some way to achieve this using spectreconsole?

**Describe the solution you'd like**
A component/class/function where i can provide a list of elements and get a new list back when the user is done reodering.

**Describe alternatives you've considered**
Writing

[2021-09-25 21:34] SergioLuis opened #551 "Low performance rendering big Tree objects"
**Information**
 - OS: macOS
 - Version: Big Sur 11.5.2
 - Terminal: iTerm

**Describe the bug**
Rendering big trees is noticeable slow in spectre.console - moreover compared with other tools in which the same rendering seems to happen instantaneously.

**To Reproduce**
I'm playing with the library by creating a clone of the `tree` utility. For this, first i traverse the FileSystem, then build the

[2021-09-26 00:31] phil-scott-78 commented on #551
You have a reproduction I could pull down? I'd like to take a look at it in dottrace and see what we can do to speed it up

[2021-09-26 17:28] SergioLuis commented on #551
Sure! In the attached ZIP file you can find the directory structure I tested this with.
[fstree-perf-test.zip](https://github.com/spectreconsole/spectre.console/files/7231859/fstree-perf-test.zip)

And in the following GitHub Gist you can find a single-file .NET 5 application that reproduces the case.
https://gist.github.com/SergioLuis/dd34d98dd72cbc102de01326ad701560

[2021-09-26 17:32] phil-scott-78 commented on #551
Wonderful. If my little guy gets to bed at a reasonable hour I'll be able to take a look tonight I hope

[2021-09-27 02:41] phil-scott-78 commented on #551
This has been a lot of fun messing with. Just submitted a PR with a huuuuuuuuuuuuge perf gain thanks to this - #552.

[2021-09-27 08:25] RedEyedDog opened #553 "Are you able to have a live Table along with status updates at the same time?"
**Is your feature request related to a problem? Please describe.**
I would like to have a live table with a live status? So imagine a simple table which your waiting to fill out.
Id like to have a status on what stage its on and to be able to update the table when data is available.

**Describe the solution you'd like**
Some kind of hybrid Status/Progress/Table interface..

**Describe alternatives

[2021-09-27 08:34] patriksvensson commented on #553
@RedEyedDog Thanks for reporting this, but this is something that we don't support intentionally.

[2021-09-27 08:34] #553 closed

[2021-09-27 08:49] #551 closed

[2021-09-27 08:51] patriksvensson commented on #539
@koliyo It looks like a good idea, but closing the PR until you have time to revisit it.

[2021-09-27 11:04] patriksvensson commented on #544
Closed via #546

[2021-09-27 11:04] #544 closed

[2021-09-27 18:55] daveaglick opened #555 "Internal exceptions being thrown"
I updated Spectre.Console and started seeing handled exceptions being thrown, got curious, and traced it back to PR #376. The problem is that while the new `try/catch` introduced in this PR around the `resolver.Resolve(settingsType)` call works, it ends up creating an expected control flow where throwing is "normal". That's fine as far as it goes, but it does result in unnecessary exceptions under

[2021-09-27 19:47] patriksvensson commented on #555
@daveaglick I would want us to do the right thing here, so a PR would be appreciated!

[2021-09-29 08:23] ancailliau commented on #508
I second this. I use MultiSelectionPrompt to ask the user for a list of permission assigned to a role. When the user is editing the role, I do want to have the already-assigned permissions checked by default.

What would be the best way to implement that? I can write the code and make a pull request.

[2021-09-29 09:32] thoemmi commented on #508
You can pre-check items. However, you have to add the items one by one. In my code I use something like this:
[code]

[2021-09-29 09:52] vanheesk commented on #508
The original question was about SingleSelect specifically, which I solved / worked around using:

`
private List<string> GetSelectionForSingleSelect(Dictionary<string, string> options, string currentValue = null)
{
    var singleSelect = new SelectionPrompt<string>();

    var singleSelectOptions = options;
    if (currentValue != null)
    {
        singleSelectOptions = new Dictionary<string, st

[2021-09-29 17:42] daveaglick commented on #555
Will do! Shouldn't be a tough one (famous last words). I may not have a chance to open a PR until Friday for...errr...reasons...

![image](https://user-images.githubusercontent.com/1020407/135321045-6c93751a-690f-432b-a3dc-33d1f3b7260e.png)

👀

[2021-10-01 08:03] patriksvensson commented on #548
@SunBrook Why did you close this issue?

[2021-10-01 08:26] SunBrook commented on #548
There are many terminal software on the market. I don't think it's necessary to adapt to each terminal, which will waste a lot of time. I hope you spend most of your time developing new functions and optimizing programs, so I close this issue

[2021-10-01 08:51] patriksvensson commented on #548
I see. But let's keep the issue open. Thanks for reporting.

[2021-10-01 18:50] nils-a commented on #548
@SunBrook Could you add some more info? I could not reproduce this behavior in either Command Prompt or PowerShell running in ConEmu.

For testing I used the [Prompt-example](https://github.com/spectreconsole/spectre.console/tree/main/examples/Console/Prompt).

[2021-10-01 19:36] nils-a opened #567 "enable `MultiSelectionPrompt` and `SelectionPrompt` to show Renderables as select items."
### Discussed in https://github.com/spectreconsole/spectre.console/discussions/556

The original idea was sparked somewhere in https://github.com/spectreconsole/spectre.console/discussions/550: Enable `MultiSelectionPrompt` and `SelectionPrompt` to show Renderables as select items.

Currently, items for `MultiSelectionPrompt` and `SelectionPrompt` need to be `string`, have a `TypeConverter` to `st

[2021-10-01 23:24] SunBrook commented on #548
@nils-a I'm sorry I won't have time until October 7. During this time, I have to accompany my family. When I come back, I will use your example to test and return detailed results.Please wait patiently. Thank you.

[2021-10-04 20:04] #549 closed

[2021-10-04 20:25] patriksvensson commented on #213
Discussion: https://github.com/spectreconsole/spectre.console/discussions/217

[2021-10-04 20:48] patriksvensson opened #576 "Add new method `AnsiConsole.Write`"
Add new method `AnsiConsole.Write` and obsolete `AnsiConsole.Render` to keep it consistent with `IAnsiConsole`

[2021-10-04 22:50] patriksvensson opened #578 "Improve the error message when acquiring the interactive semaphore fails"

[2021-10-04 22:52] patriksvensson commented on #578
Closed via #569

[2021-10-04 22:52] #578 closed

[2021-10-05 03:42] rajasekarshanmugam opened #580 "Ability to use response files and in-built parser (text => args) from spectre.console to provide consistent behavior"
**Is your feature request related to a problem? Please describe.**
For some CLI, no of commands and the commands supported will be many. Using a typical command line is harder and has to be backed by other shell mechanisms. Would be good if a standard response file is supported. Response files typically are simple text files containing the commands, options/arguments. Response files come in differ

[2021-10-05 13:33] #576 closed

[2021-10-05 13:34] #496 closed

[2021-10-05 21:25] 0xced opened #583 "Markup is not properly rendered (when chunked) while a status is displayed"
**Information**
 - OS: macOS 10.15.7
 - Version: 0.42.0
 - Terminal: macOS Terminal version 2.10 (433)

**Describe the bug**
While a [status](https://spectreconsole.net/live/status) is being displayed, markup may not be fully rendered. It works fine with a single call to `console.MarkupLine()` but several calls to `console.Markup()` followed by a call to `console.MarkupLine("")` renders only the l

[2021-10-05 21:42] phil-scott-78 commented on #583
Think you are running into a threading issue, not an issue with markup. The status is running side-by-side with the rendering which isn't supported out of the box.

Combining the two would work though, something like this

[code]

[2021-10-05 21:52] 0xced commented on #583
Hmmm, I just tried your suggestion but that doesn't solve the rendering issue at all. Here's the result that I get when running the chunked version (`--split`):
[code]

[2021-10-05 22:23] patriksvensson commented on #583
@0xced @phil-scott-78 I suspect that we're not locking the console properly when rendering and that we're only locking the render pipeline. I can take a look at this tomorrow evening.

[2021-10-05 22:23] 0xced commented on #583
Actually, I _think_ that's because the cursor is periodically [repositioned](https://github.com/spectreconsole/spectre.console/blob/0.42.0/src/Spectre.Console/Live/LiveRenderable.cs#L45-L57) while the status is active and it looks like this is problematic on a line that has not (yet) been terminated by a newline.

[2021-10-05 22:28] patriksvensson commented on #583
@0xced That is part of the LiveRenderable that hooks up to the render pipeline which is synchronized so shouldn't affect interlocking calls. Need to investigate if there is any call NOT using the render pipeline, or if we need to lock the console.

[2021-10-08 00:44] brentby opened #587 "Cannot specify negative number as command option value"
As of version 0.40.0, it doesn't appear possible to specify a negative number as a command option.

Assuming I define a command that takes a decimal value as a command option, and that I want to pass a negative number value, neither of the following works:
[code]

Both attempts fail with this error `Not a valid name for a short option`. It appears that the command option parsing logic thinks that

[2021-10-08 01:42] SunBrook commented on #548
@nils-a I'm back. I used the Prompt-example, but it's not useful.

System: windows 10
IDE: VS 2019

![up down](https://user-images.githubusercontent.com/14243713/136484796-57e1f7cd-b6cf-447d-ac16-3dad7ab936f8.png)

ConEmu's Settings
![ConEmu Settings](https://user-images.githubusercontent.com/14243713/136484880-c70b5330-230f-41c6-ab91-7b48faae2e68.png)

[2021-10-08 19:39] nils-a commented on #587
You could try `mycommand -a=-1.50`

[2021-10-08 21:16] nils-a opened #588 "Documentation error: Sample in https://spectreconsole.net/prompts/selection does not compile"
The sample is:
[code]

However, `AddChoice(T item)` is not an extension of `SelectionPrompt<T>` and thus returns the created item rather than the `SelectionPrompt` for fluent re-use. This leads to the following `AddChoices` being not valid.

[2021-10-09 18:44] MaxAtoms commented on #498
Looked into it today as I thought it would be a good issue to get me started on Hacktoberfest.

It really seems that there is no problem in making the [`ErrorMessage` property](https://github.com/spectreconsole/spectre.console/blob/d34012cad044cc7395e3b6a7e08624d7ba583d0e/src/Spectre.Console/Cli/Annotations/ParameterValidationAttribute.cs#L16) in the `ParameterValidationAttribute.cs` nullable, lik

[2021-10-13 20:32] nils-a commented on #588
Agreed. This should be closed as duplicate of #499.

[2021-10-13 20:32] #588 closed

[2021-10-14 05:51] Cheesebaron commented on #502
Go ahead, have been busy with other things. So please do take a stab at it.

[2021-10-16 21:06] SuperJMN opened #592 "Adapting Progress feature to reactive programming"
I'm dealing with a system that sends progress reports using instances of this hierarchy:

![image](https://user-images.githubusercontent.com/3109851/137601655-5fcc65dd-4e0c-4af1-815a-3fbd9591b3fb.png)

(the `Progress` is an abstract class.)

The name of the current task is sent asynchronously, too.
So, all in all, task name and progress comes from 2 different channels and I need to react according

[2021-10-18 20:33] SuperJMN commented on #592
Thanks a lot for your idea! Seeing your code I've been able to do my very own.
Should it's useful for anybody, this is my code:

[code]

To understand it, you need to assume that the system executes only a task at a given time, that's why when a new task arrives (messages indicate the start of a task) the previous one is stopped. Also, you don't know which kind of task you're dealing with until yo

[2021-10-22 05:02] digitaldias opened #595 "Text prompt with editable default value"
Console input is a chore, it'd be nice to be able to pre-fill the user's answer with a default value so that the user can just hit ENTER to proceed to the next question.

I would love the ability to have a prompt that takes a default value, and that makes that editable to the user, which works on PC, Mac, and Linux.

---
Please upvote :+1: this issue if you are interested in it.

[2021-10-23 08:19] mjcgatus opened #596 "Auto-detected 8-bit color system seems to be unsupported on Windows 10 version 1607 and earlier"
**Information**
- Operating systems:
  - Windows 10 version 1607 (build 14393)
  - Windows 8.1 (build 9600)
- Version: Latest commit in `main` branch (35d2750b687d0e2a5092d738ab30665b2bc2dbfb as of this writing)
- Terminal: Command Prompt

**Describe the bug**
On Windows 10 version 1607 (build 14393) and earlier versions of Windows, where the console does not support 24-bit color and/or ANSI, the

[2021-10-24 21:05] EluciusFTW opened #598 "Validation should be circumvented on the empty input when AllowEmpty"
**Is your feature request related to a problem? Please describe.**
I was surprised when I recently used the `TextPrompt` with validation together with the `AllowEmpty` option that the validator was called on the empty input. Allowing empty states, that empty is valid, and hence there is no reason to validate it again.

In my particular case I care, because it makes all my validators having to expl

[2021-10-26 19:02] drewburlingame opened #599 "Code Review request for integration with CommandDotNet"
Hi all, I'm one of the maintainers of [CommandDotNet](https://github.com/bilal-fazlani/commanddotnet).  I'm also a fan of your AnsiConsole.

Given your great design, I was able to integrate it as an optional extension for our framework, including our test tooling (with a couple of caveats}.  I was wondering if you'd be willing to review the significant files in [this PR](https://github.com/bilal-f

[2021-10-27 08:16] #598 closed, assigned to nobody

[2021-10-27 14:21] p10tyr opened #600 "Prompt timeout to default value?"
**Is your feature request related to a problem? Please describe.**
When using prompts in my scenario I have a default option at the top but  (for cake build) but user has to press enter to use default when running build with no arguments

**Describe the solution you'd like**
Add an extension to the Prompts - like MulitSelect that would timeout after n seconds and use the defined default value

**D

[2021-10-28 19:52] patriksvensson opened #602 "Add net6.0 TFM"
**Is your feature request related to a problem? Please describe.**
We should add the net6.0 TFM to the Spectre.Console library.

[2021-10-28 20:36] nils-a opened #604 "Update examples to net6.0 TFM"
When #602 is implemented and after net6.0 is released in a stable version, we should update the examples to use net6.0 TFM

[2021-10-29 08:58] #599 closed, assigned to nobody

[2021-10-29 19:05] #602 closed

[2021-10-29 19:39] nils-a opened #606 "Add some way to let users handle exceptions"
### Discussed in https://github.com/spectreconsole/spectre.console/discussions/601

<div type='discussions-op-text'>

<sup>Originally posted by **nils-a** October 28, 2021</sup>

So, something like

[code]
 </div>

[2021-10-29 22:05] #502 closed

[2021-10-29 23:41] #606 closed

[2021-10-29 23:50] #499 closed

[2021-10-30 19:44] nils-a commented on #555
@daveaglick you're still working on this one? (I mean, there's still a day left in your self-chosen timeframe, so I wouldn't want to put any pressure on you. 😬)

[2021-10-30 19:47] daveaglick commented on #555
Lol. I like to live on the edge. Nothing like a little pressure!

[2021-10-30 23:09] boxofyellow opened #608 "Prompt using select choices that containing brackets will throw"
**Information**
 - OS: MacOS
 - Version: 10.15.7
 - Terminal: iTerm2

**Describe the bug**
Select choices that containing `[` (or `]`) can't be used even if they are escaped.

**To Reproduce**
This little app displays the problem, I'm using  `<PackageReference Include="Spectre.Console" Version="0.42.0" />`

[code]
If rum it will display
[code]
And it will throw if you press down to select the othe

[2021-10-31 19:34] nils-a commented on #608
@boxofyellow thank you for reporting. I can confirm this behavior.

[2021-11-01 21:38] daniel-k-rudolf opened #609 "Table not displayed on Windows"
I have create table with loop data, and my code look like this:

var tableResult = new Table()
.Border(TableBorder.Square)
.BorderColor(Color.Green)
.AddColumns("[white]Name[/]", "[white]Store_id[/]", "[white]Code[/]");
foreach (var item in res)
{
tableResult.AddRow("[grey]" + item.name.ToString() + "[/]", "[grey]" + item.default_store_id.ToString() + "[/]", "[grey]" + item.code.ToString() + "[/]"

[2021-11-01 22:42] nils-a commented on #609
Thank you for reporting this.

I'm not sure I fully understand what is being displayed (and what not). Are you able to provide a screenshot?

I used the following code that includes some demo-data:
[code]

Then published it as `net6.0`, Framework-Dependent, `win-x64`, ReadyToRun in a single file. This file I moved to an older Win 2012R2 machine, and the output there was:

![image](https://user-ima

[2021-11-02 06:55] daniel-k-rudolf commented on #609
Hi, my mistake putting no print-screen, I apologize for that.

I have same thing as you give print screen, in PowerShell works, but not in
Command Prompt. Here is print screen of result from sever from my code and
from command prompt:

[image: image.png]

And here is print screen of result from server from my code but from
PowerShell:

[image: image.png]

If I use code like this:
AnsiConsole.Write

[2021-11-02 08:12] nils-a commented on #609
@daniel-k-rudolf No apologies needed. But I'm sorry to say the images do not show - I'm not sure whether GitHub supports putting images in e-Mails.

[2021-11-02 08:39] daniel-k-rudolf commented on #609
I have quckly edit my answer, can you click on url, you can see now image.

[2021-11-02 09:16] nils-a commented on #609
Thank you for the update.

Border.Color (it is set as black, but if you can see I have set to
Color.Grey), also text for columns and rows like this: "[grey]Setting[/]"
it returns text as black and not grey.

Yes, that is quite possible - if the console does not support all the colors, spectre.console will fall back to the "closest" supported color.

You can use the [Colors example](https://github.

[2021-11-02 21:56] #608 closed

[2021-11-04 09:25] nils-a commented on #609
@daniel-k-rudolf did my answer help you, and can this issue be closed or do you need further assistance?

[2021-11-04 09:27] daniel-k-rudolf commented on #609
You can close it

Sent from my iPhone

[2021-11-04 09:27] #609 closed

[2021-11-07 11:27] patriksvensson opened #614 "Allow integer color codes in markup expressions"
**Is your feature request related to a problem? Please describe.**
It would be good if users could specify an integer color code in markup expressions, in addition to the color name, hex or RGB components.

**Describe the solution you'd like**

[code]

[2021-11-09 14:32] #614 closed

[2021-11-12 19:25] daveaglick commented on #555
I was all set to implement this as described (only two months later, nbd!) but after digging in, realized that maybe this is just a documentation issue. Consider this code I found in `CommandConstructorBinder`:

[code]

That strongly suggests that the expected behavior of `ITypeResolver.Resolve()` should be to return `null` when the type cannot be resolved. Compare that to the code I was originall

[2021-11-14 06:21] nils-a commented on #555
@daveaglick not throwing would be the expectation. I tried to make this clearer in https://github.com/spectreconsole/spectre.console/pull/620.
I also added the `TypeRegistrarBaseTest` in Spectre.Console.Testing that can be used by someone implementing an `ITypeRegistrar`/ `ITypeResolver` to verify some base expectations of these two.

Closed in https://github.com/spectreconsole/spectre.console/pul

[2021-11-14 06:21] #555 closed

[2021-11-14 13:51] daveaglick commented on #555
Looks great, thanks!

[2021-11-19 07:20] woutervanranst commented on #193
FYI I came here after looking through all issues. I believe the related error message is
[code]

+1 on supporting the Linux/CLI convention

[2021-11-19 12:00] woutervanranst opened #627 "config.SetExceptionHandler is missing"
**Information**
 - Version: 0.42.0

**Describe the bug**
config.SetExceptionHandler is missing in version 0.42.0, as described at the bottom https://spectreconsole.net/cli/exceptions

**To Reproduce**
Empty console project
Copypaste the example at the bottom
Add reference to Spectre.Console 0.42.0
`'IConfigurator' does not contain a definition for 'SetExceptionHandler' and no accessible extension

[2021-11-19 12:33] patriksvensson commented on #627
This is a new feature that will be available in version 0.43. You can also use this now by installing a pre-release version. The documentation reflects the latest preview documentation.

[2021-11-19 13:24] woutervanranst commented on #627
thanks, 'works as designed' :)

[2021-11-19 13:24] #627 closed

[2021-11-19 13:36] patriksvensson commented on #627
@woutervanranst You're welcome. I appreciate you opening an issue because now I realize that we should probably mention in our docs that something only is available in preview (or what version it will appear in). 👍

[2021-11-21 11:46] woutervanranst opened #628 "Inject CommandSettings or retrieve during/after run"
Use case (simplified):
* I'm registering a Azure Blob Container Client with accountname and accountkey which are passed as cli commands
* The `CommandSettings` are not available through dependency injection - hence I cannot have this client injected and must manually instantiate it in `Execute(CommandContext ctx, CommandSettings settings) {}` which defeats the purpose of DI somewhaat

Would there

[2021-11-22 14:06] nils-a opened #630 "Conversion in the default pair deconstructor is wron"
This was reported in #618

[2021-11-22 14:07] #630 closed

[2021-11-22 14:09] nils-a commented on #630
0xced could you add a comment here, so I can assign the issue?

[2021-11-22 14:33] nils-a opened #631 "Add the ability to hide CommandOptions"
**Is your feature request related to a problem? Please describe.**
Coming from https://github.com/spectreconsole/spectre.console/discussions/629, it would be good to have the ability to hide `CommandOptions`.

**Describe the solution you'd like**
Something like

[code]

**Additional context**
See #629

[2021-11-22 15:39] 0xced commented on #630
Sure!

[2021-11-23 13:49] twaalewijn commented on #631
@nils-a I basically have this working now.

I do have some minor things I would like feedback on before submitting the PR.

1. I did not know about the hidden commands such as `cli explain` and `cli xmldoc` until I looked at the code. I have assumed the following behavior regarding this feature for those commands:

  - `xmldoc` seems to not output hidden commands so I have excluded the hidden opti

[2021-11-24 03:30] #604 closed

[2021-11-24 16:45] SteveDesmond-ca opened #638 "Allow table title to not be capitalized"
**Is your feature request related to a problem? Please describe.**

I'm converting an app from `System.Console` to `Spectre.Console` and in migrating a custom table output to use Spectre's `Table` resulted in a failing unit test because the table title (which in my case is a filename) no longer matches the actual filename, since the first character of table titles are capitalized in [TableRenderer

[2021-11-24 16:49] patriksvensson commented on #638
@SteveDesmond-ca That makes perfect sense to me.
When I think about it, I don't think we should capitalize the first letter at all.

[2021-11-25 21:59] nils-a commented on #631
@twaalewijn

Sounds good to me. If you missed something, I did, too. 😄

Yes, so would I.

That's kind of strange. Are you using a non-default setting for `core.autocrlf` in `git`?
`git ls-files --eol **/*.cs` shows all files are checked out `crlf` on my system. Then again, this is what I would expect on a (windows) system with `core.autocrlf` set to `true`.

So, setting `end_of_line` to `lf` in `.

[2021-11-25 22:16] nils-a commented on #628
@woutervanranst I'm not sure I get what you're aiming at. Are you trying to use the `CommandSettings`, not as part of the command being run, but rather later? Like after `CommandApp.Run(args)`?

[2021-11-25 22:18] #628 closed

[2021-11-25 23:07] 0xced opened #641 "Wrong exception formatting for generic methods in stack traces"
**Information**
 - OS: macOS (but not actually relevant for this bug)
 - Version: 0.42.0
 - Terminal: macOS Terminal.app (but not actually relevant for this bug)

**Describe the bug**
Methods with generic parameters in exception stack traces are formatted with double brackets instead of single brackets.

**To Reproduce**
Run the following code snippet:
[code]

**Expected behavior**
`AnsiConsole.Wr

[2021-11-26 09:23] #641 closed

[2021-11-28 17:31] twaalewijn commented on #631
My apologies, the whole `.editorconfig`/`.gitattributes` thing was indeed caused due to the way `git` was installed on the machine I was using.
I guess I never noticed it until now because all the other repositories I had cloned on that machine included a `.gitattributes` file with `* text=auto`.

I have created the PR for this feature now.
Please let me know if you need me to change or add anythi

[2021-11-29 08:04] zmrfzn commented on #638
if no one has picked this, can i get started with this as my first contribution ?
@patriksvensson

[2021-11-29 08:06] patriksvensson commented on #638
@zmrfzn That would be awesome. Much appreciated!

[2021-11-29 10:21] zmrfzn commented on #638
Awesome!
thanks for the quick response, i am gonna setup and start with the setup today

[2021-11-29 14:17] nils-a opened #644 "Documentation of settings containing arrays is incomplete"
Currently, the use of `arrays` in settings is only [documented](https://spectreconsole.net/cli/settings) for `CommandArguemts` like

[code]

But not for `CommandOptions`, as asked in #330, #465.

Additionally, the fact that there can be only one *argument vector*, and it needs to be the last argument of the command, is currently not documented at all.

[2021-11-29 14:25] nils-a opened #645 "validation of vector arguments is currently wrong"
vector arguments need to be specified last. This is validated in the [CommandModelValidator](https://github.com/spectreconsole/spectre.console/blob/a690ce49556615fea49e61972646eb52a11bbdb5/src/Spectre.Console/Cli/Internal/Modelling/CommandModelValidator.cs#L81).

This validation is missing the position of the `CommandArgument`

specifying settings like this:

[code]

wrongly raises the validation

[2021-11-29 22:16] #631 closed

[2021-11-30 17:13] #250 closed

[2021-12-01 07:39] PsychoNineSix commented on #401
I'm also running into this issue at the moment, still very annoying to find out.
This also impacts the --help option, it does not display commandoptions from the branch the command is in.

[2021-12-01 12:41] PsychoNineSix commented on #401
scratch that!
In my (and maybe other users running into this) use case it's enough to remove the settings from the branch, now the order and help of each command works as expected.

[2021-12-02 10:15] #645 closed

[2021-12-04 23:07] nils-a opened #653 "CaseSensitivity should be documented somewhere"
As it affects `Commands` and long `Options` it should probably be in https://spectreconsole.net/cli/commandapp and https://spectreconsole.net/cli/settings

[2021-12-05 14:10] ErikEJ opened #654 "readme on installing dotnet-example seems wrong"

[2021-12-05 17:17] patriksvensson commented on #654
@ErikEJ Not sure what is wrong. Could you elaborate on this? Thanks!

[2021-12-05 17:28] ErikEJ commented on #654
The guide to install dotnet-example I'd

    dotnet tool restore

[2021-12-07 17:48] wjrogers opened #656 "Global options for CommandApp?"
I would like to be able to define global options that apply to all commands configured on an instance of `CommandApp`. For example, a `-c` option that specifies an additional configuration file to load.

I tried defining a base `CommandSettings` subclass that all my commands' settings derive from, but that requires that the global options be passed _after_ the command name. A command line like `ap

[2021-12-08 20:56] justin-vogt opened #660 "[AnsiConsole][Progress] Spinner column should support task complete status"
As a developer, I would like to build a progress monitor with spinner having many steps and as each step completes the spinner transitions to indicate the completed state of the given step, so that I can show a visual indication with the spinner completed state.

For example, this is the using a spinner column for multiple tasks without completed text:

![Simple spinner with multiple tasks](https:

[2021-12-09 20:26] nils-a commented on #654
@ErikEJ Are you seeing an error when running that command? If so, what is the error?

[2021-12-09 20:57] patriksvensson commented on #654
@ErikEJ It doesn't install it as a global tool. It's part of the project's tool manifest (dotnet-tools.json).

[2021-12-09 21:07] ErikEJ commented on #654
Learned something new today!

[2021-12-09 21:07] #654 closed

[2021-12-10 09:21] dlandi opened #661 "AddBranch() is never explained in the documentation"
AddBranch() is never explained in the documentation.

For Instance, in your CLI Demo App:

            app.Configure(config =>
            {
                config.SetApplicationName("fake-dotnet");
                config.ValidateExamples();
                config.AddExample(new[] { "run", "--no-build" });

                // Run
                config.AddCommand<RunCommand>("run");

[2021-12-10 11:41] dlandi opened #662 "AddAlias() doesn"
**Information**
 - OS: [eg Windows/Linux/MacOS]
 - Version: [e.g. 0.33.0]
 - Terminal: [e.g Windows Terminal]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-12-10 19:31] nils-a commented on #662
@dlandi thanks for reporting this.
Do you have any idea on what the help display should look like, if aliases were reported?

[2021-12-10 19:55] dlandi commented on #662
Sure. Given:

          config.AddCommand<InstallCloudCommand>("install-cloud")
          .WithDescription("Install Cloud API from Zip File")
          .WithAlias("cloud").WithAlias("cld");

          config.AddCommand<InitializeAccountCommand>("init-account")
          .WithDescription("Initialize Account DB from Powershell Script File")
           WithAlias("account").WithAlias("adb");

[2021-12-11 20:08] nils-a commented on #662
Since the commands' section does not have headers, this would look like:

[code]

or

[code]

I feel adding a cell "aliases" to the commands' section would take away too much space (which is sometimes very limited in CLI).

What about adding it to the description?
Something like:

[code]

@patriksvensson, @phil-scott-78: Any ideas or opinions?

[2021-12-11 20:39] nils-a commented on #661
@dlandi to clarify: You are referring to the fact that branches are never really explained on the [website](https://spectreconsole.net/cli/composing), right?

[2021-12-11 20:50] dlandi commented on #661
The AddBranch() method, itself, appears undocumented. If there is documentation for it then please let me know where.

Thanks. And great job so far on this library. I am using it in a real project.

-dennis

[2021-12-11 21:00] nils-a commented on #661
I feel like I'm a bit slow today, sorry. Do you mean in-code (xml) documentation that appears in your IDE?

[2021-12-11 21:13] dlandi commented on #661
OK. Here is the in-code comments for AddBranch()

![image](https://user-images.githubusercontent.com/3196088/145691711-a04cf504-2543-4e98-9744-5048f2bef0cb.png)

As a newcomer to this library, I need a little more documentation. In my opinion, the explanation should go on your website since you are using it in your sample code to show how your library works.

I really can't decipher what this code

[2021-12-16 20:53] veikkoeeva opened #664 "Infer# scan reports null derefences, resource leaks and race conditions"
**Information**

 - OS: Linux
 - Version: 0.43.0

**Describe the bug**

The clearest listing of the problems is available at https://github.com/lumoin/Verifiable/pull/48/checks?check_run_id=4554484579. The built results are also downloadable at https://github.com/lumoin/Verifiable/actions/runs/1589304607.

**To Reproduce**

I added [Infer#](https://github.com/microsoft/infersharpaction) as a step,

[2021-12-16 22:07] phil-scott-78 commented on #664
I'm grabbing the full report and including it here.

At a glance, these reports look valid if I understand what's going on. Some things like the resource leak in `DefaultExclusivityMode` of the SemaphoreSlim are things I'm willing to live with though. I need to be able to reproduce the report locally before I'd be willing to tackle them, but if someone else wants to dig in and tackle a few of thes

[2021-12-24 08:37] betsegaw opened #669 "System.Memory correct version missing"
**Information**
 - OS: Windows
 - Version: 0.43.1-preview.0.16
 - Terminal: Windows Terminal

**Describe the bug**
Loading nuget package in Powershell and trying to use it results in an exception with `Could not load file or assembly 'System.Memory...`

**To Reproduce**
1. Download the nuget package into a folder
2. Load it into Powershell with command `[System.Reflection.Assembly]::LoadFrom("/pat

[2021-12-26 05:59] xoofx opened #671 "Introducing StringSlice for Segment.Text"
Hello Spectre.Console friends!

I'm starting to evaluate how I can use Spectre.Console for editing/rendering syntax highlighted languages and I have a suggestion to improve its support.

While a `Segment` has a `Text` property defined as a `string`, it forces to split the original text string by its styled strings and to maintain externally a map of the split strings with the original string. e.g:

[2021-12-26 12:05] patriksvensson commented on #671
@xoofx Sounds like an excellent idea. We're aware of the problem but deliberately haven't been optimizing stuff (yet) in favor of getting things to work.

If you want to send a draft PR for this, it would be greatly appreciated.

[2021-12-26 17:40] xoofx commented on #671
Great. What should I do about the type? Use `StringSegment` with a dependency to `Microsoft.Extensions.Primitives` or add a type e.g `StringSlice` and copy paste the code from it?

[2021-12-26 18:48] patriksvensson commented on #671
I have no problem adding a dependency on `Microsoft.Extensions.Primitives` if supported by all the tfm:s that we support. I'll leave that decision to you, whatever you find the cleanest.

Again, really appreciate you raising this issue (and, of course, doing a PR).

[2021-12-27 12:21] kevingosse commented on #481
Hello,

I'm bumping this issue, as we're about to start the work on a new CLI tool, and we'd really like to base it on Spectre.Console.

Is there any way we could contribute to make this happen? If the only blocker is time, then we could push a PR to update your publish pipeline.

[2021-12-27 21:29] Mxater opened #672 "AnsiConsole.Write is overwriting output"
Hello,
I find a problem, when I use AnsiConsole.Write is overwriting the past AnsiConsole.Write, when this is used in a AnsiConsole.Status.
If I use this outside a Status, works fine.

[code]

![imagen](https://i.imgur.com/QoUi51y.gif)

[2021-12-27 23:32] patriksvensson commented on #481
@kevingosse Would a tool such as [StrongNamer](https://github.com/dsplaisted/strongnamer) help in this situation?

Afaik there is no benefit of strong naming .NET Core assemblies since the signature isn't validated or used for assembly binding. I think we would need to have a conversation within the team about the pros and cons when it comes to providing this.

[2021-12-28 13:34] kevingosse commented on #481
I have no prior experience with StrongNamer but I'll give it a try 👍

[2021-12-29 10:07] xoofx commented on #671
Hey,
So I have been digging into the changes. Got them partially working but it got quite viral and many little things in the lib are by design not prepared for such a change (lots of allocations here and there, many assumptions about string concatenations e.g `Segment.Merge`...etc.) so even after my changes, that would not solve the issue I brought up originally... so, unfortunately, I'm not sure

[2021-12-29 10:07] #671 closed

[2022-01-01 20:10] pdevito3 opened #674 "TypeResolver in Cli/Logging example does not adhere to the changed specs in #620"
**Information**
 - OS: MacOS
 - Version: 12.0.1
 - Terminal: Terminal

**Describe the bug**
I am trying to run a simplified version of the `HelloCommand` example in [your logging example](https://github.dev/spectreconsole/spectre.console/blob/main/examples/Cli/Logging/Program.cs) to no avail. When running the command, it says `Error: Could not resolve type 'HelloCommand+Settings'.`

I only get thi

[2022-01-01 20:42] nils-a commented on #674
@pdevito3 thanks for reporting this. The problem actually lies with the logging example.

The underlying issue here is, that `GetRequiredService` throws, if no service such is registered. The `ITypeResolver.Resolve` should never throw, but instead return `null`.
I thought I had modified all examples in #620, but it seems I missed something.

In your case, please modify your `TypeResolver.Resolve`

[2022-01-01 20:49] pdevito3 commented on #674
👋 no problem. thanks for the quick feedback.

gave that a try and am still seeing the same issue though. pushed the update to the example repo

[2022-01-01 21:20] nils-a commented on #674
@pdevito3 you missed a change, there 😀

You'd need to switch from `GetRequiredService()` to `GetService()`.

[2022-01-01 21:24] pdevito3 commented on #674
whoops, that did it. thanks!

any thoughts on adding a `DefaultTypeRegistrar` (or whatever name you want to give it) that implements this for us to consume any not have to worry about if we don't need to do anything custom? would be nice to just be able to pull something default and only have to write something if we need to do something special.

[2022-01-01 21:27] nils-a commented on #674
You mean something like https://github.com/nils-org/Spectre.Console.Registrars.SimpleInjector does for SimpleInjector?

[2022-01-01 21:27] nils-a commented on #674
Keeping this issue open, as the Cli/Logging example still needs to be modified.

[2022-01-01 21:35] pdevito3 commented on #674
Maybe, though it doens't seem to be able to plug directly in to the above without some mods.

I was more thinking even just adding something like the below directly into spectre console for us to use as a default. Was consuming to me when I saw it in the docs at first and had to poke around github to see if you guys had an example of it. Doesn't seem to be anything out of the ordinary going on, so

[2022-01-02 09:26] #674 closed

[2022-01-02 11:20] dlandi opened #676 "Some unit tests other examples are needed for AsyncCommand."
I was chatting with @patriksvensson on Twitter and he suggest I look at AsyncCommand for an example project I posted on youtube.

I checked it out, but I see no unit tests for AsynCommand or examples.

I suggest that be rectified.

Cheers!

[2022-01-02 20:19] valkyrienyanko opened #677 "Trying To Create Minecraft Like Console"
The yellow rect is where I want to be able to write console commands like `help` `whisper` and the green rect shows where I want all the log messages in the console to appear. How hard would it be to do this?

![image](https://user-images.githubusercontent.com/6277739/147888375-f5893f91-217d-423b-8480-e8f2a6489acb.png)

This is what I have so far.
[code]

Although I'm not sure how you would expand

[2022-01-05 16:40] kuhnboy opened #680 "StartAsync can block"
**Information**
 - OS: Windows
 - Version: 0.43.0
 - Terminal: Windows Terminal

**Describe the bug**
When starting a progress task with `StartAsync`, I would expect a new task to be created inside of `StartAsync` via `TaskFactory.StartNew` in order for it to be non-blocking when synchronous code is inside of the `StartAsync` action. Currently in the example, the 'otherTask' line is not hit until

[2022-01-08 19:33] ryandle opened #684 "Grey hard-coded in BreakdownTags"
**Information**
 - OS: Windows
 - Version: 0.43.0
 - Terminal: cmd.exe

**Describe the bug**

I noticed that there is a hard-coded `grey` color inside the breakdown chart tag format: https://github.com/spectreconsole/spectre.console/blob/main/src/Spectre.Console/Widgets/Charts/BreakdownTags.cs#L58

It can be difficult to see on light backgrounds:
![image](https://user-images.githubusercontent.com/

[2022-01-11 22:30] sebastienros commented on #481
Main benefit is that users who have to use a strong named assembly can use yours.
https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/strong-naming

Until nobody is using it anymore I'd recommend to ship the package strongly named. It's as easy as adding the .snk file to the repos and add a tag in the csproj.

[2022-01-11 22:52] daxian-dbw commented on #481
+1 to @sebastienros' comment.

@patriksvensson The `Spectre.Console` package also targets `.NETStandard 2.0`, which means it's designed to be useable to a .NET Framework application as well. It's quite common for a .NET Framework application to be strong named, and thus it makes it unnecessarily hard to use this package for a .NET Framework application.

In .NET Core world, there may not be benefi

[2022-01-13 20:10] jouniheikniemi opened #688 "The CommandApp doc page has an erroneous WithExample statement"
On https://spectreconsole.net/cli/commandapp in the size command example, there's a WithExample statement which does not include the command name as part of the WithExample argument list. T

[2022-01-13 20:43] #688 closed

[2022-01-14 23:54] Sir-Baconn opened #690 "Add overloads accepting params[] for choices in choice groups for selection prompts"
**Is your feature request related to a problem? Please describe.**
`MultiSelectionPrompt.AddChoiceGroup()` and `SelectionPrompt.AddChoiceGroup()` should accept a variable number of parameters for the choices by using the `params` keyword. This provides ease of use when you do not want to manually create a list.

**Describe the solution you'd like**
Add overload methods accepting `params T[]` for t

[2022-01-15 18:51] #690 closed

[2022-01-15 21:14] jouniheikniemi commented on #587
I'm considering taking a stab at this if it's open for contributions.

I was thinking about changing CommandTreeTokenizer.ScanShortOptions to turn a short option that does not start with a letter into a token of type String instead of throwing CommandParseException.InvalidShortOptionName (at least for numeric strings following the dash), but I'm not sure if there are harmful consequences to that.

[2022-01-16 08:21] matthiasjost opened #693 "New Processor/Transformer: X to Branch Friendly Name"
You might have a way to get some name (e.g., from your task title) as a base for the branch name. Then you may want to transform that into a “branch friendly” name.

You can add a few rules like removing special characters (ä, ö, ü), spaces replace with “-”. And then truncate the full name to a maximum of, e.g., 50.

Some automation would always be dependent on your dev environment (Azure vs GitHu

[2022-01-16 08:22] #693 closed

[2022-01-17 11:30] kevingosse opened #694 "Status does not render correctly when output is wrapped"
**Information**
 - OS: Windows
 - Version: 0.43.0, the issue is still there in 0.43.1-preview.0.19
 - Terminal: Tested with Windows Terminal and with the built-in cmd

**Describe the bug**
When a line is wrapped because it's bigger than the console width, the status will overwrite it.

**To Reproduce**

[code]

**Expected behavior**
The status should be displayed below the wrapped line.

**Screens

[2022-01-17 22:03] HolisticDeveloper commented on #156
Maybe this is handled now via #544 / #546?

[2022-01-17 22:15] patriksvensson commented on #156
@HolisticDeveloper Yes, should be able to now. Sorry for forgetting to update this issue!

[2022-01-19 11:58] jouniheikniemi commented on #587
@patriksvensson I'm not sure you ever got notified of my previous question, so another ping here. Not in a hurry from my side though, just making sure you've seen it.

[2022-01-20 13:45] nils-a commented on #587
@jouniheikniemi As far as we know, no one is currently working on this. So, sure, take your stab.

[2022-01-20 17:58] BlackBearFTW opened #696 "Spectre.Cli not using the latest version of Spectre.Console"
**Describe the bug**
When installing the Spectre.Cli Package, the version of Spectre.Console that is being installed is 0.33, instead of version 0.43

**To Reproduce**
Install Spectre.Cli from nugget

[2022-01-20 18:05] patriksvensson commented on #696
Spectre.Cli package has been superseded by the Spectre.Console package and will not be updated.

[2022-01-20 19:22] BlackBearFTW opened #697 "Nested live tables"
**Is your feature request related to a problem? Please describe.**
I was trying to create a table with a header, footer and a nested table (to display live data) and I ran into the issue that the outer table didn't have to be live but the nested one did (for my brainfuck visualizer)
![unknown.png](https://user-images.githubusercontent.com/62018777/150406720-aa27faf4-1195-405f-9a3a-ce1560598d41.png

[2022-01-21 06:46] jouniheikniemi commented on #587
@nils-a Actually, when I was looking at this in more detail, I started wondering if this is actually the right thing to do, and if so, how to do it without painting oneself into a future corner. In other words, given how Spectre.Cli used to say it is "extremely opinionated", so what's its opinion here?

If the library starts tokenizing things looking like negative numbers (-1 etc.) as strings inst

[2022-01-22 09:35] NikiforovAll opened #698 "CanvasImage is rendered incorrectly - partial display"
**Information**
 - OS: Windows
 - Version: Version	10.0.19041 Build 19041
 - Terminl: Windows Terminal

**Describe the bug**

CanvasImage is partially rendered

**To Reproduce**

[code]
![image](https://user-images.githubusercontent.com/8037439/150632817-5d89344b-6d6f-49d7-8143-3945a7dba15a.png)

Full application:

https://github.com/NikiforovAll/cli-with-spectre-console

`DownloadBot.cs` command

[2022-01-22 21:35] nils-a commented on #587
@jouniheikniemi I'll try to answer all your questions.

That would be @patriksvensson opinion of things. I think there's no fully written down version of it 😄

Again, nothing that's written down or anything.

Currently, options follow the following guidelines:
* option names can only be letters or digits (`char.IsLetterOrDigit`)
* no option can start with a digit
* each option can have one short n

[2022-01-23 20:19] jouniheikniemi commented on #587
Oh I'm certainly not ready to write a full POSIX compliance PR either, now 😅

Thanks! My next week is busyish, but I'll take a look once I have a moment.

[2022-01-24 03:02] Simonl9l opened #701 "CLI Command RunAsync support passing in/propagating a CancelationToken"
**Is your feature request related to a problem? Please describe.**
By convention in DotNet Core one wild supply a `CancellationToken` into an Async method when `await`ed!

**Describe the solution you'd like**
Support passing in a `CancelationToken` such that is propagated to the `AsyncCommand.ExecuteAsync` and for that matter provide a `ValidateAsync` that also takes the token.

In this way a comm

[2022-01-24 19:35] kuhnboy commented on #701
Why? Can't you do this:

[code]

[2022-01-24 21:50] WajahatAliAbid opened #702 "Function to render help text"
**Is your feature request related to a problem? Please describe.**
I was looking to find a way to show command help during execution of a command. For example, I have main command of cli set to display fidglet text. But I want to show command help right after.

**Describe the solution you'd like**
Ideally, having a function in AnsiConsole or CommandContext to render command help. For example
[code

[2022-01-24 22:24] nils-a commented on #701
@kuhnboy, I think what @Simonl9l asked for here is:

* `ICommandApp.RunAsync(IEnumerable<string> args)`
  * ➡️ `ICommandApp.RunAsync(IEnumerable<string> args, CancellationToken cancellationToken = default(CancellationToken))`
* `AsyncCommand.ExecuteAsync(CommandContext context)`
  * ➡️ `AsyncCommand.ExecuteAsync(CommandContext context, CancellationToken cancellationToken = default(CancellationToke

[2022-01-25 08:21] patriksvensson commented on #587
Just to clarify.

All these things are supported by the Spectre.Console parser.

The "opinionated" part comes from the fact that when I wrote the parser, I wanted to make it somewhat POSIX compliant, but also make it easier for people coming from Windows to use it. For example, `/foo:3` is supported as well.

Some things like you mention above, such as `-xbar` which could be interepreted as `-x ba

[2022-01-26 05:47] sangeethnandakumar opened #703 "Failing To Render On Windows Terminal"
Ways To Reproduce:

1. Setup Windows Terminal (https://www.microsoft.com/en-us/p/windows-terminal/9n0dx20hk701#activetab=pivot:overviewtab) with Visual Studio.
2. Create a simple progress view

using Spectre.Console;

[code]

3. Run the program. This will print and updates an active progress bar
![image](https://user-images.githubusercontent.com/24974154/151110067-ff34efa1-fee8-4fb2-a427-af1dcacec

[2022-01-26 05:52] sangeethnandakumar opened #704 "Unwanted Space Appearing In Progress View"
Steps To Reproduce

1. Refer screenshot for code and result
![image](https://user-images.githubusercontent.com/24974154/151110781-223a3c70-661d-461b-867f-ac47876f1063.png)

NOTE: The space before 'DCOM' is nowhere in code

[2022-01-26 05:53] #704 closed

[2022-01-26 07:32] #696 closed

[2022-01-30 12:55] danielklecha opened #712 "Change IListPromptStrategy interface access modifier to public"
Hi,

I want to add to MultiSelectionPrompt choices which should be checked and prompt should be submited immediatelly.
Example: I display 30 choices but database contains 1000 choices so at the end I added choice to force program to load next prompt.

I want to wrap MultiSelectionPrompt and extend logic implemented in IListPromptStrategy.
Unfortunatelly this interfase is internal.
Could you set it

[2022-01-30 13:05] patriksvensson commented on #712
@danielklecha Opening up `IListPromptStrategy` won't do you any good since `ListPrompt<T>` and other things needed aren't public. The reason for this is that we haven't built the functionality to be open for external customization.

We would need to have a conversation within the team to see if there is a way of making this public without adding a lot of support burden. In the meanwhile, you could

[2022-01-31 19:07] Simonl9l commented on #701
Hi @kuhnboy & @nils-a thanks for the replies and clarifications...I've been away apologies for the wait in my reply!

in the version of the `Spector.Console` library I'm using `0.43.0` there seem to be no versions of these methods that support the CancellationToken argument.

Whist I "could" DI the Token in to the AsyncCommand constructor this seems very unconventional.

Are there plans to support

[2022-01-31 19:46] nils-a commented on #701
@Simonl9l while there weren't any plans to implement `CancellationTokens` before this issue as far as I know, I personally see no reason not have them added in the future.

[2022-01-31 19:57] Simonl9l commented on #701
@nils-a  are you able to set any expectation of plans on what "future" might mean?

TBH Im still getting the hang of the library and started using become for the Console Tables etc.

As an aside are the also any plans to support Tab/Command completion in the CLI?

[2022-01-31 20:51] sldr opened #713 "Getting Started examples fail to render emoji and some spinners on Windows"
**Information**
 - OS: Windows 10 Pro
 - Version: 21H2 19044.1466
 - Terminal: Windows Terminal, cmd.exe, PowerShell 5.1 & PowerShell 7.2.1

**Describe the bug**
Tried to render several emojis and didn't find any that worked. The Clock spinner does not work.

**To Reproduce**
I ran the following code on a Windows Terminal (PowerShell 5.1), cmd.exe console, PowerShell 5.1 console, and PowerShell 7.

[2022-01-31 21:58] Simonl9l commented on #401
@PsychoNineSix Id suggest that it is also valuable to want to place the settings on the branch, and expect the Argument to show as you had originally expected (per --help options) as the argument applies to all subcommands - so I'd say un-scratch!

I assume it is "not normal" to have branch options separated from their sub command options as today all the options are moved to the end regardless of

[2022-01-31 22:04] Simonl9l commented on #702
Would be good to add a:

[code]

[2022-01-31 22:13] patriksvensson commented on #713
@sldr Unicode functionality is only available in terminals that support that. Terminals on Windows that support Unicode is (for example) Windows Terminal.

You can check whether or not the current terminal supports Unicode via `AnsiConsole.Profile.Capabilities.Unicode`.

In general, you can never assume that a terminal (especially on Windows) supports things like Unicode and there is nothing Spect

[2022-01-31 22:13] #713 closed

[2022-02-01 07:05] nils-a commented on #701
Sadly, no. I find the idea intriguing, so I think I will look into it. Not sure when I have the cycles, though. And I'm even less sure as to when it might be "done".

Have a look at https://github.com/spectreconsole/spectre.console/issues/267

[2022-02-01 13:47] danielklecha opened #714 "Unable to get empty value from nullable instance like TextPrompt<Uri?>"
I want to get AbsoluteUri or null but it's not supported by TextPrompt even with AllowEmpty=true.
[code]
If I press enter then I get "Invalid input".

I suppose that input is string.Empty when we call TryConvertFromString.
UriConverter allow to convert from string.Empty and return null.
In that case condition in line 146 in TextPrompt should be modified and allow result to be null if conversion wa

[2022-02-01 18:08] danielklecha commented on #714
@patriksvensson Sure 😄
I created console app in .net 6.
You must run it and press enter. Then you will see "Invalid input" message.
[https://github.com/danielklecha/SpectreConsoleIssue](https://github.com/danielklecha/SpectreConsoleIssue)

[2022-02-03 13:45] 0xced commented on #583
Do you have any update on this? I would love to continue my [port of Serilog.Sinks.Console to Spectre.Console](https://github.com/0xced/serilog-sinks-console/tree/spectre.console) and this issue is a blocker.

[2022-02-04 08:34] dotnetshadow opened #720 "Figlet background color not respected?"
**Information**
 - OS: [eg Windows/Linux/MacOS]
 - Version: [e.g. 0.33.0]
 - Terminal: [e.g Windows Terminal]

**Describe the bug**
When using the figlet it doesn't respect the background color for the console. i.e if the background color is blue, the figlet will print on black

**To Reproduce**
Use the Examples/Console/Figlet, add the following to Program.cs
[code]

**Expected behavior**
Backgrou

[2022-02-04 09:31] snobu opened #722 "ANSIfy the drinking squirrel gif"
Can anyone ANSIfy this drinking squirrel progress gif and make it part of the Spinners? I know it's a tough ask but it could become the cornerstone of this century's spinners.

![](https://raw.githubusercontent.com/snobu/powerbi-embed-v2/master/static/img/squirrel_loading.gif)

[2022-02-04 09:33] nbdm opened #723 "Unable to add table with Table.AddRow() for nesting tables"
**Describe the bug**
I am unable to nest tables.

**To Reproduce**
Table Table1 = new Table()
.AddColumn("column1")
.AddColumn("column2");

Table Table2 = new Table()
.AddColumn("column1")
.AddColumn("column2")
.AddRow("test", "test");

Table1.AddRow("test", table2);

This gives me a compile time error :
'Table' does not contain a definition for 'AddRow' and the best extension method overload 'Gri

[2022-02-04 09:36] #723 closed

[2022-02-04 09:37] kollerp opened #724 "Uable to nest tables"
**Describe the bug**
I am unable to nest tables.

**To Reproduce**
Table Table1 = new Table()
.AddColumn("column1")
.AddColumn("column2");

Table Table2 = new Table()
.AddColumn("column1")
.AddColumn("column2")
.AddRow("test", "test");

Table1.AddRow("test", table2);

This gives me a compile time error :
'Table' does not contain a definition for 'AddRow' and the best extension method overload 'Gri

[2022-02-05 21:38] Jawz84 commented on #267
@patriksvensson @phil-scott-78 I think this would be so cool to have, that I am interested in starting a PR for this. I'd probably need some help though. From reading the code I have a reasonably clear idea where to start.I'm thinking of adding to the existing hidden default cli commands:

Given an app `myapp` with a command `lion`:
`myapp cli complete 'myapp l'`
should result in
`lion`

(That's b

[2022-02-05 22:08] phil-scott-78 commented on #267
Absolutely. Lets use this to brainstorm some scenarios and go from there. My little guy is stealing a ton of my time so extended coding sessions are a rarity so being able to assist would be great

I'll try and come up with a few more test ideas to drive this tonight

[2022-02-06 06:24] Jawz84 commented on #267
That sounds great! I have a little time today, so I'll see if I can come up with a little poc implementation to get my feet wet. I'll fork and push a branch to my github so you can have a look.

[2022-02-06 06:39] Jawz84 commented on #267
Follow my progress here: https://github.com/spectreconsole/spectre.console/compare/main...Jawz84:adds_267_completer?expand=1

[2022-02-06 07:41] patriksvensson commented on #267
@Jawz84 Great! Feel free to open a PR before finishing it so that we can have a continuous discussion.

[2022-02-09 08:47] rerasolutions commented on #702
Good question, is there a way to call the help? I use a default command and I would like to show the help there

[2022-02-09 13:01] nils-a commented on #714
The "problem" is the `|| result == null` in

https://github.com/spectreconsole/spectre.console/blob/0bbf9b81a9a0e5b4a2c4d3e0aab253cf7e13f247/src/Spectre.Console/Widgets/Prompt/TextPrompt.cs#L147

This makes `TypeConverter`s that return null values (like the `UriTypeConverter`) yield "invalid" results.

I feel this is a bug. E.g. given the following *really far-fetched example*:

[code]

The `TypeC

[2022-02-11 06:52] danielklecha commented on #680
If you run AnsiConsole.Progress().StartAsync() then action parameter should contain await operations to use async feature.
I think that using only sunchronous operations inside StartAsync require to use Task.Run and it's correct solution.
Your sample should look more like this:
[code]
Then you will see in the output
[code]

[2022-02-15 00:15] panmau commented on #113
I face this issue currently.
You (@patriksvensson) said:

I'm not sure though what else we can/should do to fix this or whether this is an issue of Spectre.Console. If so I'm interested what is going wrong there.

[2022-02-15 14:25] jouniheikniemi commented on #587
@nils-a @patriksvensson I have now (finally) implemented this per the original idea (i.e. allow negative numbers to be parsed as option values). The implementation is actually a bit broader than that, and also applies to positional arguments. Previously if you had a command with syntax "temperature <degrees>", you couldn't say "temperature -5" and I think it makes sense to fix this at the same tim

[2022-02-16 08:26] nils-a commented on #587
@jouniheikniemi good thinking. I like the `-5..5` possibility. 👍

[2022-02-16 20:14] jouniheikniemi commented on #587
OK, permitted anything starting with a dash and a number. PR #732 is waiting for review.

[2022-02-18 06:39] xoofx opened #735 "Adding a rule to a table row throws an OverflowException"
Adding a rule to a column in a row of a table throws an `OverflowException` during render.

[code]

It seems to happen in `CalculateColumnWidths`:

![image](https://user-images.githubusercontent.com/715038/154630828-524349e4-a0a3-45f9-a306-1f163d849f3b.png)

And the rule is generating an `int.MaxValue`, which is then making the linq `Sum()` failing:

![image](https://user-images.githubusercontent.

[2022-02-18 06:43] xoofx commented on #735
Oops, never mind, I found why. It was because I was using an offscreen rendering! (so I setup the max width to int.MaxValue)

Completely my fault. Closing as it is expected. Sorry for the noise.

[2022-02-18 06:43] #735 closed

[2022-02-18 14:51] R-A-R-E opened #737 "Borders are not showing properly"
**Information**
 - OS:  Windows
 - Version: 0.43.0
 - Terminal: Windows Terminal

**Describe the bug**
When using any border style such as RoundedBorder it is not displayed properly and just shows as straight boxes.

**To Reproduce**
`            AnsiConsole.Write(
       new Panel(new Text("Right adjusted\nRight").RightAligned())
           .Expand()
           .RoundedBorder()
           .Header

[2022-02-18 15:00] patriksvensson commented on #737
If your terminal do not support Unicode, it will fall back to using an ANSI border.

[2022-02-18 15:00] #737 closed

[2022-02-18 19:56] grofit opened #740 "Allow updating of barchart values (for use within `Live` scenarios)"
**Is your feature request related to a problem? Please describe.**
I want to be able to update the value on a `BarChartItem` after it has been created, this is mainly for use cases when you want a chart to change in real time when using it within a `Live` scenario. As it stands at the moment even if I create each `BarChartItem` individually and access them the `Value` property is read only, with n

[2022-02-18 21:11] mudnug opened #741 "MultiSelectionPrompt allows adding children to a choice in a single call."
Similar to AddChoices() and AddChoice(), it would be convenient for MultiSelectionPrompt to support AddChildren() in addition to Add Child().

AddChildren(IEnumerable<string> children) would allow adding child choices in a single call

[2022-02-19 10:04] digitaldias opened #742 "Status does not disappear after a choice prompt"
**Describe the bug**
This appears to happen inside an AnsiConsole.Status():

After submitting some data for a configuration, when there is a conflict and I need to ask the user for  what to do,
when I move to the next step inside, the previous ctx.status() does not clear.
See the included gif below. My offending code is:

Am I doing this wrong?

[code]

**Additional context**
Add any other context

[2022-02-19 10:16] Gigas002 opened #743 "Usage System.IProgress/Progress with Spectre.Console.AnsiConsole.Progress"
After reading corresponding question in [discussions](https://github.com/spectreconsole/spectre.console/discussions/162) and writing my own example I came up with multiple questions, regarding usage of [System.IProgress](https://docs.microsoft.com/en-us/dotnet/api/system.iprogress-1?view=net-6.0)/[System.Progress](https://docs.microsoft.com/en-us/dotnet/api/system.progress-1?view=net-6.0) with [Sp

[2022-02-19 21:05] jouniheikniemi commented on #742
The [help page](https://spectreconsole.net/prompts/selection) states that "Using prompts inside status or progress displays, are not supported."

Even with the grammatical error, I do think that is your problem, unfortunately. :-(

[2022-02-20 06:37] digitaldias commented on #742
Yeah, I eventually learned that, I'll mark this as closed if you haven't already. Thanks for the quick reply!

[2022-02-20 06:37] #742 closed

[2022-02-20 19:23] lc9er opened #745 "Virus/Unwanted software warning on Windows 10"
**Information**
 - OS: Windows 10
 - Version: Windows 20H2 (Build 19042.1526), Spectre.Console (0.43.0), .NET 6.0.100
 - Terminal: Windows Terminal

**Describe the bug**
I attempted to run the Quick Start sample on the Spectre site and received the following warning:

[code]
It showed up in the event logs as:

Log Name: Application
Source: .NET RUNTIME
Event ID: 1026
Description:
Application: spec

[2022-02-20 20:01] patriksvensson commented on #745
Yeah, there has been a lot false positives lately for some reason. Are you using Microsoft Defender by any chance?

Could you upload your executable to VirusTotal and share your result?

[2022-02-20 20:37] phil-scott-78 commented on #745
Can you do us a favor and run two more scenarios?

1. Same `spectreTest` project name without our Spectre.Console installed
2. Different project name from `spectreTest` with Spectre.Console installed

[2022-02-21 02:01] lc9er commented on #745
I ran the test and it found nothing malicious. I didn't see an option to
export the results, so I'm attaching a screenshot.

On Sun, Feb 20, 2022 at 3:01 PM Patrik Svensson ***@***.***>
wrote:

[2022-02-21 02:09] lc9er commented on #745
I think you're on the right track:

This throws the same exception, even without Spectre.Console installed.

This succeeds. I'm able to build the example in the Quick Start (and
others). It does not throw an exception and world as expected.

Thank you for your help on this. Sorry Defender is being weird with the
project.

On Sun, Feb 20, 2022 at 3:37 PM Phil Scott ***@***.***> wrote:

[2022-02-21 03:20] phil-scott-78 commented on #745
No worries, made for an interesting Sunday afternoon of troubleshooting. I'm going to leave this open for now as we might poke MS to see about the false positve.

[2022-02-24 14:29] grofit opened #749 "Add ability for selections to have a distinction between display text and choice value"
**Is your feature request related to a problem? Please describe.**
Currently when using `SelectionPrompt` you are currently only able to provide on set of data to the choice (which is same as the output generic). So if I had a set of id backed display names i.e `{ apple: 1, pear: 2, peach: 3 ... }` I cannot display the text but get back the id of the selected field.

**Describe the solution you'd

[2022-02-24 16:57] phil-scott-78 commented on #745
Noticed Spectre.A was updated in [Defender update version 1.359.809.0](https://www.microsoft.com/en-us/wdsi/definitions/antimalware-definition-release-notes?requestVersion=1.359.809.0). I'm not seeing the error anymore so I'm going to go ahead and close this

[2022-02-24 16:57] #745 closed

[2022-02-25 05:24] Cryptoc1 commented on #701
I recently encountered the need to support cancellation in my CLI, and wanted to share my solution/workaround.

In my case, `SIGINT/SIGTERM` would terminate the cli process, but some background work would continue running. The API managing this background work supported passing a `CancellationToken`, so my solution consist of a `abstract` implementation of `AsyncCommand` that uses a `CancellationT

[2022-02-27 10:07] patriksvensson opened #750 "Add documentation for `BreakdownChart` widget"

[2022-02-27 10:07] patriksvensson opened #751 "Add documentation for `Columns` widget"

[2022-02-27 10:08] patriksvensson opened #752 "Add documentation for `Grid` widget"

[2022-02-27 10:08] patriksvensson opened #753 "Add documentation for `Padder` widget"

[2022-02-27 10:08] patriksvensson opened #754 "Add documentation for `Rows` widget"

[2022-02-27 10:08] patriksvensson opened #755 "Add documentation for `Panel` widget"

[2022-02-27 10:27] patriksvensson opened #756 "Add documentation for `TextPath` widget"

[2022-03-01 20:46] nils-a commented on #756
closed in #757

[2022-03-01 20:46] #756 closed

[2022-03-01 22:24] patriksvensson commented on #113
Documentation added in #744

[2022-03-01 22:24] #113 closed

[2022-03-01 22:28] patriksvensson opened #759 "Add path widget"
Add a widget to render paths.
The rendered path should collapse when it doesn't fit the current view.

[2022-03-01 22:29] patriksvensson commented on #759
Implemented in #734

[2022-03-01 22:29] #759 closed

[2022-03-02 00:22] darraghjones opened #760 "AnsiConsole Markup is escaped in dotnet test output"
**Information**
Windows 10. Windows Terminal

**Describe the bug**
Output is 'escaped' in unit test

**To Reproduce**
Create a test like this:
[code]
and run the test `dotnet test --logger="console;verbosity=normal"`

output appears like this: `\u001b[38;5;9mHello, World!\u001b[0m`

**Expected behavior**
I would expect the output to appear in red like it does with a console application

**Addition

[2022-03-05 19:04] Simonl9l commented on #580
I'd Thumbs up this request,[ Nate McMasters](https://natemcmaster.github.io/CommandLineUtils/docs/response-file-parsing.html?tabs=using-attributes) has this in his CLI, but we have other reasons with continue with this one.

[2022-03-05 20:16] rouke-broersma opened #764 "Ansi Links capability detection is not very precise"
**Is your feature request related to a problem? Please describe.**
Currently as far as I could determine Ansi link support is determined by checking if a terminal supports Ansi, and the terminal is not `cmd.exe` (basically what it comes down to I think) or has link support disabled explicitly through an Enhancer. There are as far as I can tell a lot of terminal emulators that support for example A

[2022-03-05 20:21] rouke-broersma commented on #764
I want to add that this is not at all a pressing issue, just something I noticed on a PR by a contributor who introduced spectre.console for this specific purpose. For now we will simply print the filepath as the link text.

[2022-03-05 20:45] patriksvensson commented on #764
There currently is no standardized way of detecting this capability, so we just make assumptions. We're happy to update the rules for this if you have any concrete suggestions.

[2022-03-05 20:59] rouke-broersma commented on #764
I notice that modern terminal emulators that I've tried for the most part support this capability so since there is no way to detect support I think the easiest way to deal with this would be to blacklist known bad cases such as powershell, visual studio developer terminal, visual studio debugger console, cmd.exe. If it is possible to detect those environments of course. I think CI environments ca

[2022-03-06 01:30] phil-scott-78 commented on #764
Can you send a reproduction of what you are seeing that's invalid? We are just sending ANSI sequences for the link markup which should be ignored by the console if they don't support it. E.g. here's the regular conhost running the links example. Just doesn't display the link. Are you seeing the ANSI sequences or is the output corrupt?

![image](https://user-images.githubusercontent.com/2447331/156

[2022-03-06 10:02] rouke-broersma commented on #764
Hi @phil-scott-78 ,

Not displaying the link is the problem. Now a user of the app just sees 'click here' without being able to click on the link which means in our case that the user will not know where their html report with the execution result is located.

[2022-03-06 10:06] patriksvensson commented on #764
@rouke-broersma You can always set the `Console.Profile.Capabilities.Links` (see https://github.com/spectreconsole/spectre.console/blob/main/src/Spectre.Console/Capabilities.cs#L25) to false, or create a special profile enricher if you know that the environment won't be able to display the link correctly.

[code]

[2022-03-06 10:10] rouke-broersma commented on #764
@patriksvensson until there is a way to detect ansi link support we have the workaround of printing the link path as the link text. This is what we had before anyway so it is acceptable. It would be nice if some day there would be a way to detect this so we can make it prettier.

Would you know of a place where I could suggest something like this? So far it seems like the ansi link feature comes e

[2022-03-07 03:06] Simonl9l opened #765 "The option has an optional value but does not implement IFlagValue."
**Information**
 - OS: MacOS
 - Version: 0.43.0"
 - Terminal: MacOS/zsh

**Describe the bug**
[code]

[code]

Im looking to have an Option that will accept a list of strings, but also in the case that no string are provided it acts a flag similar to a `CommandOption` with bool?

The Error is obscure at best. I've also tried with `string[] OptionList` with same results.

The error message here is c

[2022-03-09 08:30] WojciechNagorski opened #766 "AddDelegateAsync"
**Is your feature request related to a problem? Please describe.**
I would like to run ASP Core application in one of the command:
[code]
But in this way, I'm not able to pass original args to my host:
[code]
So I tried use the `AddDelegate` method instead of `AddCommand`, but this method can't be async.
[code]

**Describe the solution you'd like**
This problem can be solved in two ways:
1. Add or

[2022-03-09 08:34] WojciechNagorski commented on #766
I can prepare PR with the solution, but first I need to know which solution do you prefer.

[2022-03-11 01:52] jeffward01 opened #767 "[Suggestion] Change 'Color' to 'SpectreColor'"
Hello!

I suggest that 'Color' from `Spectre.Console.Color` is change to `Spectre.Console.SpectreColor`.

The reason for this change is that `Color` is incredibly popular, and has conflicting names in just about every single Console UI library.

I find myself every time when working with `Spectre.Console` that I must perform a using statement declaration of:

[code]

# Suggestion

I suggest: `Spec

[2022-03-11 03:55] DrDao opened #768 "LiveTable doesn't work as expected"
**Information**
 - OS: [eg Windows]
 - Version: [Windows 11]
 - Terminal: [Windows Terminal]

**Describe the bug**

[code]

**To Reproduce**
He should update a certain row of data as expected, but as a result he produces a lot of empty rows

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
<img width="746" alt="20220311115309" src="https://user

[2022-03-18 11:29] famda opened #771 "Not possible to specify a CommandOption with "-d""
Hey,

Noticed that is not possible to specify a CommandOption with "-d":

`
            [CommandOption("-d|--document")]
            public string? Document { get; set; }
`
It always return the error message:
Error: Option 'document' is defined but no value has been provided.

[2022-03-21 11:34] tamasgt opened #773 "No title, one choice, wrong output"
Hello,

**Information**
 - OS: Windows/MacOS
 - Version: 0.43
 - Terminal: Windows Terminal

**Describe the bug**
If there is one choice and the title is off, the output is bad.

**To Reproduce**
[code]
**Screenshots**
![Snag_9a4c8c](https://user-images.githubusercontent.com/5910815/159252863-a9cb33c5-cfd8-48ea-a4c8-510816a96dc7.png)

Tamas

---
Please upvote :+1: this issue if you are interested

[2022-03-21 12:23] tamasg opened #774 "Wrong border"
Hello,

**Information**
 - OS: Windows
 - Version: 0.43
 - Terminal: **ONLY** Windows Terminal

**Describe the bug**
If no border color is specified, the border is broken.

**To Reproduce**
[code]
**Screenshots**
![Snag_c7e046](https://user-images.githubusercontent.com/5910815/159259779-fd6e9e04-bf09-469f-9bd4-412ec85a7981.png)

Tamas

[2022-03-21 13:10] phil-scott-78 commented on #774
when you say broken are you talking about the gap?

Nothing we can do about that. That's a combination of your terminal and font. We just write characters to the screen, not pixels.

[2022-03-21 14:43] phil-scott-78 commented on #773
I was able to reproduce on my end, thanks for the report. If you get a chance to take a look at submitting a PR with a fix I'd be happy to review too

[2022-03-22 01:37] tamasg commented on #774
Hello,

yes, i was thinking about the gap. I am a new user of Spectre.Console, I was amazed to see that too. The character appears to change if no color is specified. Thanks,

Tamas

[2022-03-22 03:21] tamasg commented on #774
I even tested it a bit. Maybe a Windows terminal problem. In the case of a normal board, this is what I wrote. But for a live board, there will be a gap when the color of the frame and text is the same.

Incomprehensible ...  :)
![Snag_71821b](https://user-images.githubusercontent.com/5910815/159401265-0b0553e1-91b4-45f3-a117-4c9e2096867c.png)

[2022-03-22 04:08] phil-scott-78 commented on #774
Might be worth opening an issue with the Windows Terminal project. Seems you have a solid reproduction they might be interested in with their rendering.

[2022-03-22 08:52] patriksvensson commented on #774
Thanks for reporting this @tamasg, but I'm going ahead closing this since this is something that would need to be fixed withing Windows Terminal.

[2022-03-22 08:52] #774 closed

[2022-03-24 07:11] Scordo commented on #749
I think it is not needed. Just write a class like this and use it as the Generic-Parameter for the Selection-Prompt:
[code]

[2022-03-24 07:19] Scordo commented on #508
I would like to see that feature, too. My usecase is:
I'm showing a "menu" usign the Single-Selection-Feature. When a user selects an entry some action is executed. After the execution the menu is shown again where last action executed is selected

[2022-03-24 07:36] Scordo opened #775 "MultiSelectionPrompt: Allow setting max number of selections"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-24 22:23] grofit commented on #749
ok brilliant thanks

[2022-03-27 16:56] kgnfth opened #776 "The type or namespace name 'TextPath' could not be found"
spectre.console version 0.43.0
Im getting this error `The type or namespace name 'TextPath' could not be found`

![image](https://user-images.githubusercontent.com/73314940/160292010-0c7d379b-9255-40f1-9139-c28b032a9ac6.png)

[code]

[2022-03-27 17:05] patriksvensson commented on #776
This feature will not be released until 0.44. You will have to reference the latest preview version for this.

[2022-03-27 17:06] phil-scott-78 commented on #776
You'll need one of the more recent preview releases to use TextPath.

Any feedback on it would be appreciated before we turn it live in the 0.44 release!

[2022-03-27 17:32] kgnfth commented on #776
@patriksvensson @phil-scott-78 Aha okey, I did not know.

[2022-03-27 17:32] #776 closed

[2022-03-28 06:45] tamasg commented on #773
Thank you, unfortunately Spectre.console is new to me to do right PR. But I checked, I think that's the problem. In ListPrompt<T> class:
![Snag_3ba0a6](https://user-images.githubusercontent.com/5910815/160341201-c4fcfa34-7ab4-45dc-87aa-a7fb583ac5d3.png)

[2022-03-29 12:53] alvpickmans commented on #701
@Cryptoc1 nice workaround, it feels it would be a nice and simple addition to the library (yet I'm sure it has some implications)

I've decouple the cancellation token source from the abstract command implementation so it can be used on both AsyncCommand and AsyncCommand<TSettings>, but otherwise pretty nice solution for now!

[code]

[code]

[2022-03-29 15:07] Simonl9l commented on #701
Would be good to incorporate into core product, and also do simulate to create an`ValudateAsync` path too.

[2022-04-04 16:53] ZedZipDev opened #800 "How to compile examples in VS2019?"
I have tried to build it in VS2019 but received a lot of errors
No LangVersion 10

Is it possible to compile it in VS2019?

[2022-04-04 17:47] #800 closed, assigned to nobody

[2022-04-12 14:18] sandreas opened #812 "Question: Is there support for a IDictionary<string,string> as [CommandOption]?"
I'm currently trying to add a command option consisting of a `IDictionary<string,string>`.

Is that possible out of the box, and if it is, how would I use that?

[code]

Where the IMetadata forces the `AdditionalFields` to be `IDictionary`, but I could work around that, if it would be `LookUp` or `List<(string key, string value)>`... Command line call should be one of these:

[code]

I would reall

[2022-04-12 16:47] sandreas commented on #812
Found it:

[code]

[2022-04-12 16:47] #812 closed

[2022-04-12 18:03] m5x opened #813 "TableRowCollection.Update - unnecessary copying of data?"
Is there a reason for replacing items in List<> instances in method [TableRowCollection.Update](https://github.com/spectreconsole/spectre.console/blob/52c1d9122bce4c73ae9205e2f2aff01cba03a4c4/src/Spectre.Console/Widgets/Table/TableRowCollection.cs#L123) by removing old item and then inserting new one at the same index? This makes List<> do unnecessary copying which could be avoided by simply repla

[2022-04-13 20:59] patriksvensson commented on #813
Not a bug, moving this to discussions.

[2022-04-13 20:59] #813 closed

[2022-04-14 19:33] sandreas commented on #812
Even better:

[code]

[2022-04-23 15:23] mgood7123 commented on #703
this works fine in Windows Console

do note, that trying to update text WHILE it is resizing is often UB in all terminals

after the console has been resized, the Row and Width info are unreliable and you cannot update test unless you restore to original or greater window size

for example if you know you need to move up 5 rows to get to the start, and to resize to 2 width, then moving up 5 rows w

[2022-04-23 15:26] mgood7123 opened #818 "live display with `AboveNormal` and `Highest` priority threads"
how can i get `Spectre.Console` to update a `Progress` on a `AboveNormal` or `Highest` priority thread?

[2022-04-30 17:05] BlackBearFTW opened #821 "Allow Selection Item to be sticky"
**Describe the solution you'd like**
It would be neat if you could make a selection item sticky, so when you scroll down the items stays on the screen

**Additional context**
For example, a create button above a list of existing items

[2022-05-01 09:42] patriksvensson commented on #821
@BlackBearFTW We appreciate your suggestion, but we intentionally will be keeping the functionality of the prompts simple. For more advanced scenarios, such as the one you're suggesting, I would recommend using a full-fledged TUI library such as Gui.cs.

[2022-05-01 09:42] #821 closed

[2022-05-01 09:43] patriksvensson commented on #818
Moved to discussions.

[2022-05-03 09:04] mastoj opened #823 "Help doesn't show up for command"
I don't think this is a bug, but couldn't find any other forum to ask the question.

I have a simple console app with only one command. The application works fine and I love the lib so far, but the problem is that I can't display the help for the command. `--help` only works for the applicaiton, but I can't get `myapp command --help` to works. Shouldn't the `--help` for a command show settings for

[2022-05-03 10:33] mastoj commented on #823
For some reason it started work, not sure what I changed though.

[2022-05-03 10:33] #823 closed

[2022-05-07 05:53] sandreas opened #825 "A `boolean` flag followed by a positional argument leads the the error `Flags cannot be assigned a value.`"
**Information**
 - OS: macOS
 - Version: `0.43.0`
 - Terminal: macOS Term

**Describe the bug**
A combination of a `boolean` flag and a positional argument leads the the error `Flags cannot be assigned a value.`, which is wrong in my opinion.

**To Reproduce**
Use the following settings:
[code]
And call the app like this:

[code]

**Expected behavior**
As `--dry-run` is a flag, I would expect `spe

[2022-05-14 07:05] sandreas opened #826 "Comma separated value support for settings arrays / enumerables"
**Is your feature request related to a problem? Please describe.**
Let's say you can define multiple colors for an enum array:

[code]

I'm a bit frustrated, that I have to provide the option parameter 4 times, because it could be much shorter just providing the options with a separator.

**Describe the solution you'd like**
[code]

[code]

**Describe alternatives you've considered**
[code]

What

[2022-05-14 22:14] patriksvensson opened #828 "Move Spectre.Console.Cli to it's own package"
Last maintainer meeting we decided to move Spectre.Console.Cli to it's own package.
This is an issue tracking that work.

[2022-05-14 22:14] patriksvensson commented on #828
Closed via #827

[2022-05-14 22:14] #828 closed

[2022-05-14 22:17] patriksvensson opened #829 "Remove .NET 5 TFM"
.NET 5 TFM is EOL since May 10 (see https://dotnet.microsoft.com/en-us/platform/support/policy/dotnet-core).
Since it's not supported by Microsoft anymore, we're not going to support it either.

[2022-05-17 11:47] patriksvensson opened #833 "Spectre.Console.Cli API reference missing from website"
### Discussed in https://github.com/spectreconsole/spectre.console/discussions/832

<div type='discussions-op-text'>

<sup>Originally posted by **ivml** May 17, 2022</sup>
Since `Spectre.Console.Cli` was moved into its own package in #827 , the API reference pages for both `Spectre.Console.Cli` and `Spectre.Console.Cli.Unsafe` have been missing.

https://spectreconsole.net/api/

![image](https://u

[2022-05-20 09:40] patriksvensson opened #835 "Add option to show separators between rows"
**Is your feature request related to a problem? Please describe.**
It would be nice if there was a way to show separators between table rows.

**Additional context**
This should be opt-in

[2022-05-26 22:22] sanitycheck opened #838 "Create raw escape sequence/markup before writing to Console?"
Hi there! Thank you for all the great work on this library! I have been using it for the past year to build the CLI for a single-user Console based application. I would like to convert it to a multi-user web application and have the same formatted text rendered in a browser-based terminal. I can't capture output from Console as I can't have a separate instance per user, but is there any way I can

[2022-05-27 19:08] joerodgers opened #839 "Support PowerShell Module"
Would love a PowerShell module that allows the creation of some basic tables without having to use the .NET code syntax. Did a small PoC, but it's a lot of code that could be simplified with some cmdlets.

https://gist.github.com/joerodgers/c08a911e545575d382b7d0625699ab08

[2022-05-27 19:54] #838 closed

[2022-05-30 09:46] ranjithmwebware opened #840 "Panel Border Breaking at Maximizing Terminal after rendering the panel at medium width"
**Information**
 - OS:  Windows
 - Terminal: Windows Terminal, PowerShell

**Describe the bug**
  Starting time  the Width of the panel is 50% and Some content is rendered using Panel and After Maximizing the terminal from 50% to 100% the Content of the panel is Breaking And making it Clumsy(order less)

**To Reproduce**
1.Open Terminal and make Console width as 50%
2.Render Some 4 Lines of Descri

[2022-06-05 11:15] sandreas commented on #825
Added a small `cli-tester` to my open source project to demonstrate the issue: https://github.com/sandreas/tone/tree/main/cli-tester

[code]

Since this is an issue with UX, I think this is a serious one. I would really appreciate ANY feedback...?! Maybe I'm doing something wrong?

[2022-06-05 11:29] sandreas opened #842 "Wrong handling of empty string and space values (e.g. `--order-by=""` or `--order-by=" "`)"
**Information**
 - OS: Linux, Ubuntu 18.04 LTS
 - Version: 0.44
 - Terminal: xterm-256color, zsh

**Describe the bug**
Providing an empty value for a string option is not possible in my test project.

[code]

I would consider an empty string as a valid value. Even stranger, if I provide a space (` `) as value, it gets trimmed, although I never did that myself:

[code]

**To Reproduce**

- Compile

[2022-06-08 13:45] dswisher commented on #193
Even as a developer, I was quite confused by the "Can't assign value" error message. Ideally, options would be allowed before arguments, but at the very least, could the error message be improved?

[2022-06-17 14:40] nilaoda opened #845 "[Question] Line break during write long string"
Thanks for your exciting library! I have a question to ask...

**Environment**
 * Spectre.Console 0.44.1-preview.0.17
 * .NET 6
 * Microsoft Visual Studio Debug Console

**Code**:
[code]

**Output**:

![image](https://user-images.githubusercontent.com/20772925/174317643-f18f895f-0491-4fd6-9ae8-0f3c225b8599.png)

Select all, then copy&paste to Notepad

[code]

`Console.WriteLine` no newlines, but `

[2022-06-17 19:14] sid-6581 commented on #845
I noticed the same thing, and it also occurs even when redirecting the console output to a file.

[2022-06-18 08:51] Netzeband commented on #519
Hello, I run into the same issue today. What about a simply static method, which escapes all relevant sequences from a string (and a method to reverse the escaping). Then it is easy to embedded strings into MarkupLine and escape it when necessary?

[2022-06-18 11:18] patriksvensson commented on #519
There is one: `EscapeMarkup`

[2022-06-18 14:54] libe commented on #189
Hi, this is really an issue where you have complex sub commands and you need to show a list of examples per sub command. Hope this gets scheduled for fix in the next release, btw fantastic library! 👏

[2022-06-19 07:38] Netzeband commented on #519
Wow, I did not notice this. In this case, everything is in place I would say. Thanks 👍

[2022-06-19 09:31] patriksvensson commented on #189
@libe Thank you! I'm currently on vacation until August and haven't really planned on working a lot on Spectre.Console during this time, but if you feel that this is important, a PR is always appreciated! 😊

[2022-06-20 09:25] nilaoda commented on #845
https://github.com/spectreconsole/spectre.console/blob/eb4a7d3bf4e70cceab98b81499826351991dd7f5/src/Spectre.Console/Widgets/Paragraph.cs#L185-L192

@sid-6581 I found that, set this prop to avoid line splitting

[code]

[2022-06-20 09:25] #845 closed

[2022-06-20 09:57] shiaharfiyan opened #847 "User can not use backspace for multiline input"
**Information**
 - OS: Windows 10
 - Version: 21H2 Build 19044.1766
 - Terminal: Command Prompt

**Describe the bug**
Using AnsiConsole.Prompt when user use backspace for the multiline input, the previous line cannot be deleted, stuck on the last line.

**To Reproduce**
Use AnsiConsole.Prompt(TextPrompt), user input more than buffer size (it will goes to newline) then press backspace to delete all

[2022-06-21 08:45] patriksvensson commented on #845
@nilaoda That is not something I would suggest doing. That will end horribly if you try to render something that uses the maximum width.

[2022-06-21 23:09] solonrice commented on #701
As another work-around is you could set up a `ICommandInterceptor` that adds a CancellationToken to the base settings if it is default. Then you have it in all your Settings parameters in every command.

[2022-06-22 13:45] sid-6581 commented on #845
@patriksvensson what is the solution here? I would have hoped that it would at least autodetect when the output is redirected away from the console and would not wrap the lines then.

[2022-06-22 15:18] patriksvensson commented on #845
There is no real solution to this at the moment due to how things work internally related to layouting. I would recommend using System.Console.WriteLine if this behavior is important.

[2022-06-22 16:01] patriksvensson commented on #845
I wouldn't recommend it.

[2022-06-25 14:24] 0xStuart opened #851 "Esc Key to exit selection"
There is an "Abort" input selection, but it is not used.
https://github.com/spectreconsole/spectre.console/blob/eb6a9d8d047266b1317cdbed87c35f68996b9f0f/src/Spectre.Console/Prompts/List/ListPromptInputResult.cs#L8

Optionally tie that to the Esc Key, so that you can have nested menus.

[2022-06-25 14:38] 0xStuart opened #852 "Replace Environment.NewLine with an override."
Environment.NewLine makes the assumption, spectre.console is running on the local console.  It may not be.  Telnet requires `\r\n`.  If you serve that from Linux you get just `\n`

[2022-06-30 12:02] thinker227 opened #853 "Default implementation of/how to implement ITypeRegistrar?"
I'm sorry if this does not fit as an issue but I have been unable to find any other location to ask.

I am developing an app using Spectre.Console.Cli and want to pass in some configuration like an `ILogger` into the app. I haven't been able to find a default implementation for `ITypeRegistrar` so I figured I have to implement it myself. I'm using a plain `Dictionary<Type, object>` for storing the

[2022-06-30 12:23] rena0157 commented on #853
There are example implementations available here: https://github.com/spectreconsole/spectre.console/tree/main/examples/Cli/Injection/Infrastructure

In addition there is documentation here: https://spectreconsole.net/cli/commandapp

[2022-06-30 12:47] #853 closed

[2022-07-02 09:18] #829 closed

[2022-07-03 20:23] sandreas opened #890 "Value starting with `-` is mistreated as extra option"
**Information**
 - OS: Linux, Ubuntu 18.04 LTS
 - Version: 0.44
 - Terminal: xterm-256color, zsh

**Describe the bug**
Providing a valid value starting with `-` throws an exception / error, when using the following syntax:
[code]

Using the syntax with `=` as value separator works like expected:

[code]

**To Reproduce**

- Compile https://github.com/sandreas/tone/tree/main/cli-tester
- Run the ab

[2022-07-05 13:59] sandreas opened #891 "Invalid handling of parameter values starting with double quotes (`"`), e.g. `--order-by='"quoted" value'`"
**Information**
 - OS: Linux, Ubuntu 18.04 LTS
 - Version: 0.44
 - Terminal: xterm-256color, zsh

**Describe the bug**
Parameter values cannot start with double quotes (`"`), they are either replaced or handled completely wrong. Additionally, parameter values are TRIMMED (remove leading spaces), so adding a space to workaround this is not possible.

The following example even cuts off the paramete

[2022-07-05 16:37] sandreas commented on #825
@patriksvensson Sorry to adress you directly but I just wanted to ask, if this is the right place to report these kind of issues or am I doing something wrong?

[2022-07-06 00:59] jcasale opened #893 "Guidance with supplementing auto-generated help."
I need to append some text to the auto-generated help to provide my users with some additional direction that is not related to any specific command. For example, my utility logs to the Windows application event log and I want to outline all the events and their IDs.

Is it possible to accomplish this?

[2022-07-09 19:32] phil-scott-78 commented on #891
Unfortunately, this is out of our hands. We are just parsing the `args` that .NET gets from its command line handler. In fact, on Windows I get different results from you with different examples.

David Deley has a [nice resource keeping track of all the nuisances](https://daviddeley.com/autohotkey/parameters/parameters.htm).

I'm gonna go ahead and close this because as you can tell from David's

[2022-07-09 19:32] #891 closed

[2022-07-09 20:56] sandreas commented on #891
Thank you for your response, but I still think, that it IS a problem in `spectre.console`. On Windows, single quotes (`'`) CANNOT be used to enclose arguments, so on Windows this problem might not be reproducible, because only double quotes (`"`) are supported for enclosure.

On POSIX you can either use double quotes or single quotes (`"` or `'`) to enclose an argument - the difference is, that in

[2022-07-19 22:52] seiter commented on #595
Like the suggestion, I wonder if it would provide a solution to an issue where validation logic is bypassed when when a DefaultValue is set.

In my case, I expected to be able to provide a default value but have the validation logic run against it, however, with the TextPrompt, validation is bypassed when using DefaultValue as shown below:

`if (DefaultValue != null)
{
	console.Write(IsSecret ? "*

[2022-07-20 19:09] zbalkan opened #901 "InferSharp static analysis results: Resource leaks and thread safety violations"
**Information**
 - OS: Windows
 - Version: N/A
 - Terminal: N/A

**Describe the bug**
The bugs are found by InferSharp static analysis tool.

[code]

**Screenhots**
Below you can find the [Microsoft Sarif Viewer](https://microsoft.github.io/sarif-web-component/) screenshot with attached `result.sarif` file uploaded within [report.zip](https://github.com/spectreconsole/spectre.console/files/9153801

[2022-07-22 12:06] kevinms99 opened #902 "Trimming periods off documentation"
I was surprised that the help output chops periods off documentation.  Occasionally, I create commands that need a little more context than I can put into a single sentence, so I ended up with documentation that had several sentences -- the last sentence ends up with no period (even though I add it in my `DescriptionAttribute`).

I'm curious whether there's some standard or tradition that I'm unaw

[2022-07-22 13:58] richardwerkman opened #903 "EscapeMarkup doesn't work when using [link=...]"
**Information**
 - OS: [Windows]
 - Version: [0.44.0]
 - Terminal: [Windows Terminal]

**Describe the bug**
Escape doesn't work in some cases. It seems in combination with [link] it throws an exception `Encountered unescaped ']' token at position 56`

**To Reproduce**
[code]
**Expected behavior**
No exception.

**Additional context**
This is an actual use case in Stryker.

[2022-07-23 04:21] tewb opened #905 "Padding for selections?"
Hello I'm wondering if there is a way to add left padding for selections so my console UI can look cleaner, if not it's okay minor issue anyways.
![image](https://user-images.githubusercontent.com/77028834/180590174-e6f11bda-2d11-438c-be90-6bed7b6e8ce9.png)

[2022-07-27 15:05] Fed03 opened #908 "Commands section of help message does not list anything"
**Information**
 - OS: Mac
 - Version: 0.44.0
 - Terminal: iTerm2, Rider terminal

**Describe the bug**
When calling the the CommandApp via CLI without a default Command, the commands section of the displayed help message does not list anything.

**To Reproduce**
Just configure a CommandApp without a default command and with a bunch of standard commands, i.e.
[code]
Then, simply execute `dotnet ru

[2022-08-01 09:39] volundmush opened #909 "ANSI to Spectre.Console ANSI Text converter"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

No current problem, but a thing I'd really like.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Rich has a utility function that can take text which has already been rendered as ANSI and

[2022-08-01 22:32] nils-a commented on #908
@Fed03 Sorry, but I am unable to reproduce that.

The code I used was:

[code]

Which produced the expected result of:

[code]

However, I don't have access to a mac using iTerm2.

Could you try again in another terminal?
(Am I correct in assuming your Rider Terminal is also setup to utilize iTerm2?)

[2022-08-04 15:30] Lasamat opened #913 "TypeRegistrar and TypeResolver should be included"
**Is your feature request related to a problem? Please describe.**
I looked at the documentation and examples for using Dependancy Injection with this library and both the example for Logging and DI use the exact same two wrapper classes to convert from Microsoft.Extensions.DependencyInjection to use with this Library.

**Describe the solution you'd like**
I would like to have either those two cla

[2022-08-04 20:09] #913 closed, assigned to nobody

[2022-08-05 09:12] nils-a commented on #902
@kevinms99 seems this is intended:

https://github.com/spectreconsole/spectre.console/blob/3a7b8aa1d2bc97493a17d9a0d902eb4a93248e5e/src/Spectre.Console.Cli/Internal/HelpWriter.cs#L364-L366

Not that I'd be aware of it. (Then again, I've not seen many other implementations...)

@patriksvensson @phil-scott-78 what do you think?

[2022-08-06 02:29] fgimian opened #916 "Validate is not called if a CommandSettings class defines a constructor"
**Information**
 - OS: Windows 11 Pro
 - Version: 0.44.0
 - Terminal: Windows Terminal / PowerShell 7

**Describe the bug**
Spectre CLI doesn't seem to call `Validate` if a constructor is provided for a `CommandSettings` class.

**To Reproduce**

[code]

**Expected behavior**
In the example above, invocation when calling `Run` should fail with an error but it runs without error.  When removing the

[2022-08-06 17:58] Fed03 commented on #908
@nils-a sorry for the late answer. I tried exactly with your code and experienced the same problem.
I tried also with the built-in terminal and with hyper.is, trying also with different shells (sh, bash) other than the default zsh.

[code]

obtaining the expected result
[code]

let me know if I can help you

[2022-08-17 03:48] tcostin opened #922 "New exception formatting throws ArgumentNullException for certain Exception objects"
**Information**
- OS: Windows 10 / .Net Framework 4.8
 - Version: 0.44.0

**Describe the bug**
ArgumentNullException thrown at ExceptionFormatter::FilterStackFrames(this ...) line 226: the call to ToArray() does not work if the argument is null. This happens for exception objects that are manually created and not thrown.

This bug is new to this release. Spectre.Console version 0.43.0 handles this

[2022-08-17 14:03] #922 closed

[2022-08-18 10:03] #916 closed

[2022-08-19 21:31] nils-a commented on #664
If it's ok for everyone, I'm closing this in favor of #901.

[2022-08-20 20:24] nils-a commented on #664
Closing, as #901 supersedes this.

[2022-08-20 20:24] #664 closed

[2022-08-21 17:52] jcasale opened #925 "Implementations of CommandSettings that override Validate() result in CommandRuntimeException"
**Information**
 - OS: Windows
 - Version: 10.0.20348.887
 - Terminal: Command Prompt

**Describe the bug**
Implementations of `CommandSettings` that override `Validate()` result in a `CommandRuntimeException` instead of a `CommandParseException`.

**To Reproduce**
Enable `PropagateExceptions` in the `CommandApp`, derive from `CommandSettings`, override `Validate()` and return an error.

**Expecte

[2022-08-27 00:16] lonix1 opened #930 "Renders invisible colours when using dark theme"
**Information**
 - OS: linux
 - Version: ubuntu 20
 - Terminal: gnome terminal
 - zsh 5.8
 - dotnet 6.0.400 with agnoster theme
 - Spectre.Console 0.44.0

**Describe the bug**
Some items are rendered in colours which cannot be seen in the terminal.

**To Reproduce**
- create project
[code]
- Add code from the [getting started page](https://spectreconsole.net/cli/getting-started)
- `$ dotnet run --

[2022-08-27 00:19] lonix1 commented on #930
I had an idea that maybe it's the terminal's theme. My `gnome-terminal` uses the extremely popular "Solarized Dark" theme. When I changed it to a light theme, I could see that text. So the conflict is definitely the terminal theme.

However, when I chose any other dark theme, I got the same problem. So the problem is not the theme itself, but rather that *it's a dark theme*.

Do the colours render

[2022-08-27 01:27] lonix1 commented on #930
Another example, using the code from the [commands page](https://spectreconsole.net/cli/commands):

![spectre2](https://user-images.githubusercontent.com/40320097/187008923-78917420-ec63-499b-93e4-db9b157c41c4.jpg)

[2022-08-27 01:53] lonix1 opened #931 "More flexible config options"
## Is your feature request related to a problem? Please describe.
The docs show how to create command:
[code]
And how to add it to the app in `Program.Main`:
[code]

It's not ideal that the config is separate from the command.

## Describe the solution you'd like
It would be nice to be able to define all config in one place, in the command. For example:

[code]

That would be good in 80% of the ca

[2022-08-27 01:56] lonix1 commented on #902
I see this even for short sentences.

From the simple getting started [example](https://spectreconsole.net/cli/getting-started):
[code]

Renders as:
[code]

Note the lack of a trailing full stop.

[2022-08-28 01:47] lonix1 opened #932 "Analyzer nuget package misconfigured"
The [nuget page](https://www.nuget.org/packages/Spectre.Console.Analyzer) for the analyzer has this:
[code]

But it's an analyzer, so it should be:
[code]

For example, [see here](https://www.nuget.org/packages/AsyncFixer#package-reference).

I assume this has something to do with the way the nuget was packaged.

[2022-08-29 06:43] patriksvensson commented on #931
This is actually by design. The philosophy behind Spectre.Console.Cli is to separate the commands from the settings and tie everything together via composition.

I suspect something else would be more suitable for your needs, such as the excellent [System.CommandLine](https://docs.microsoft.com/en-us/dotnet/standard/commandline/get-started-tutorial). I use it myself when my needs go beyond what Sp

[2022-08-29 06:47] patriksvensson commented on #932
Ah, I think we would need to add `<DevelopmentDependency>true</DevelopmentDependency>` to the `Spectre.Console.csproj`.

If you're up for doing this, a PR is very welcome.

[2022-08-29 06:50] patriksvensson commented on #925
@jcasale Since the problem occurs in runtime due to external factors (input being received via arguments), this is considered a runtime exception and not a parse exception (which means something is wrong with how Spectre.Console.Cli has been configured).

[2022-08-29 06:50] #925 closed

[2022-08-29 06:54] #903 closed

[2022-08-29 08:20] #932 closed

[2022-08-29 22:33] f2bo opened #940 "Incorrect column width calculation for custom table borders"
**Information**
 - OS: Windows
 - Version: 19044.1889
 - Terminal: Windows Terminal

**Describe the bug**
Column widths are not calculated correctly when one of the edges in a custom defined border have zero width.

**To Reproduce**
I'm attempting to reproduce the screen layout of a C program that I'm porting to C# and which uses `ncurses` to generate its output. While portions of the UI could be

[2022-08-30 03:27] patriksvensson commented on #940
@f2bo This is an excellent bug report! Would you be open to sending a PR to fix this?

[2022-08-30 22:54] f2bo commented on #940
My main concern is that I'm not really familiar with the library as I started evaluating it only a few days ago but I'll give it a shot.

I already have the fix mentioned above but I now see that there are other places where it is assumed that borders always have non-zero widths, for example, in the `Panel` class. I've already fixed that too. However, I'm still seeing some unexpected whitespace in

[2022-08-31 09:14] beanywilson opened #942 "Cannot Use Interaction Prompts on Mono - Linux"
System.InvalidOperationException: Failed to read input in non-interactive mode.
  at Spectre.Console.DefaultInput.ReadKeyAsync (System.Boolean intercept, System.Threading.CancellationToken cancellationToken) [0x00026] in <87712f92a6884818b74de538e4acbeb0>:0
  at Spectre.Console.AnsiConsoleExtensions.ReadLine (Spectre.Console.IAnsiConsole console, Spectre.Console.Style style, System.Boolean secret,

[2022-08-31 09:41] patriksvensson commented on #942
@beanywilson Please fill out the bug report template.

[2022-08-31 09:42] patriksvensson commented on #940
@f2bo I would say that each place can be fixed in separate PRs. Not all of them have to be fixed at once.

[2022-08-31 12:52] lonix1 opened #943 "Customise text prompt for secrets"
**Is your feature request related to a problem? Please describe.**
The [text prompt](https://spectreconsole.net/prompts/text#secrets) for secrets echoes asterisks (***) to the console.

This is acceptable. But it feels weird on unixy systems, where the traditional secret prompt (`sudo`) echoes nothing.

**Describe the solution you'd like**
It would be nice to be able to customise the masking chara

[2022-08-31 20:36] beanywilson opened #944 "Cannot Use Interaction Prompts on Mono - Linux"
**Information**
 - OS: Linux - Ubuntu 20.04 running Mono 6.1.182
 - Version: [e.g. 0.33.0]
 - Terminal: bash

**Describe the bug**
Any interactive feature crashes out with the following output

System.InvalidOperationException: Failed to read input in non-interactive mode.
at Spectre.Console.DefaultInput.ReadKeyAsync (System.Boolean intercept, System.Threading.CancellationToken cancellationToken)

[2022-08-31 20:37] beanywilson commented on #942
@patriksvensson  - apologies - have done.

[2022-08-31 20:37] #942 closed

[2022-09-02 18:55] f2bo commented on #940
@patriksvensson True, though I hoped to at least resolve the issues that are preventing me from creating the layout I wanted.

I have identified, and have potential fixes, for another two issues in addition to the one I describe above. Note that they all are the result of using a border where one or more of its edges has zero width. Given that they are all related, would you like me to include mor

[2022-09-03 07:22] lonix1 commented on #930
Obviously it's [just me](https://github.com/dotnet/command-line-api/issues/1835).

If anyone else has this issue let me know maybe we can compare notes to repro the problem.

[2022-09-03 07:22] #930 closed

[2022-09-03 15:26] furesoft opened #948 "TableRow - Allow Selection and Execute action if Enter"
For my current usecase it would be awesome to have a table that can select a row and execute actions like edit/delete

[2022-09-03 16:26] patriksvensson commented on #948
@furesoft I'm sorry to say, but that is outside of the design, and the philosophy of the Table class, which is not meant to be interactive of it's own. I would recommend creating a new widget based on `LiveDisplay` for this purpose.

[2022-09-03 16:26] #948 closed

[2022-09-07 06:54] krisrok opened #951 "Automatically showing help using default command"
As some users pointed out in https://github.com/spectreconsole/spectre.console/issues/702 it'd be nice to also show the help/usage when using a default command like here:
[code]

When run without any arguments given it currently only shows:
[code]

It only works when adding it as a regular command
[code]

But as it is the only command this name is totally redundant and the help showing up is unnec

[2022-09-08 12:28] lonix1 opened #954 "Clickable file:// links"
In https://github.com/spectreconsole/spectre.console/issues/75 support was added for clickable hyperlinks:
[code]

It would be nice to also have `file://` links:
[code]

In my linux system (gnome terminal) those sort of links, when clicked, open the corresponding file in the default associated app. I'm sure it's similar on mac, I'm unsure about windows.

It's rendered like this, but ideally the `f

[2022-09-08 21:55] azchohfi opened #955 "Multiple errors when trying to ILLink/Trim a console app that uses Spectre."
**Information**
 - OS: Windows
 - Version: 0.44.0
 - Terminal: Windows Terminal

**Describe the bug**
When trying to use Spectre on a console app that targets .NET6, and trying to build a self-contained library, I get multiple ILLink errors, such as IL2070, IL2072, IL2067, IL2072, IL2026, and IL2087.

**To Reproduce**
Reference Spectre.Console 0.44.0 from a console app, use something from Spetre,

[2022-09-09 19:42] patriksvensson commented on #955
@azchohfi Not sure what the solution for this is tbh. Any pointers?

[2022-09-09 19:55] azchohfi commented on #955
Oh, absolutely!
This is the documentation that helps a lot:
https://docs.microsoft.com/dotnet/core/deploying/trimming/trim-self-contained
I gave this a quick try yesterday (basically setting EnableTrimAnalyzer=True and bubbling up the annotations).
From my initial investigation, it seems like the biggest issue in SpectreConsole.Cli is that the `CommandValueResolver.GetConverter` method uses TypeDe

[2022-09-09 21:29] azchohfi commented on #955
Btw, something like this can be used as a good test:
https://github.com/dotnet/command-line-api/blob/55dbf39074a7563e25e3409c9feb7afb8c8d2cc4/src/System.CommandLine.Tests/CompilationTests.cs

[2022-09-10 07:21] patriksvensson opened #958 "Add documentation for markup links"

[2022-09-10 07:30] patriksvensson commented on #955
@azchohfi Thanks for the suggestion. This is something we should consider for the 1.0.0 release of Spectre.Console.Cli.

We've recently (in 0.45.0) moved the CLI parts out to its own NuGet package (Spectre.Console.Cli), so if you only need the console parts (Spectre.Console), you should be able to trim that now.

[2022-09-10 08:20] jaredthirsk commented on #216
My scenario: Linux csx script writing stdout to a log file in a cron job.

My workaround to get a custom width: https://gist.github.com/jaredthirsk/4bffdb3fdc3a71dae4515145420c43f2

[2022-09-10 14:17] sandreas opened #959 "POSIX: Invalid handling of parameter values starting with double quotes (`"`), e.g. `--order-by='"quoted"` value'"
Important: This is a follow-up issue (#891), since it was closed without possibility to give feedback, reopen or answering my follow-up questions. I really think this is clearly a bug of `spectre` and it should be further investigated, because input values are *MODIFIED* without any developer interaction... It may also be possible, that this leads to a *SECURITY FLAW* because parameters are mistre

[2022-09-10 20:14] GaryMcD commented on #958
I was just perusing other issues and saw links mentioned, I had no idea this functionality existed.

I would be up for taking a stab at adding this to the docs! Would be good for getting my feet wet in contributing, as I have never done that before... at least not publicly, at work I have done PRs, but its the wild west there. 😝

**_Requesting permission to take ownership of this item_** @patriksv

[2022-09-10 21:28] phil-scott-78 commented on #958
Jump on it, @GaryMcD. Happy to help with any questions you have on the process too

[2022-09-10 23:01] phil-scott-78 commented on #959
I took a look some more in this. I still comes down to how each shell is gonna handle the quotes and each shell is wildly different. Cmd.exe, pwsh, and even running through the debugger all vary wildly in the scenarios you posted with no consistency. But, on your shell and only this shell it does include the quotes in the args and theoretically we could include them. Went ahead and created a unit

[2022-09-11 01:57] phil-scott-78 commented on #958
This was closed with #961

[2022-09-11 01:57] #958 closed

[2022-09-11 02:00] phil-scott-78 commented on #954
@lonix1, if you want to give it a go on a PR I'd be happy to review it. I'm pretty sure Windows Terminal didn't support them when we added links but with microsoft/terminal#7526 that isn't the case any more.

[2022-09-11 03:51] sandreas commented on #959
Thank you for your quick feedback.

I'm really sorry, if I don't understand the inner workings of shells as much as you do - but I'm willing to learn something here. I'll take a look into this and find out, if I can do anything to support you to fix this behaviour without breaking anything else.

This edge case comes from a real world scenario, otherwise I'm pretty sure, nobody would have found it

[2022-09-11 04:38] GaryMcD commented on #943
I would like to take a stab at this one if possible.

I am thinking....

I would add a `char` to `TextPrompt` that defaults to an asterisk. Maybe named `MaskingCharacter`. And then whenever we are checking if secret is set instead of using the hardcoded asterisk currently in place, we use the masking character.

Looks like I would need to touch these locations in code.

![image](https://user-image

[2022-09-11 04:41] sandreas commented on #959
I think I found something to investigate. If you look at the code here and below, you see, that the following chars/strings are treated in a special way and I raised issues for handling exactly these wrong under specific circumstances:

- ` ` (as `IsWhitespace`) - see #842
- `-` - see #890
- `"` - see #959

https://github.com/spectreconsole/spectre.console/blob/5b2b4375a45d060ab33236787213a8407a4d

[2022-09-11 04:54] sandreas commented on #959
So after some further investigation, I think that the `CommandTreeTokenizer` does a few things that are problematic...

Lets say, that you have an array of arguments like this:

[code]
the tokenizer will:
- consume the space without treating it as a value
- on character `-` always call `ScanOptions` and treat the `args` value as Option, although it could also be a value, which is the case for `-bi

[2022-09-11 09:13] patriksvensson commented on #943
I would say `public char? Mask { get; set; } = '*'`

[2022-09-11 15:38] tpill90 opened #962 "Recent Blog Posts have incorrect post date"
**Describe the bug**
Every post on the Recent Blog Posts page (https://spectreconsole.net/blog/) has the same exact date, `Sunday, September 11, 2022`.  It looks like this date might be automatically incrementing daily, maybe because CI/CD pushes the latest build daily?

**Expected behavior**
To see the date the blog posts were actually posted 😋

**Screenshots**
![Screenshot 2022-09-11 113824](htt

[2022-09-12 03:05] phil-scott-78 commented on #962
Got a bit more explicit with the date formats in the blog posts and things are looking better.

Good catch and thanks for taking the time to report!

![Screenshot_20220911-230349.png](https://user-images.githubusercontent.com/2447331/189566425-d369c4ec-ffc7-4ec1-ae95-1cff7c57cd02.png)

[2022-09-12 03:05] #962 closed

[2022-09-12 07:23] sandreas commented on #959
@phil-scott-78
While I think a problem in the Tokenizer / Parser logic is no extreme edge case and fixing this would take me deep knowledge about how spectre console parses, tokenizes and transfers `args` to `Settings`, am I really the right person to look at this?

I did not find any unit tests for the tokenizer... did I miss them? If not, how can I ensure I don't break something when I try to fi

[2022-09-12 17:36] azchohfi commented on #955
Oh, interesting. I'll try that!

[2022-09-12 17:45] azchohfi commented on #955
This version is MUCH better, but still have the same issues as before on that assembly.
[code]

[2022-09-12 22:33] GaryMcD commented on #943
Began working on this.

Question.

The following occurs on line 129 and 210 of TextPrompt.cs
`IsSecret ? "******" : converter(DefaultValue.Value)`

I was considering creating a private string with just a get that will create a six character string of whatever the Mask char is, and call that in these two spots instead of the hard coded six asterisk.

Not sure if that's the proper way to resolve?

T

[2022-09-15 18:04] tapika opened #967 "Detecting whether help was provided via command line arguments to Spectre.Console"
If you code simple application `Spectre.Console` - then you're interested not only on parsing command line arguments, but also you're interested in figuring out whether `--help` was used as command line argument.

Using .net reflection it's possible:

https://github.com/tapika/swupd/blob/master/cakebuild/CommandLineArgs.cs#L248

but uses bit ugly syntax for that purpose.

Is there a simpler soluti

[2022-09-15 19:30] tapika commented on #967
Apparently help command is built-in, and quite well hidden.

[code]

Can't imagine calling this code as user from outside of `Spectre.Console`.

In theory you can also override default console output, like this:

[code]

and then display help at the end. (text will be without colors)

Sounds bit complex solution as well.

[2022-09-17 09:50] patriksvensson opened #968 "Add support for Unicode 15"
For this we need to update `Wcwidth` to 1.0.0.

[2022-09-17 11:52] #968 closed

[2022-09-18 02:39] GaryMcD commented on #943
You can start reviewing what I put together if you like.

https://github.com/spectreconsole/spectre.console/pull/970

[2022-09-19 09:39] OskarKlintrot commented on #411
How's it going @idormenco? 😄

[2022-09-20 20:13] gjaryczewski opened #971 "Cannot convert from 'Spectre.Console.Table' to 'string'"
The following code returns the error:

[code]

The build output:

[code]

Could anyone help me?

[2022-09-20 20:34] patriksvensson commented on #971
What version os Spectre.Console are you using? .NET 6?

[2022-09-20 20:41] gjaryczewski commented on #971
Thank you for so fast reply, it's awesome! Yes: .NET 6.0.203.

[2022-09-21 01:14] phil-scott-78 commented on #971
One of the versions since 0.41.0 we switched around some syntax to make things consistent in their behavior. Back then `Write` only took a string and you'd need to use `Render` for any of the `IRenderable` elements.

I'd recommend updating to a new version as we've done a ton of improvements in the past year.

[2022-09-21 12:27] gjaryczewski commented on #971
Great idea, but I couldn't use other examples from documentation with the recent versions... All right, let's forget about it. Thank you for your support.

[2022-09-21 12:56] patriksvensson commented on #971
What examples didn't work? If that's the case then we want to address that.

[2022-09-21 15:58] FrankRay78 commented on #203
I can reproduce this issue with a simplified code snippet that only contains one boolean CommandOption, as follows:

[code]

### Expected behaviour
[code]

### Actual behaviour
[code]

### Additional context

To be doubly sure the above code was parsing the command arg and not relying on a default value of A, I also decorated it with the following attribute `[DefaultValue(false)]` and obtained the

[2022-09-22 07:03] patriksvensson commented on #971
Need to figure out what part of the documentation is wrong with the latest version.
@gjaryczewski Any help would be appreciated here.

[2022-09-22 23:03] oconnor0 commented on #580
I thought I had read somewhere that Spectre.Console supported response files (to pass/intersperse command line arguments), but it looks from this that I must have misread?

[2022-09-23 00:16] phil-scott-78 commented on #580
Yeah, this feature request is still open. Happy to take a look at a pull request if someone wants to give it a go.

[2022-09-23 12:37] 0xced opened #973 "Proposal: automatically display default values of options in the help page"
**Is your feature request related to a problem? Please describe.**
This is not a problem but a proposal to improve the help page of CLI commands.

**Describe the solution you'd like**
Spectre.Console.Cli supports the `DefaultValueAttribute` to specify a default value for a command option. It would be nice to use this information to automatically display default values in the help page.

**Describe

[2022-09-23 16:52] maije opened #975 "Slowdown detection with many lines"
**Information**
 - OS: Windows
 - Version: [e.g. 0.45.0]
 - Terminal: Visual Studio Console & Windows PowerShell

**Describe the bug**
Detected that Spectre.Console is faster than Console.Writeline from 100 lines until 20K lines. Then, it's performance drops until taking twice the time to print 50K lines or even 10 times slower with 100K lines.

**To Reproduce**
I prepared a small program to do th

[2022-09-23 17:51] phil-scott-78 commented on #975
An easy answer here is that we really don't recommend outputting that many rows with one `IRenderable`. Way out of the scope of how things are designed to work, it'd be best to break that apart to keep things running smoothly and consistently. No matter what, we are going to need the entire batch of output before we start writing so there will always be delays over outputting smaller items.

BUT,

[2022-09-23 17:56] phil-scott-78 commented on #973
I like it, especially if the behavior could be opt-in. I'd be tempted to see what it looks like with default value in-line with with the help text myself e.g. for `-c` the text "The default is `Debug`." is appended rather than needing another column of text.

[2022-09-23 19:49] phil-scott-78 commented on #975
Thought some more about this. Might be a bit hacky, but removing `indexOf` altogether and just returning `_list.Count - 1` yields this result and should still be valid.

[code]

[2022-09-23 20:11] gjaryczewski commented on #971
:-) All right, I will repeat the exercise and find something useful during the weekend.

[2022-09-23 20:13] 0xced commented on #973
Here's how it would look like:
<img width="1226" src="https://user-images.githubusercontent.com/51363/192049204-d1262fc2-85ca-4782-b956-409a5b7f69c1.png">

Personally, I prefer the version with the additional _DEFAULT_ column.

I'll have a look at how we could make this behaviour opt-in (or opt-out).

[2022-09-23 20:58] 0xced commented on #973
I think I nailed the opt-in part:

[code]
I'm not 100% sure about the `WriteOptionsDefaultValues` method name but the underlying implementation is in place, see https://github.com/0xced/spectre.console/commit/6fe8d2872ff9d8f78feb3b4d86c5195486a37c12

[2022-09-24 10:54] gjaryczewski commented on #971
All right, so the Program.cs looks like this:

[code]

The .csproj file looks like this:

[code]

The output of the build process contains: `C:\Users\gjary\Repos\test-spectre\Program.cs(3,23): error CS0234: The type or namespace name 'Cli' does not exist in the namespace 'Spectre.Console' (are you missing an assembly reference? [C:\Users\gjary\Repos\test-spectre\test-spectre.csproj]`.

[2022-09-24 10:59] gjaryczewski commented on #971
According to the tutorial documentation, [CommandApp is the entry point for a Spectre.Console.Cli command line application](https://spectreconsole.net/cli/commandapp), this is also repeated in [API Reference](https://spectreconsole.net/api/spectre.console.cli/commandapp/).

[2022-09-24 11:04] gjaryczewski commented on #971
The previous code **works with 0.44**. Does not work with 0.45.

[2022-09-24 14:39] patriksvensson commented on #971
We split the `Spectre.Console.Cli` stuff into its own NuGet package for 0.45: https://www.nuget.org/packages/spectre.console.cli

[2022-09-24 14:54] phil-scott-78 commented on #971
This is a good catch though  I'll update the docs tonight to include a reference to the new package

[2022-09-26 03:43] phil-scott-78 commented on #203
One thing I noticed here is that if you enable strict parsing, you get the expected behavior.

[code]

I'm not sure if this makes it a bug or expected behavior. But here's the theoretically [guilty line](https://github.com/spectreconsole/spectre.console/blob/main/src/Spectre.Console.Cli/Internal/Parsing/CommandTreeParser.cs#L347) if this isn't what should be happening

[2022-09-26 09:06] sandreas commented on #959
@phil-scott-78 @patriksvensson
I would really need a reply here... can someone of you at least confirm this problem is part of the Tokenizer / Parser and not an edge case?

[2022-09-26 19:52] FrankRay78 commented on #967
The `CommandExecutor.Execute(...)` method (which the first code snippet above from @tapika was taken from) does explicitly handle the `-v|--version` argument:

[code]

I do wonder if this kind of explicit handling of command arguments could also be used for the `-h|--help` help option.

[2022-09-26 20:47] GaryMcD commented on #943
This has been merged in :) @patriksvensson do we close this?

[2022-09-26 21:14] patriksvensson commented on #943
Yes, we should 😁

[2022-09-26 21:14] patriksvensson commented on #943
Closed via #970

[2022-09-26 21:14] #943 closed

[2022-09-27 08:14] PawelSpoon commented on #765
stumbled today over the same issue. wanted to set my options properly and change <> to []
funny as options are not required anyway and i had to implement support for required options myself using std. Required annotation

            [CommandOption("-n|--name <NAME>")]
            [Description("name of configuration object")]
            [Required]
            public string Name { get; set; }

[2022-09-28 11:09] SadE54 opened #979 "Is Spectre adapted for Domain specific language prompt app ?"
Hi ,

I have to develop an application based on a prompt asking for DSL  commands using a prompt
An external parser is used , but I would like to  propose syntax highlighting and autocompletion (form list of keywords).
I looked at terminal.gui , But the colors range seems limited.
Then I found Spectre , but I don't know if it's possible to implement easily such features , and mostly if it's adapte

[2022-09-29 08:41] benzmarkus opened #981 "ProgressTask the calculation of GetPercantage can not handle division by 0"
In my project the maxValue has 0 and the value is 0. The percentage calculation is then a division by 0 and the result percentage should be 0 too but it's -2,147,483,647

private double GetPercentage()
    {
        var percentage = (Value / MaxValue) * 100;
        percentage = Math.Min(100, Math.Max(0, percentage));
        return percentage;
    }

[2022-09-30 12:36] FrankRay78 commented on #967
When this issue is triaged/is found to be valid - please assign it to myself and I'm happy to fix.

[2022-10-01 07:00] tapika commented on #967
I would prefer that no need to assume order of arguments - whether help comes first or not.

Previously I have help parameter handling as hardcoded, and it was parsed like this:

[code]

But this also implies that help command is the same as `"-h|--help"` - I can easily think that in future such variations as `-?|--?` could be added to be more flexible. Help option needs to be centralized and pref

[2022-10-01 09:54] FrankRay78 commented on #967
Would you propose to also refactor the code snippet above that handles the `-v|--version` argument into the same approach used for `-h|--help`, if for no other reason than consistency ?

[2022-10-01 16:18] BenjaminMichaelis commented on #851
I would like to try out this one!

[2022-10-01 18:56] tapika commented on #967
Generally API's and functionalities they provide:

[code]

For API2 - consistency, and simplity to use.

Maybe it would make sense to also refactor API 1 to have parse and print as a separate operations, but I think returning two return parameters would be beneficial already.

[2022-10-01 19:27] patriksvensson commented on #851
Absolutely. Knock yourself out! 😄

[2022-10-03 00:18] dgosbell commented on #307
Something does need to be changed here. I think either changing the order in the usage would help
[code]
or making either order work:

Initially I was following the usage pattern and trying to get help from my command I was testing by typing `MytConsole --help run` with the option first and not getting any output.  I only found out that I need to type `MyConsole run --help` when I was searching gi

[2022-10-03 09:14] samuelguesnier opened #988 "AnsiConsole.Ask<DateTime> format date to dd/mm/YYYY"
**Is your feature request related to a problem? Please describe.**

`DateTime creationDate = AnsiConsole.Ask<DateTime>("What is the client creation date: ");` The user will type the date in dd/mm/YYYY format, but .NET thinks it's mm/dd/YYYY format.

**Describe the solution you'd like**
Adding a parameter to specify which format to use

[2022-10-03 16:50] SadE54 opened #989 "Tree / TreeNode rendering"
Hi,

When creating a tree , you're getting a Tree object , the root. When adding a node , you 're getting a TreeNode object
I created a recursive function to display the content of a tree , but it's not possible directly from the root (due to the root is Tree and  all other are TreeNode).
But when you're rendering a Tree , you have
Tree
      ---- TreeNode 1
                       ---- TreeNode 2

[2022-10-04 00:56] patrickfreilinger commented on #981
I can work on fixing this

[2022-10-04 04:57] patrickfreilinger commented on #981
Pull request is open here: https://github.com/spectreconsole/spectre.console/pull/991

[2022-10-04 09:04] antibarbie commented on #151
We just hit the same problem, when running spectre output in a gitlab runner.

Maybe this could be patched/tested in spectre library directly ?  so that programs would run safely whether they are running in hostile environments or not.

it feels wrongs to throw IOException just because output is redirected..
Ok I stop the rant, shall I propose a pull request if I have time ?

[2022-10-04 18:03] patriksvensson commented on #902
This is actually by design, but open to changing it if someone is willing to submit a PR.

[2022-10-04 19:05] #698 closed

[2022-10-04 23:42] BenjaminMichaelis commented on #851
Just to clarify on the scope of this, is all that is needed here to simply be returning this input result or also to do some handling of the escape case?

[2022-10-05 00:18] BenjaminMichaelis commented on #750
Also, what is being used for terminal captures for the docs? I see there is a cast library with associated tags in the markdown and such but haven't totally figured what needs to be done, if anything, for adding files to the cast directory.

[2022-10-06 15:17] iraklikhitarishvili opened #998 "TextPrompt.cs "Invalid Input" validation error for empty Nullable<T>"
**Information**
 - OS: Windows/WSL2
 - Version: 20.04.4 LTS
 - Terminal: Windows Terminal

**Describe the bug**
"Invalid Input" validation error is returned if:
1. prompt is `TextPrompt<Nullable<T>>`
2. `AllowEmpty()` is specified
3. input  is empty

**To Reproduce**
Code snippet for prompt:
[code]

Output:
![invalid_input](https://user-images.githubusercontent.com/7589748/194351588-c1e923da-123c-

[2022-10-06 18:32] cdhanna opened #999 "Add input support when running inside a dotnet build target"
**Is your feature request related to a problem? Please describe.**
I used spectre.console to create a custom dotnet tool for my company. It works great! Now I'm trying to create a custom dotnet template, and I want to include a few standard build targets in the templated csproj file.

Something like this...
[code]

Which would execute `my-tool`'s `init` command, which in turn gets to this usage of

[2022-10-06 18:47] patriksvensson commented on #999
@cdhanna I guess that the MSBuild logger is redirecting the output. Not sure if this is solvable, to be honest. What happens if you do a `System.Console.Write("FOO")` from the tool instead?

[2022-10-06 19:00] cdhanna commented on #999
I set my tool method to do this-
[code]

Here is the csproj target
[code]

And here is the output...
[code]

The output does include, "Foo". The positioning is a little odd, but its there

[2022-10-06 20:02] #750 closed

[2022-10-07 09:13] behnamasaei commented on #391
This work for me:
1. Open cmd -> Properties -> font -> font-style = Cascadia Mono
2. Add this code:
[code]

[2022-10-07 15:18] NJ-Brad commented on #193
I found this to be an issue with users learning the system.  The help option is frequently used by people learning a system
`Myapp --help somecommand` triggers the main help IE
`Myap --help`

This is especially an issue since the help that is displayed, shows the usage as
`Myapp [OPTIONS] <COMMAND>`

[2022-10-07 16:54] NJ-Brad commented on #307
As a work around, I have created a function that addresses this situation
`        private static string[] FixArgs(string[] asEntered)
        {
            List<string> newArgs = new List<string>(asEntered);

            if ((newArgs[0].ToUpperInvariant() == "--HELP") ||
                (newArgs[0].ToUpperInvariant() == "--H"))
            {
                newArgs.RemoveAt(0);
                ne

[2022-10-09 14:17] FrankRay78 commented on #190
I have tested the code snippet provided by @MiloszKrajewski above, compiled it for .Net 6.0, and I cannot reproduce this bug.

![image](https://user-images.githubusercontent.com/52075808/194761582-c219a464-c40a-43f8-9bfe-0b5e9ab6c440.png)

I recompiled the code between each run above, the latter run including the line below to turn on strict parsing.

[code]

I propose this issue can be closed as

[2022-10-09 15:55] FrankRay78 commented on #203
Hello @patriksvensson ,

Could you please clarify the expected behaviour of the following? _(the above conversation summarised to save you the overhead)_

Given the option `-a <BOOL>` has been specified on a CommandSettings class and is present on the command line and successfully parsed, should it be present in the `CommandContext.Remaining.Parsed` collection, when:

- Strict parsing is not enabl

[2022-10-09 19:56] patrickfreilinger commented on #755
Working on this now

[2022-10-09 20:07] patriksvensson commented on #755
Awesome! 👍

[2022-10-11 23:27] Elisha-Aguilera commented on #754
I can work on this item; will use [the Table widget documentation article](https://spectreconsole.net/widgets/table) as a basis. Assuming there's no existing documentation style guides, so I will do my best to mimic the existing documentation.

[2022-10-12 03:36] wguner commented on #751
Working on this item!

[2022-10-12 08:09] patriksvensson commented on #751
@wguner Awesome! 👍

[2022-10-12 19:47] Elisha-Aguilera commented on #753
I can work on this item, as well as Issue #752; three documentation items, and if you have any more good technical issues, feel free to share with the team.

[2022-10-12 19:48] Elisha-Aguilera commented on #752
As stated in Issue #753, I can work on documentation for this widget as well.

[2022-10-12 20:21] alex-eshock commented on #847
I'll work on this issue and see if I can find a solution to it.

[2022-10-12 20:32] alex-eshock commented on #653
I can work on this

[2022-10-12 20:44] alex-eshock commented on #847
I can tackle this issue

[2022-10-13 05:07] BenjaminMichaelis opened #1009 "PR Builds failing"
Builds seem to be failing on all PR's:

Examples across three different prs:
https://github.com/spectreconsole/spectre.console/actions/runs/3238729061/jobs/5307258365
https://github.com/spectreconsole/spectre.console/actions/runs/3232103472/jobs/5304183456
https://github.com/spectreconsole/spectre.console/actions/runs/3238777314/jobs/5307368257

"Package "dotnet-example" failed to restore, due to

[2022-10-13 11:02] patriksvensson commented on #1009
@BenjaminMichaelis I will take a look at why it fails! Thanks for reporting this!

[2022-10-13 12:48] patriksvensson commented on #1009
The build problems should have been resolved now.
Could you rebase your PR branches against main?

[2022-10-14 10:15] sowa705 commented on #988
I can work on it

[2022-10-15 10:46] patriksvensson opened #1017 "Add .NET 7 support"
---
Please upvote :+1: this issue if you are interested in it.

[2022-10-16 20:52] xoorath opened #1019 "Remove progress column on complete"
Suggestion: When a progress bar is complete it may be nice to have the ability to remove or change some columns.

My progress bars show time elapsed and time remaining, but when it's complete I would like to remove the time remaining so I don't have "00:00:00" displayed without adding benefit.

If I take a reference to the progress before I start and update it at the end with a new set of columns,

[2022-10-17 07:41] patriksvensson commented on #1019
@xoorath For this scenario, I would recommend that you create your own `ProgressColumn` and simply remove the value once the remaining time reaches 00:00:00.

[2022-10-18 16:12] FrankRay78 commented on #193
Cake has an open issue for this, https://github.com/cake-build/cake/issues/3280, basically looking to move all the cake command options before the build script argument, allowing any options following the command argument to automatically become remaining arguments.

[2022-10-18 16:14] FrankRay78 commented on #825
This seems a duplicate of https://github.com/spectreconsole/spectre.console/issues/193 @patriksvensson

[2022-10-18 16:55] sandreas commented on #825
@FrankRay78 You are right, sorry, I did not find this. If you are looking for a reason, why this is not working as expected, you should take a look [this](https://github.com/spectreconsole/spectre.console/issues/959#issuecomment-1242886236).

I think the tokenizer treats every argument the same way and is not aware of it's context - which is a real problem when using flags (boolean), because the t

[2022-10-18 17:15] FrankRay78 commented on #193
This issue is occuring due to the way that CommandTreeParser is handling Options, namely peeking ahead to the next argument to determine what to do.

The following image is when I've specified the following on the command line `--version --somethingelse` and it's currently parsing the --version Option.  you can see that it's peeked ahead and discovered another Option:

![image](https://user-images

[2022-10-18 17:29] woutervanranst commented on #193
I m assuming we don t need to reinvent the wheel here, I expect there are nasty edge cases we re missing - linux CLI parsers would have solved this already

[2022-10-18 19:17] patriksvensson commented on #193
@FrankRay78 Done!

[2022-10-18 20:40] sandreas commented on #825
Thank you for your quick response. I did read your most recent comment - maybe I did not fully understand, because I'm not too much into the `spectre.console` code, but I think what you describe is only part of the problem...

The command line parser does indeed handle boolean options (flags) the wrong way under specific circumstances, but NOT ONLY flags. Afaik it does not distinguish between FLAG

[2022-10-19 08:16] FrankRay78 commented on #825
Excellent write up and example @sandreas.  I plan to fix [the other issue](https://github.com/spectreconsole/spectre.console/issues/193), which is one step forward and will let me learn the parser and improve code coverage.  Then come back to this issue.

[2022-10-19 11:44] sandreas commented on #825
Some small  additions / edge-cases:

- What happens if there single quotes enclosing double quotes with equal sign: `--meta-description='"What?"'`
- If there is multiple flags with short form `--force|-f` and `--debug|-d`, a common short form is `-df` to enable both flags
- If there is an option with short form `--order-by|-o`, the value can be set via `-osize`

Just a few of my other thoughts...

[2022-10-19 11:48] patriksvensson commented on #825
@sandreas -df is already supported.

[2022-10-19 11:53] sandreas commented on #825
Didn't know that. thx

[2022-10-19 15:36] wguner commented on #367
working on this

[2022-10-19 18:46] ardalis opened #1023 "Make docs easier to find from GitHub"
Add a prominent link to spectreconsole.net from the README file. There's a link on the right but if you don't see it you should be able to find a link near the top of the README.

[2022-10-20 05:09] WolfBublitz opened #1024 "Markup parsing exception"
**Information**
 - OS: Windows
 - Version: 0.45
 - Terminal: any

**Describe the bug**
With version 0.44 the following worked:
[code]

With version 0.45 the code from above crashes with:

   at Spectre.Console.StyleParser.Parse(String text) in /_/src/Spectre.Console/StyleParser.cs:line 10
   at Spectre.Console.MarkupParser.Parse(String text, Style style) in /_/src/Spectre.Console/Internal/Text/Mar

[2022-10-20 17:41] sandreas commented on #825
@FrankRay78

Would it help, if I compose a set of *edge case parameter sets* (e.g. `--option='value'`) compile the following code as x64 for *Windows*, *macOS* and *Linux* and provide the output of these edge cases on all platforms?:

[code]

[2022-10-20 21:59] nils-a commented on #1024
Could be a regression from #911. I'll have a look at it.

[2022-10-25 20:55] FrankRay78 commented on #959
I have tested this myself and can confirm that my Windows shell does not perform as you found yourself @sandreas

I have found the following example does modify parameters on my local machine:

[code]

When run, it produces the following output, which clearly shows the quoting of the command line arguments are being modified before even being made available to the .Net console app:

![image](https

[2022-10-26 10:58] FrankRay78 commented on #959
Ok, apologies if I totally misunderstood - I see your comments are about what happens *once* quotes have made their way into the argument (one way or another).  I’ll take another more detailed look…..

[2022-10-26 12:18] sandreas commented on #959
No need to apologize... As long as I get responses to my issues, I'm fine with writing whole essays about what I think needs to be improved ;-) Sometimes command line is very tricky because of the many layers involved.

There is a OPERATING SYSTEM, aTERMINAL, a SHELL and an APP - all with different options, encodings and possibilities.

One of my golden rules in software development is: *Don't you

[2022-10-26 22:41] FrankRay78 commented on #959
Ok, I can reproduce what you have reported across several bug reports and the discussion thread (https://github.com/spectreconsole/spectre.console/discussions/1025) with the following unit test:

[code]

All of the test cases (except for the 5 single quote scenarios) fail, see:

![image](https://user-images.githubusercontent.com/52075808/198151192-7fafe6d4-30b8-4973-a642-9bc9b1d15d40.png)

I don't

[2022-10-26 22:42] FrankRay78 commented on #890
This is a value bug imho - see the justification here: https://github.com/spectreconsole/spectre.console/issues/959#issuecomment-1292741847

[2022-10-26 22:43] FrankRay78 commented on #842
This is a value bug imho - see the justification here: https://github.com/spectreconsole/spectre.console/issues/959#issuecomment-1292741847

[2022-10-27 15:42] sandreas commented on #959
You sir, deserve a cookie!

Maybe it would be a good idea to implement the `args` parser framework / library agnostic.

[code]
Just a thought...

[2022-10-27 16:37] gakera commented on #1023
I found the https://github.com/spectreconsole/spectre.console#documentation Documentation section quite easily from the readme, is it new since this issue was created?

[2022-10-27 18:03] ardalis commented on #1023
Hmm, no, but I totally didn't see it when I was looking for it. Probably because it's below the fold past a bunch of images. Still, it *is* in the TOC so probably shame on me. Up to the author if they think it's worth putting something higher up. Thanks for pointing it out!

[2022-10-27 18:49] patriksvensson commented on #1023
@ardalis I think you have a valid point. If you would submit a PR for the documentation link at the top I would appreciate it!

[2022-10-27 20:12] Cooksauce opened #1031 "String longer than AnsiConsole.Profile.Out.Width Causes Disjointed Output"
**Information**
 - OS: MacOS
 - Version: 0.45.0
 - Terminal: zsh

**Describe the bug**
There appears to be a `\n` or "`\n`-like" character added after `IAnsiConsoleOutput.Width` when writing a continuous string to the output. This causes problems using Spectre in scripting scenarios where the output string is needed to run further commands.
This behavior does not occur with BCL `Console.Write(..)`

[2022-10-28 17:04] FrankRay78 commented on #959
See this @sandreas:  https://gist.github.com/FrankRay78/de3e30dafbe44265cba2372e809326a1

Regarding handling of quotes, hyphens and spaces - do you see any cases I've missed?

[2022-10-28 18:07] sandreas commented on #959
Maybe. I don't see the following (maybe this is intended):
- `"\"quoted\" string"` (Quoted string that does not end with quotes)
- `" \"quoted\""` (space then quoted string)
- `""` (empty string)
- `" "` (space only)
- `"       "` (multiple spaces - think I found a markdown bug in githubs parser - this also shows only one space ;-))
- `"-"` (dash only)
- `"-size"` (simple string with dash)
- `"\t"

[2022-10-29 09:55] FrankRay78 commented on #959
I'm starting to suspect that unit testing the POSIX compliant parsing should **_trim each argument_** received in the `string[] args` array, to ensure we are testing as closely as possible to the expected behaviour in the wild.  That's because the surrounding shell should split the command line arguments by space, before converting them into an array and passing them in to the .Net console app.  T

[2022-10-29 11:06] sandreas commented on #959
Oh, please don't do that! Trying to fix shell behaviour within a library is not the right place and this is exactly what led to these problems. My suggestion stays the same: Do not modify the arguments in any way.

Let's say you want to develop a string splitting command line app with a delimiter (unix `cut`):

[code]

Result if you trim each arg: You can't write this app... it just trims away the

[2022-10-29 14:46] FrankRay78 commented on #959
Ok fair enough.  I'm just in the middle of mental gymnastics, trying to think of all the unit test cases to support.  And what not to support.

My PR isn't far away now so you will be able to try it out with your Tone soon enough....

[2022-10-29 15:57] sandreas commented on #959
No offense. I'm just trying to put in my two cents preventing possible mistakes from the past.

Sounds awesome, thank you very much for your huge effort.

[2022-10-31 17:02] FrankRay78 commented on #959
I've just created this PR https://github.com/spectreconsole/spectre.console/pull/1036 @sandreas  (and will fix any build errors that may appear.....)

As mentioned in the PR, the following three PR's when taken jointly represent a significant enhancement to existing command line parsing behaviour: https://github.com/spectreconsole/spectre.console/pull/1036, https://github.com/spectreconsole/spectr

[2022-11-01 13:16] sandreas commented on #959
Awesome, thank you.

Well, this is nice, but if you've built a little command line app and tested some of the the discussed use cases manually besides the unit tests, I don't think it is worth the effort... Personally I still don't think it is worth to write and maintain a complex Tokenizer for command line argument parsing but hey, I'm so happy that you took care of this, so I won't complain. Tha

[2022-11-01 14:09] sandreas commented on #959
@patriksvensson No offense... I got family, too and I know pretty well, what you are talking about. Just tried to help you with this great project and I felt like there is no interest in additional manpower... this is pretty subjective and I bet not everyone feels like that - maybe it was just a series of unfortunate events. I really hope you just as a feedback to improve something, not as critici

[2022-11-01 15:29] FrankRay78 commented on #959
Having never done any real open-source development previously, this has been a real baptism of fire.  I'm grateful for both of your help and can understand the different perspectives.  Hopefully in the fullness of time, I could perhaps help with PR reviews and testing etc @patriksvensson to shoulder some of the load.

[2022-11-01 22:49] alex-eshock commented on #367
I'm helping @wguner out with this one

[2022-11-03 02:45] alex-eshock commented on #653
I've submitted a pull request for the issue now.

[2022-11-03 10:37] jaimefinat commented on #975
Yes, I confirm the removal of indexOf fixed the performance issue and now spectre.console is more than twice faster than System.Console in  my experiments (50K elements and 5 repetitions):

[code]

Are you doing a pull request with this?

[2022-11-03 21:05] FrankRay78 commented on #959
This is the combined PR @sandreas across the various command line parsing issues, in case you want to build and try it out: https://github.com/spectreconsole/spectre.console/pull/1048

[2022-11-03 21:13] sandreas commented on #959
Thanks a lot @FrankRay78
Let's hope it gets accepted :-)

[2022-11-04 08:21] #751 closed

[2022-11-07 16:41] sangeethnandakumar opened #1051 "JSON Syntax Highlighting Support In Console"
### No way to colorize a custom code snippet like JSON in Console. It's difficult to manually do it with Markup

![image](https://user-images.githubusercontent.com/24974154/200365481-2d4e31a5-5119-4d6f-819c-5e1876858964.png)

A utility class that can syntax highlight passed JSON and returns a Markup instance
Any easy mechanism. Can be a separate NuGet package with extensions to support many langua

[2022-11-07 16:59] sangeethnandakumar commented on #703
That is true. When terminals are resizing it's challenging to keep up with size.
But can we do something like this, Just an idea only not sure if it comes with challenges

1. Listen to Window Resize events from running terminal
2. Immediately store the current state of renderer
3. Hault until window resize done
4. Repaint the renderer state with updated window size

Anyways, Big thanks for this aw

[2022-11-07 22:27] JangoBoogaloo opened #1053 "Can TextPrompt support running in Process and receive from `Process.StandardInput`?"
**Is your feature request related to a problem? Please describe.**
I built my CLI with a login command TextPrompt for account name and password.
I have also written an integration test to execute the command in a [Process](https://learn.microsoft.com/en-us/dotnet/api/system.diagnostics.process?view=net-7.0) and feed the account name and password to the command through `Process.StandardInput`, but

[2022-11-09 14:56] FrankRay78 opened #1059 "Ability to add command line flags and their values to remaining arguments if they cannot be set on the settings class"
**Is your feature request related to a problem? Please describe.**
There is an open issue in the cake project, https://github.com/cake-build/cake/issues/3279, which has been triaged and accepted as an improvement, to 'Allow users to use any of the Cake runner arguments as build script arguments'

An example of what this practically means is as follows. Here is a flag currently defined on the cake

[2022-11-12 01:45] BenjaminMichaelis opened #1062 "Code cleanup and latest language features"
I'm thinking about going through the code and doing some general cleanup and adjusting the code where I can to use some newer language features that are available if that would be okay for me to do?

Just want to make an issue of it to keep track of it so it is known before I chase this down.

---
Please upvote :+1: this issue if you are interested in it.

[2022-11-16 10:42] FrankRay78 commented on #203
FYI. I've raised PR https://github.com/spectreconsole/spectre.console/pull/1070 which fixes this issue.

[2022-11-16 13:50] FrankRay78 commented on #187
I'd like to take this one @patriksvensson - please assign it to me.

[2022-11-17 02:53] azchohfi opened #1076 "Prompt Cancellation is broken"
**Information**
 - OS: Windows
 - Version: 0.45.0
 - Terminal: Windows Terminal

**Describe the bug**
Issue #417 mentions that cancellation should be supported, and PR #477 is said to fix it, but it you, for example, press Ctrl+C while selecting items from a list, the process gets stuck.

I debugged the source, and I believe I found the root cause.
This is the only line of code that checks for can

[2022-11-17 12:54] danielklecha commented on #988
@samuelguesnier @sowa705 PR was merged. Should we close this issue?

[2022-11-17 13:21] #988 closed

[2022-11-18 19:29] danielklecha commented on #714
Could someone modify [TextPrompt](https://github.com/spectreconsole/spectre.console/blob/6a4d8c8f30bb921d22f0af6ef3b7541512b361ef/src/Spectre.Console/Prompts/TextPrompt.cs#L168) and update one line? It generates issues with all nullable types.
[code]

[2022-11-20 17:58] zensharp opened #1079 "Asynchronous variant of AlternateScreen"
**Is your feature request related to a problem? Please describe.**
Currently, [alternate screen buffers](https://spectreconsole.net/api/spectre.console/ansiconsole/7fb48ff0) run synchronously which makes it difficult to use with `async`/`await`.

**Describe the solution you'd like**
A method called `AlternateScreenAsync` which behaves identically to `AlternateScreen`, but can be awaited.

**Descri

[2022-11-22 08:30] nils-a commented on #998
Closing as duplicate of #714

[2022-11-22 08:30] #998 closed

[2022-11-22 18:02] nils-a commented on #1051
There has been some discussions around this in https://github.com/spectreconsole/spectre.console/discussions/820

Maybe, since the release of https://www.nuget.org/packages/LitJson.Source/0.19.0-alpha0027 someone could give it a try without a hard dependency to an external JSON parser.

[2022-11-22 18:20] patriksvensson commented on #1051
To be honest, I don't think it's necessary to take a dependency on a JSON library at all since parsing it into tokens is very straight forward. I could take a stab at this if you want to (I have some time to kill this evening).

[2022-11-22 22:04] rcdailey opened #1085 "Support IEnumerable for multi-value options to resolve CA1819"
**Is your feature request related to a problem? Please describe.**
[Code Analysis CA1819](https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1819) states:

However, arrays are mandatory to denote that an option accepts more than one value.

**Describe the solution you'd like**
Allow multiple-value options to be defined using `IEnumerable` and derived types. For exa

[2022-11-25 10:24] 0xced commented on #247
Note that similarly a _description_ can't be assigned to the default command. My current workaround is to set it through reflection with [ReflectionMagic](https://github.com/ReflectionMagic/ReflectionMagic). 😕

[code]

[2022-11-25 10:38] 0xced commented on #247
I just submitted #1091 to address this issue.

[2022-11-25 10:56] pitermarx opened #1092 "Problem Rendering € sign"
**Information**
 - OS: Windows
 - Version: 0.45/dotnet 7
 - Terminal: Windows Terminal/Integrated vscode/Command Prompt

**Describe the bug**
The € sign appears as ?

![image](https://user-images.githubusercontent.com/3081298/203968442-99028fce-8aa7-4bd8-a69e-c382617df77a.png)

**Additional context**
I'm hoping this is a problem on my end, but I'm out of ideas

[2022-11-25 11:21] pitermarx commented on #1092
This is surely a problem on my side
![image](https://user-images.githubusercontent.com/3081298/203974968-cdb51882-3396-4e73-807b-7a5ee35779d3.png)

[2022-11-25 11:29] pitermarx commented on #1092
Doing this on Powershell solves it
[code]

doing this on the app also solves it
[code]

It used to work before for me, not sure what changed...
I will close this

[2022-11-25 11:39] patriksvensson commented on #1092
Hmmm, I would want to re-open this issue if it's OK. Since we're not changing the encoding, it should be OK.

[2022-11-26 18:48] rcdailey opened #1093 "Separate initialization from execution in `CommandApp`"
As a user of the API, I'd like the ability to perform global setup and teardown in my application without utilizing base classes for my `Command<>` / `AsyncCommand<>` subclasses.

## Is your feature request related to a problem? Please describe.

At the moment, if I want to perform some global initialization and/or cleanup, I am required to use base classes or other obscure hacks. The problem with

[2022-11-27 18:34] sailro opened #1094 "Git bash terminal incompatibility with AnsiConsole.Prompt"
**Information**
 - OS: `Windows 10`
 - Version:  `10.0.19044.2251`
 - Terminal: `git bash`

**Describe the bug**
When using `git bash` (coming with [Git For Windows](https://gitforwindows.org/)) as a terminal, using `AnsiConsole.Prompt` will throw the following exception:
[code]

**To Reproduce**
Any `AnsiConsole.Prompt` call from any application running from `git bash` should repro from my unders

[2022-11-28 17:00] FrankRay78 commented on #187
AND

Indeed, I thought the same.  Now that I've written much of the supporting code and unit tests for this feature, I have hit the actual challenging part - namely, when parsing the command line arguments, knowing exactly when a branch's default command is required and should be "inserted" into the `CommandModel`

As an example, take the following unit test:

[code]

When strict parsing is off, `

[2022-11-30 22:41] majorregal commented on #1024
Hello, I'm having the exact same issue with this code:
[code]

[2022-11-30 22:51] patriksvensson commented on #1024
@majorregal What (exact) version of Spectre.Console?

[2022-11-30 22:57] majorregal commented on #1024
@patriksvensson Sorry, using `0.45.0`.