[2019-08-13 15:50] agc93 opened #193 "Support options before arguments"
Especially for Unix/Linux platforms, the convention is usually to provide options before arguments:

[code]

Using boolean options before arguments currently gets incorrectly interpreted as assigning a value to the option flag. Would be good to support this ordering (preferably alongside existing behaviour).

[2020-06-09 06:40] patriksvensson opened #191 "Command type or command settings must have a public constructor"

[2020-08-04 22:46] patriksvensson opened #11 "Add border support for panels"
The `Panel` class should support using different borders just like `Table` does.

[2020-08-04 22:46] patriksvensson opened #12 "Should be possible to adjust alignment of table columns"

[2020-08-04 22:48] patriksvensson opened #13 "Don't limit tables and grids to markup text"
It should be no problem to render other stuff in tables since all columns and rows are of the type `IRenderable`, but at some point, when the API is "done", we should add explicit support for adding arbitrary renderable objects to a table.

[2020-08-04 22:51] patriksvensson opened #14 "Add better algorithm for calculating column widths in table"
Right now we calculate the widths of all the columns and rows in the table in one pass. This means that unless columns take up their maximum width, not all the available width is used.

[2020-08-04 22:53] patriksvensson opened #15 "Add better sample"
The sample should show the features of the library in a way that's simple and easy to understand.

[2020-08-04 22:54] patriksvensson opened #16 "Add support for rounded borders"

[2020-08-04 22:55] patriksvensson opened #17 "Handle fallback to ASCII borders when running in legacy console (cmd.exe)"
We know whether or not we're running in a legacy console (cmd.exe) which doesn't support true type fonts. If we are, we should automatically downgrade borders that use true type fonts to something that can be properly rendered.

[code]

[2020-08-04 23:25] patriksvensson opened #18 "Support word wrapping for text"
Right now, text rendered via the `Text` class does not take word boundaries into account. We should support proper word wrapping.

[2020-08-05 12:19] #16 closed

[2020-08-05 13:06] khalidabuhakmeh opened #20 "Add Spectre.Console logo"
## Box Logo With Text

![box logo with text@2x](https://user-images.githubusercontent.com/228256/89416154-d6ac3700-d6fa-11ea-92a1-7546f8662808.png)

## Horizontal Logo With Black Text

![logo with black text@2x](https://user-images.githubusercontent.com/228256/89416156-d6ac3700-d6fa-11ea-860b-a8cf303f21be.png)

## Horizontal Logo with Gray Text

![logo with gray text@2x](https://user-images.github

[2020-08-05 13:14] patriksvensson commented on #20
That looks super nice! Do you have it as SVG or just in bitmap format?

[2020-08-05 13:28] #11 closed

[2020-08-05 13:49] #20 closed

[2020-08-05 13:51] patriksvensson opened #23 "NuGet badge points to the wrong NuGet package"
😅

[2020-08-05 14:04] #23 closed

[2020-08-06 09:45] AdmiringWorm opened #24 "Allow a single row or header to span multiple columns in tables"
In some cases, it would be useful to have the ability to have a single header or row span multiple columns in a table.

For instance, if the header of the table is used as a title instead of the value name of each column, or if a row has the same value for multiple columns next to each other or even if the row is more used as a separator.

[2020-08-06 09:55] patriksvensson commented on #24
@AdmiringWorm Great idea!

I'm trying to keep functionality simple for now until things stabilized a bit (still some basic features that's missing), so we should probably wait with this for a little while.

[2020-08-06 10:00] patriksvensson commented on #24
@AdmiringWorm As a workaround for now (for table titles), you could configure the Table to not show the column headers, and then draw the title above the table.

[code]

[2020-08-06 10:39] AdmiringWorm commented on #24
Thanks, I gave that a shot as well. Not as clean, but workable IMO.
Used a panel for the header though (with `fit` set to `true`), also had to wrap the table inside a panel with fit set to true, and no border.
Otherwise, everything unfortunately looked out of place.

I completely understand.

[2020-08-06 11:04] patriksvensson commented on #24
@AdmiringWorm Thanks for understanding.

I'm currently fixing the calculation of table widths and similar so keeping the code simple until everything is working as expected keeps things easier to reason about. Will definitely make panels and tables more flexible in 0.7.0 (which will enable you to remove the hack).

[2020-08-06 11:39] AdmiringWorm commented on #24
Sounds awesome.

TBH, I kinda like the look the workaround created (the only thing remaining of the look is the justify the cells, but that is a different story).

![image](https://user-images.githubusercontent.com/1474648/89527607-e48cb580-d7e9-11ea-9a9a-efd738fc4eda.png)

I am testing `Spectre.Console` on an old program I wrote to help calculate best overclocking in a game I used to play (just i

[2020-08-06 11:44] patriksvensson commented on #24
That looks really good! Wow! Nice work!
Will add an option to add a table header for you in version 0.7! 😄

[2020-08-07 10:35] AdmiringWorm opened #28 "Previously set colors is used after the current text is written"
When the background (also assuming the foreground, but can't be verified) gets changed multiple times (by setting `AnsiConsole.Background`), then after the text has been printed, the previous background color is being used for the rest of the line.

Examples from different shells:

<details>
<summary>PowerShell</summary>

![image](https://user-images.githubusercontent.com/1474648/89626423-b23a9100

[2020-08-07 10:52] patriksvensson commented on #28
@AdmiringWorm Funny, I just fixed this 😁 Will be fixed once I push #27!

[2020-08-07 10:55] #14 closed

[2020-08-07 10:58] patriksvensson commented on #28
@AdmiringWorm Actually, just found a edge case that wasn't covered. Will fix in new PR.

[2020-08-07 11:12] #28 closed

[2020-08-07 11:15] AdmiringWorm commented on #28
Hehe, that is what I get for forgetting to push the submit button for several hours.
Glad you managed to identify and fix the issue 😄

Just pulled in the latest changes, and I can confirm everything works as expected now. 👍

Now I only need to find out why my font doesn't display the package Unicode characters, and the rounded corners.
But that is a problem on my end.

[2020-08-07 11:18] patriksvensson commented on #28
@AdmiringWorm I think I know the answer to that as well.

Are you running it inside cmd.exe by any chance? Rounded corners require true type fonts which isn't supported there, but I have a fix in the pipeline to fall back to a compatible table border if that is detected.

[2020-08-07 11:26] AdmiringWorm commented on #28
I actually have it happening in `cmd` (Cascadia Code font), `powershell` (Consolas Font), and in `Windows Terminal` (using Fira Code Font).

[2020-08-07 11:30] patriksvensson commented on #28
@AdmiringWorm If you dump the encoding being used, what does it say?

[code]

[2020-08-07 11:57] AdmiringWorm commented on #28
They all use `Codepage - 850`, I keep trying to force Windows to use `UTF-8`, but it keeps changing back. So I have been giving up on that for the past few weeks.

[2020-08-07 12:11] patriksvensson commented on #28
@AdmiringWorm Does it work if you set the encoding manually at the beginning of the program?

[code]

[2020-08-07 12:28] AdmiringWorm commented on #28
@patriksvensson That works for Windows Terminal, but not for Windows PowerShell and CMD.
Also tested in PowerShell Core, but setting the encoding to UTF8 didn't work there as well.

I also tried the following encoding:
- Unicode
- BigEndianUnicode (throws an error during runtime)
- UTF32 (also throws an error during runtime)

I tried a few others as well using their code page number, but neither o

[2020-08-07 13:55] patriksvensson commented on #28
@AdmiringWorm I'll see it I can reproduce it tonight. Cmd.exe doesn't support true type fonts but I'm a bit confused about Windows Terminal and Powershell terminal.

[2020-08-07 16:57] patriksvensson commented on #28
@AdmiringWorm I can recreate it in cmd.exe and powershell.exe (if I run with the `-noprofile` flag). I can also recreate it when running cmd.exe and powershell (again without profile) in Windows Terminal.

I got it to work by adding `Console.OutputEncoding = Encoding.UTF8;` at the top of the program (before any call to the AnsiConsole has been done). Need to read up on what implications that might

[2020-08-07 20:27] patriksvensson commented on #28
@AdmiringWorm I've added a fallback for borders on systems that is either legacy or doesn't support Unicode. You can opt-out from this behavior by setting either `Table.SafeBorder` or `Panel.SafeBorder` to `false`.

[2020-08-07 20:28] patriksvensson commented on #17
Fixed in `0.7.1-preview.0.1`

[2020-08-07 20:28] #17 closed

[2020-08-08 21:07] patriksvensson opened #31 "Should be able to adjust padding for grids, panels and tables"

[2020-08-08 21:11] #12 closed

[2020-08-08 21:11] #31 closed

[2020-08-08 22:04] patriksvensson opened #32 "Endless loop when table column widths can't be calculated"
If not table column widths can be calculated, the measurement algorithm sometimes goes into an endless loop, which is not very good. This should be fixed.

If this happen, we could probably return a length of 1 for the column and not write anything at all into the cell.

**Update:**
This seem to have something to do with `Segment.SplitLines` if it gets a max width of `0`

[2020-08-08 22:16] patriksvensson opened #33 "Support hex colors in markup"
Would be nice to use hex colors in markup.

[code]

[2020-08-08 22:17] patriksvensson opened #34 "Support RGB colors in markup"
Would be nice to use RGN colors in markup.

[code]

[2020-08-09 09:53] #32 closed

[2020-08-09 10:05] patriksvensson opened #36 "Enable nullable reference types"

[2020-08-09 11:43] patriksvensson opened #37 "Add aliases for styles"
* `[underline]Foo[/]` == `[u]Foo[/]`
* `[bold]Foo[/]` == `[b]Foo[/]`
* `[italic]Foo[/]` == `[i]Foo[/]`

[2020-08-09 12:21] patriksvensson opened #38 "Make assembly CLS compliant"

[2020-08-11 07:38] patriksvensson commented on #38
Actually, don't.

[2020-08-11 07:38] #38 closed

[2020-08-11 09:29] patriksvensson opened #40 "Do not include cell separators in grid"

[2020-08-11 09:53] #40 closed

[2020-08-11 14:45] #33 closed

[2020-08-11 14:45] #34 closed

[2020-08-11 14:45] #37 closed

[2020-08-11 15:24] #36 closed

[2020-08-14 16:18] patriksvensson opened #46 "Merge segments before writing them to the console"
Sometimes consecutive segments use the same style which causes the same ANSI escape codes to be repeated. Consecutive segments with the same style should be merged before rendering.

[2020-08-14 16:19] #18 closed

[2020-08-23 09:05] patriksvensson opened #190 "Treat trailing commands as extra remaining arguments"
If the user provides a command to a leaf command and strict parsing is turned off, the trailing command should be treated as an extra remaining argument instead of showing an error.

[2020-08-23 09:11] patriksvensson opened #189 "Don't show command examples at root"
Only examples specified on the root should show at the root. If examples are specified for commands it should not show up at the root since this is a bit confusing.

[2020-08-23 22:00] el2iot2 opened #47 "Support badges and badge styling"
https://twitter.com/ThePracticalDev/status/1297551421903077377?s=20

Saw this npm package and thought it's concept would be a great addition to this library. Is it doable? Appropriate? In scope?

[2020-08-24 08:03] patriksvensson commented on #47
@el2iot2 It would absolutely be doable and I have nothing against adding a "widget" that does this to the library.

![image](https://user-images.githubusercontent.com/357872/91019256-027f5600-e5f1-11ea-896d-9651cd7038f7.png)

![image](https://user-images.githubusercontent.com/357872/91019200-e7ace180-e5f0-11ea-9079-1c22d4f507b8.png)

[2020-08-24 21:11] patriksvensson opened #48 "Allow using "\[" to escape "[" in markup"
Right now we can escape `[` characters with `[[` but @agc93 suggested that it might be a good idea to support `\[` since this probably is the first thing a user tries when trying to escape something.

[2020-08-24 21:28] #13 closed

[2020-08-25 03:46] ycrumeyrolle opened #50 ""Hello" in French is misspelled"
Hi,
https://github.com/spectresystems/spectre.console/blob/8a01b93acad83118d090f4da8a8d9e66ed0f476e/examples/Table/Program.cs#L62

"Bounjour" should be replaced by "Bonjour"

[2020-08-25 07:13] patriksvensson commented on #50
@ycrumeyrolle Ouch, that is embarrassing. Will fix that asap 😅

[2020-08-25 07:18] #50 closed

[2020-08-25 07:52] patriksvensson opened #51 "Add support for setting table and panel border color"

[2020-08-25 08:27] #51 closed

[2020-08-26 17:03] patriksvensson commented on #48
Didn't realize that it's not possible to escape arbitrary characters, so will close this one and think about how we can make this more discoverable instead.

[2020-08-26 17:03] #48 closed

[2020-08-30 10:40] #46 closed

[2020-08-30 10:42] patriksvensson commented on #15
Better samples have been added.

[2020-08-30 10:42] #15 closed

[2020-09-03 11:45] patriksvensson opened #61 "Support text overflow"
If text overflows, we should support different ways of mitigating this

* Fold, just resume on the next line
* Crop, just crop the remaining characters
* Ellipsis, Append `…`

[2020-09-03 12:57] #61 closed

[2020-09-03 14:48] patriksvensson opened #63 "Add panel header support"

[2020-09-03 16:32] patriksvensson opened #64 "Make styles composable"

[2020-09-03 17:02] #63 closed

[2020-09-03 19:26] #64 closed

[2020-09-05 05:19] patriksvensson opened #67 "Support rendering columns"
Support rendering arbitrary data into columns.

[2020-09-05 05:45] #67 closed

[2020-09-05 06:15] patriksvensson opened #69 "Support rendering rows"
Support rendering arbitrary data into rows.

[2020-09-06 20:48] patriksvensson opened #71 "Add way of creating styles from strings"
Just as we do when we parse markup, it would be convenient if we could construct a style from a string.

[code]

Perhaps we should add support for implicit conversion from `String` to `Style` as well?

[2020-09-06 21:03] #71 closed

[2020-09-09 18:58] AdmiringWorm opened #75 "Support ANSI Hyperlinks in output"
It would be handy if there were support in spectre.console to output ANSI hyperlinks (clickable links) in the terminals that support this feature.

While there are currently only a handful of terminals that currently support this.
Current state of support (per 2020-05-31) can be seen here: https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda

From my own testing, I have found that GN

[2020-09-10 06:56] patriksvensson commented on #75
@AdmiringWorm Absolutely. Need to do a little research on my own and think about how this could be implemented, but a great idea!

[2020-09-10 17:22] patriksvensson commented on #75
@AdmiringWorm I've done some thinking and going to add support for this tonight.

[2020-09-11 15:44] #75 closed

[2020-09-11 15:45] patriksvensson commented on #75
@AdmiringWorm This has been merged and will be available in 0.21.0. If you want to play with this feature now, you can always use the preview package 😊

[2020-09-11 16:01] AdmiringWorm commented on #75
Will do, thank you for adding the support :smile_cat:

[2020-09-15 06:38] CarlosLanderas opened #78 "Cell Width issues when rendering emojis in table cells"
Hello, first of all, thanks for this amazing project. It enable us to build cool dotnet tools :)

I'm trying to render a table that contains emojis, and depending on the emoji (I suppose because of their length), the table renders ok with some emojis and it has an extra spacing with others.

Here is some sample code:

[code]

![image](https://user-images.githubusercontent.com/16475649/93174455-48c

[2020-09-15 07:38] patriksvensson commented on #78
@CarlosLanderas I have a method to calculate the cell length of a unicode rune, which is working, but I suspect I've forgot to use it somewhere in the code base. I'll investigate

[2020-09-15 07:53] patriksvensson commented on #78
@CarlosLanderas Yeah, it's a bug in the unicode codepoint width calculator. Will see if I can find it tonight and push a fix.

[2020-09-15 08:00] CarlosLanderas commented on #78
Thanks @patriksvensson  :)

[2020-09-20 03:39] phil-scott-78 opened #82 "Links with a link as the text fails"
Trying to do this markup fails because it thinks it might be an emoji - `Hello [link=http://example.com]http://example.com[/]`

Failing test - https://github.com/phil-scott-78/spectre.console/commit/1f5e00e6f0c6912a43f65f7c833f690d2bab99db

Exception
[code]

[2020-09-20 11:01] #82 closed

[2020-09-20 11:02] patriksvensson commented on #82
@phil-scott-78 Thanks for reporting this. I have fixed the bug and the patched code should be available in 0.21.1 👍

[2020-09-20 17:05] patriksvensson commented on #78
It should be better now with the release of 0.20.0.
Closing this for now since it's not going to get better until there's a better way of calculating emoji widths.

[2020-09-20 17:05] #78 closed

[2020-09-20 17:17] #69 closed

[2020-09-20 22:54] patriksvensson opened #85 "Add markdown border"
Would be nice to use markdown borders for tables.

* https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#tables
* https://www.markdownguide.org/extended-syntax/#tables

[2020-10-01 12:43] #85 closed

[2020-10-01 21:52] NikiforovAll commented on #47
This sounds fun. Do I understand correctly that this already could be done by using existing building blocks? We could make something more specific to draw badges. Could you please guide me, what is a good place to tackle this issue?

[2020-10-06 08:57] toburger opened #93 "Grids/Table: Exception gets thrown when console width is very small"
An Exception gets thrown when running the Grids or Table example on a very small console window:

Grid:

Table:

![image](https://user-images.githubusercontent.com/728782/95180118-d515f280-07c1-11eb-91e4-b2d57e1b5f75.png)

I don't expect pretty output but at least the program shouldn't crash.

[2020-10-06 09:40] patriksvensson commented on #93
@toburger Yup, it shouldn't crash. Will take a look at it when I have some free time.

[2020-10-06 09:42] AdmiringWorm opened #94 "Add ability to remap or add additional emojis"
It would be a nice to have feature if it would be possible to either remap or add additional emojis to the already supported emoji list supported by Spectre.Console.

For instance, in my use case, I would like to have the ability to map the GitHub emoji icon names to something that would be equivalent to the ones already in the Spectre.Console emoji list.

ie:
Remapping `:smile` (:smile:) to `:gri

[2020-10-07 15:33] #94 closed

[2020-10-08 18:23] khalidabuhakmeh opened #97 "Support Figlet fonts"
Figlet fonts allow folks to more easily design outputs in specialized ascii patterns.

[code]

- http://www.figlet.org/fontdb.cgi
- https://github.com/xero/figlet-fonts

[2020-10-08 19:26] khalidabuhakmeh opened #98 "Support Markdown rendering"
Allow folks to take a markdown file and render it to the console.

https://github.com/charmbracelet/glow

[2020-10-08 20:27] patriksvensson commented on #93
@toburger @khalidabuhakmeh This should be fixed with #99.
I've just pushed a new release, so it will be available on NuGet in about 15 minutes.

[2020-10-12 08:04] toburger commented on #93
Thx! Panel is now working, but Tables throws still an exception:

[code]

![image](https://user-images.githubusercontent.com/728782/95720995-43e7c580-0c72-11eb-8cc3-cd78d1c274b1.png)

[2020-10-15 14:58] khalidabuhakmeh opened #101 "Support A Month-View Calendar Renderable"
Support the ability to print out pretty looking calendar months, with the ability to highlight dates.

[code]

With a resulting output of the following:

[code]

![image](https://user-images.githubusercontent.com/228256/96146858-be178480-0ed4-11eb-9f5a-f54ce97b8fa0.png)

I have an initial implementation here, but the surface API and the configurable options can be changed and enhanced. I used `Gri

[2020-10-16 09:42] patriksvensson commented on #101
@khalidabuhakmeh Love this idea :)

Some feedback:

1. Using a table is probably best here since the user could customize what the border should look like.

2. I don't think the table should be populated in the Render method, since this means that you cannot render the same table instance more than once. You also want to call `Measure` with the same data that is going to be rendered. I think a goo

[2020-10-16 11:34] khalidabuhakmeh commented on #101
Cool... How do you do that? 😂

[2020-10-16 11:47] patriksvensson commented on #101
@khalidabuhakmeh I can submit a POC for it tonight

[2020-10-16 14:38] patriksvensson commented on #101
@khalidabuhakmeh Threw together a calendar control. Will submit a PR where we perhaps can continue the discussion?

[code]

![image](https://user-images.githubusercontent.com/357872/96272008-d61eff00-0fcd-11eb-9234-27c42d7b8a31.png)

[2020-10-16 14:46] patriksvensson commented on #101
@khalidabuhakmeh PR is here: https://github.com/spectresystems/spectre.console/pull/102

[2020-10-16 17:37] khalidabuhakmeh opened #103 "Add bar graph support"
Here is an initial draft of the API. Feedback and thoughts are welcome.

[code]

https://stackoverflow.com/questions/56139993/c-sharp-how-to-make-a-horizontal-bar-graph-in-the-console-app

[2020-10-16 18:03] ctyar opened #104 "Is this layout possible"
I recently started using your project. I was wondering if it is possible to create a layout like this:

![image](https://user-images.githubusercontent.com/1432648/96292493-3164e780-0ff6-11eb-8e83-390190fa3a6d.png)

With a Column and two Panels, I can divide the console into two equal boxes.
I tried using two columns and nested Columns but it didn't work

Thanks for your great project.

[2020-10-16 21:02] #101 closed

[2020-10-17 10:37] #93 closed

[2020-10-17 11:06] patriksvensson commented on #93
@toburger This should be fixed now. Would you mind taking it for a spin to verify?

[2020-10-18 02:49] #104 closed

[2020-10-18 05:31] patriksvensson opened #109 "Add column overflow for tables and grids"
Would be nice to specify a default column overflow for tables and grids.

[2020-10-18 05:41] patriksvensson opened #110 "Add table overflow strategies"
There should be an option to specify overflow strategies for tables when one or more columns can't be displayed.

* If the table can't be displayed at all (`requested max-width <= 0`), show an ellipsis.
* Truncate table if it exceeds the requested max-width.

## Default

Do nothing to prevent bad rendering.

## Yolo

Do nothing to prevent bad rendering.
Do not truncate the table or show ellipsis.

[2020-10-18 09:42] toburger opened #113 "Instructions to get emojis to work (on Windows)"
I am using Emojis for a project and everything worked perfectly fine on my machine.
After distributing the self executable to the customer he reported me that the emojis didn't get printed out and instead two question marks (??) are displayed.
This was quite surprising because in the documentation there exists no section of when emojis get printed and when not.

So this is an effort of collecting

[2020-10-18 10:06] toburger commented on #93
I can confirm that the bug is fixed! 👍

[2020-10-18 22:20] patriksvensson opened #116 "Add support for table headings and footnotes"

[2020-10-19 13:46] #116 closed

[2020-10-21 09:20] goswinr opened #124 "Can I use spectre.console to print to my own colored console?"
My WPF app has its own console (based on Avalonedit).
For colored printing there is a function that takes three integers and a string:
`PrintColored(red, green, blue, text)`
Can I use spectre.console to print in color to my own console?

[2020-10-21 10:11] patriksvensson commented on #124
@goswinr If your console exposes a `TextWriter` and supports ANSI escape sequences then yes.

[2020-10-21 10:17] goswinr commented on #124
@patriksvensson yes my console exposes a` TextWriter ` too.
Would I have to parse the ANSI escape sequences myself within the` TextWriter`  to call my `PrintColored(red, green, blue, text)` ?

[2020-10-21 10:27] patriksvensson commented on #124
@goswinr Exactly. If you do that you should be able to use Spectre.Console in your app.

[2020-10-21 10:28] #124 closed

[2020-10-21 10:34] goswinr commented on #124
@goswinr Thanks, it works already great in my F# scripting editor. Just the colors are missing.
![2020-10-21 12_31_51](https://user-images.githubusercontent.com/884885/96708405-7d6ab000-1399-11eb-9ed6-239fc18ceb8b.png)

[2020-10-21 10:44] patriksvensson commented on #124
@goswinr Awesome! Your app looks awesome as well! 😀

[2020-10-23 18:13] blakepell opened #127 "Render various common data structures to Tables"
I don't know if there was a way to do this already built in, but I end up working with lots of data whether it's in a `IDataReader`, `IEnumerable<T>` or `IEnumerable<dynamic>` (from Dapper which I use frequently, I had to do some acrobatics to reflect on the dynamic IEnumerable but it's working out well).  If this didn't exist I didn't know if something like this would be useful.  I'm using this f

[2020-10-26 23:05] ChrisMissal commented on #127
I think some sort of extension would be pretty useful, but I don't think needs to be aware of those types. My first thought was implementing an interface, and wrapping your IDataReader.

[2020-10-27 08:07] patriksvensson commented on #127
@blakepell There will not be any built-in knowledge of IDataReader or similar, but I will add some convenience methods to render POCO-objects as tables.

Using `AnsiConsole` directly is mostly for convenience and small apps. I recommend that you pass an `IAnsiConsole` around for more complex applications. This way, it's easier to unit test the functionality of your application. You can get the `IA

[2020-10-27 08:10] patriksvensson commented on #113
@toburger Thanks for opening this! Will update the documentation with this when I have some spare time.

[2020-10-27 16:43] AdmiringWorm opened #134 "Using Wide Character compatibility renders double table columns in gnome-terminal"
When using gnome-terminal, and have the option `Ambiguous-width character` set to `Wide` causes spectre.console to render all tables with the double amount of table columns (Setting the option to narrow fixes this issue though).

![image](https://user-images.githubusercontent.com/1474648/97333203-91238400-187b-11eb-89f2-a47c614230fe.png)

Reproducible in `gnome-terminal` by setting the following o

[2020-10-27 16:49] patriksvensson commented on #134
Yeah, not sure what to do about something like this, to be honest. Is there an environment variable or something that this setting is reflected via? In that case, we might be able to not use `wcwidth` when calculating character width, and simply multiply the number of characters with 2. That would fix your problem. That is if there is a way of detecting this.

[2020-10-27 17:04] AdmiringWorm commented on #134
Honestly, I got no idea if it is possible to detect it through an environment variable, I believe the only way to find out is to query `gsettings` (but I do not know what the settings name would be).

Best bet would probably to document the issue instead, maybe allow the settings to be overridden?
Personally, I fixed the issue on my end by just setting the ambiguous-width character to narrow inste

[2020-10-27 17:09] patriksvensson commented on #134
@AdmiringWorm Can you check what `VTE_CJK_WIDTH` environment variable is when "Ambiguous-width character" is set to `Wide` and `Narrow`?

[2020-10-27 17:11] AdmiringWorm commented on #134
@patriksvensson I just checked, it is undefined (or at least empty) both for `Wide` and for `Narrow`.

[2020-10-27 17:18] patriksvensson commented on #134
@AdmiringWorm Out of curiosity. If you set your terminal to have "Ambiguous-width character" is set to Wide, then launch the table example with `VTE_CJK_WIDTH=1`, `VTE_CJK_WIDTH=0` and `VTE_CJK_WIDTH=2`, do you see any difference in the output?

[2020-10-27 17:22] AdmiringWorm commented on #134
@patriksvensson no, there is no difference in the output with either one of the values of the variable.
All of them produces the same output (both using Wide and for Narrow compatibility set).

[2020-10-27 17:35] AdmiringWorm commented on #134
To check if it was something that changes that causes this, I traced back to the earliest version of spectre.console the showed the same symptoms.

I found that since v0.4.0 (the introduction of panels I believe), the same issue occurs.

I also compared all environment variables set between the `Wide` and `Narrow` compatibility layer, and unfortunately, there are no changes between them.

[2020-10-27 17:38] patriksvensson commented on #134
@AdmiringWorm I see. Sadly this has nothing really to do with Spectre.Console, it's the Gnome terminal which behaves in a way that's kind of unorthodox, so the best we can do is document the behavior if we can't detect it.

[2020-11-22 02:09] #97 closed

[2020-11-22 20:54] patriksvensson opened #143 "Move Figlet docs"
Move Figlet documentation to ”widgets” folder. Don’t forget to add a redirect.

[2020-11-24 14:28] cultureulterior opened #144 "Support tree data"
Hi-

This looks really good.  Does it support tree data, e.g like this?
[code]

[2020-11-24 16:44] cdhunt opened #145 "Unexpected Exception in WriteException"
I was testing with divide by zero exception in Powershell. Every other test exception I've tried works as expected.

**Input Exception**

[code]

**Exception from Spectre.Console**
[code]

[2020-11-24 16:54] patriksvensson commented on #145
@cdhunt Very ironic to get an exception during exception rendering 😊

I will take a look at it in a couple of hours when I'm at a computer and submit a fix.

[2020-11-24 17:17] cdhunt commented on #145
No rush. It seemed like an outlier, so I reported it in case it shows up in some other scenarios.

[2020-11-24 21:16] #145 closed

[2020-11-24 21:17] patriksvensson commented on #145
@cdhunt This problem has been fixed and should be available in v0.31, or the latest preview version on NuGet if you want to try it out before that.

Thanks for reporting this! 👍

[2020-11-24 21:18] patriksvensson commented on #144
@cultureulterior That is something that I've planned to implement once some other things are in place. Thanks for the suggestion! 👍

[2020-11-25 12:40] rold2007 opened #149 "Resizing the console makes the images disappear"
I just tested the new canvas. It works well, except that when the console is resized the console turns black!

![2020-11-25 (6)](https://user-images.githubusercontent.com/507551/100228850-aa951a00-2f66-11eb-8e86-59f58ea44f00.png)

After maximizing:
![2020-11-25 (7)](https://user-images.githubusercontent.com/507551/100228857-abc64700-2f66-11eb-8900-a2f768b8b58d.png)

[2020-11-25 13:18] patriksvensson commented on #149
@rold2007 This has nothing to do with Spectre.Console, but is related to the terminal in question preserves output during resizing.

[2020-11-25 15:22] cdhunt commented on #145
Looks good!

![image](https://user-images.githubusercontent.com/114173/100247217-198f5600-2f08-11eb-9411-93087ca90462.png)

[2020-11-25 17:27] patriksvensson commented on #149
@rold2007 Verified that this is confined to Windows Terminal, so I'm closing this issue for now. I Will see if there's a way to work around it, but not sure what that would be.

[2020-11-25 17:27] #149 closed

[2020-11-26 03:07] chenxuuu opened #150 "not compatible with Chinese and Japanese"
output extea lines

![图片](https://user-images.githubusercontent.com/10357394/100303365-4bbbb900-2fd7-11eb-896d-1bd3e736bce1.png)

![图片](https://user-images.githubusercontent.com/10357394/100303322-39417f80-2fd7-11eb-8081-6b75c3144541.png)

[2020-11-26 11:29] rold2007 commented on #149
@patriksvensson Thanks for your answer. I understand your point, but at the same time I was surprised to see that the text (image titles) was still there but the image "pixels" weren't. I don't see why the text would be there but not the pixels if everything is drawn as "text".

[2020-11-26 11:34] patriksvensson commented on #149
@rold2007 I see your point, but this seems to be a bug in Windows Terminal and not really sure what I can do about that 😕

If you have any suggestions, they are welcome.

[2020-11-26 12:35] rold2007 commented on #149
@patriksvensson I looked into it a little bit but I haven't finished yet. As you can see from the first screenshot, if I print 'a' instead of spaces it "works". The only drawback is that for some reason the color gets spread out to the right of the "image".

![2020-11-26 (2)](https://user-images.githubusercontent.com/507551/100351512-e398c180-302e-11eb-9bf3-fd30e3a918af.png)

I started testing wit

[2020-11-26 12:59] rold2007 commented on #149
To fix the color spread I tried adding a blank space before the LineBreak in the Canvas Render() method:
[code]
It works better except for the third image which shows empty spaces when the console isn't wide enough...

Maximized console:
![2020-11-26 (4)](https://user-images.githubusercontent.com/507551/100353212-85b9a900-3031-11eb-8896-d91a1a59cc5d.png)

Default size console:
![2020-11-26 (5)](ht

[2020-11-27 08:01] sdutwsl commented on #150
In genaral, call it [CJK Unified Ideographs](https://en.wikipedia.org/wiki/CJK_Unified_Ideographs).

[2020-11-27 08:29] patriksvensson commented on #150
@chenxuuu I have no idea why this happens. I first suspected that we get the wrong width for the CJK characters (i.e. 1 instead of 2), but there is no shift in horizontal spacing so this seems to be something else.

What terminal and OS are you running? What is the font you're using?

Also, could you post the changes you've made to a GitHub Gist or similar?

[2020-11-27 08:48] chenxuuu commented on #150
I tested it with `powershell`(windows), `mintty`(windows) and `MobaXterm`(ssh to my linux machine)

output extra lines

code: https://gist.github.com/chenxuuu/3186c111558355825b6fef210cc92cff

[code]

[2020-11-27 09:03] patriksvensson commented on #150
@chenxuuu Looks like there's a bug in the `Panel` rendering. Will take a look tonight and see if I can solve it for you.
I think I know what it is.

![image](https://user-images.githubusercontent.com/357872/100430899-acaac600-3097-11eb-8889-a47d0a674f6a.png)

[2020-11-28 14:16] eduherminio opened #151 "System.IO.IOException : The handle is invalid - GitHub Actions, Windows"
I'm using `spectre.console` in a library ([this file](https://github.com/eduherminio/AoCHelper/blob/pretty-console/src/AoCHelper/Solver.cs)) and I have a test project that runs [simple tests](https://github.com/eduherminio/AoCHelper/blob/pretty-console/tests/AoCHelper.Test/OverrideInputFileExtensionTests.cs) over it.

Everything works like a charm locally in both Windows and Linux but I have a CI

[2020-11-28 14:46] patriksvensson commented on #151
Console.Clear() won't work in places like GitHub actions on a Windows machine, since there isn't an actual console handle to clear and will throw. AnsiConsole.Clear will use ANSI escape sequences to clear the screen, however, not sure if this is supported on GitHub and is probably why you see strange output there.

I think your best approach here is to try to detect whether or not running in an no

[2020-11-28 15:51] eduherminio commented on #151
hmm making the tests in this repo pass is relatively easy, but my real issue here is that I'm using this code as part of a NuGet package.

If I use `<DefineConstants>` depending on env variables + preprocessor, I'll get await with it in this repo, but other projects that will use of this package won't be able to get around the problem when using non-interactive environments, right?

Can you think

[2020-11-28 16:10] patriksvensson commented on #151
Environment.Interactive in combination with the environment variables CI servers define should be enough.

[2020-11-28 16:54] eduherminio commented on #151
hmm that's the key, I was missing the point by using the environment variables at compile time rather than at runtime.
Thanks a lot (and congrats on the project!).

[2020-11-28 16:54] #151 closed

[2020-12-01 08:17] zplan opened #154 "WriteException fails because of generic"
When a stack trace contains a generic method the AnsiConsole.WriteException fails with the error message:
"Could not parse style T"

Example "text "string in Markup.cs :
_paragraph = MarkupParser.Parse(text, style);

[silver]Microsoft.VisualStudio.Services.WebApi.VssHttpClientBase.[/][yellow]SendAsync**[T]**[/][silver]([/][blue]HttpRequestMessage[/] [silver]message[/], [blue]Object[/] [silver]user

[2020-12-01 12:04] zplan commented on #154
@patriksvensson
Thanks a lot for your fast reponse. I am using 0.30.0,

Strange, I was not updating yet because the release notes mention only a typo fix and also the commit shows only a typo change:
"Fix typo in package description"
https://github.com/spectresystems/spectre.console/releases/tag/0.31.0

But after updating to 0.31.0 it seems to work.
Sorry for that but how is this explainable?

[2020-12-01 12:24] patriksvensson commented on #154
@zplan Great that it solved itself.

I don't update the release notes, so it just shows the commit the release was made from.

[2020-12-01 12:24] #154 closed

[2020-12-04 19:44] onionhammer opened #156 "Sample for re-rendering / partially updating table"
Hi! I want to display a table with values that continually update, it would be nice to have an 'idiomatic'/documented way of doing this (apologies if this is documented somewhere, I didnt find it)

I'm currently doing this by building a new Table() for every re-render, and clearing the whole buffer every time. Is this the only way?

[2020-12-04 21:16] onionhammer commented on #156
Update: looks like you added the (incredibly awesome) Progress since I implemented using a Table; which is a *much* better fit for my own case. Perhaps some way of rendering borders/etc for Progress to make it look more table-like, since it aldready has columns etc. would be nice.

[2020-12-06 22:33] aclemmensen commented on #156
I'd actually like examples of this as well and I'd prefer to not be limited to using the Progress feature. I've experimented with calling `System.Console.Clear()` before rendering but that results in lots of flickering. Using `AnsiConsole.Console.Clear(true)` has the same result, more or less, but spams the console history with each frame I'm rendering.

Is there a canonical example of how to upda

[2020-12-07 08:38] patriksvensson commented on #156
@onionhammer @aclemmensen Updating the UI in-place is kind of out-of-scope for Spectre.Console which isn't a TUI framework, and not something that I plan to support. Sorry.

[2020-12-07 21:58] eduherminio commented on #156
Sorry to insist on this topic @patriksvensson, but I want to make sure I didn't get you wrong.
I'm also re-rendering a `Table` when I 'only' want to append new rows (similar to what you do in the first part of this [Star Wars example](https://spectresystems.github.io/spectre.console/assets/images/table.gif)).
I guess I can try to re-implement it now with `Progress` (missing some table-alike look a

[2020-12-07 22:45] onionhammer commented on #156
For the record I think Table should definitely have some way of progressively rendering rows; we live in a world of fetching data asynchronously, so not having that ability really limits how/when Tables are used.

[2020-12-07 23:51] patriksvensson commented on #156
@eduherminio @onionhammer It's an easy problem to solve if we only think about the happy path, i.e. update the table, but when it comes to things like supporting re-rendering of tables in terminals that do not support ANSI escape codes or doing cursor updates via ANSI (i.e. GitHub Actions) it gets a bit more complicated.

Progress is a fairly simple thing and there are fallback mechanisms in place

[2020-12-08 20:16] lwestfall opened #158 "Up key listener for prompt history"
Hi, apologies in advance if this is just a flag I didn't set or something, I couldn't find anything in the docs.

I have a prompt and I'd like to hit the up key to go through my input history (within the lifetime of the program). Right now it appears to do nothing. Am I missing something or is this unavailable?

Example:

[code]

---
Please upvote :+1: this issue if you are interested in it.

[2020-12-08 20:29] patriksvensson commented on #158
@lwestfall This is not something that has been implemented, so you're not doing anything wrong 😊

[2020-12-08 20:32] lwestfall commented on #158
Well, that's a relief 😆

Is this something you'd be interested in adding? If so I might be able to help, though not for a couple of weeks at the earliest.

[2020-12-09 01:46] bluemodus-acoats opened #160 "Support for Windows Terminal HyperLinks"
I would be great to be able to use the Markdown like syntax to create clickable WIndows Hyperlinks.

https://devblogs.microsoft.com/commandline/windows-terminal-preview-1-4-release/#hyperlink-support

[2020-12-09 07:01] patriksvensson commented on #160
@bluemodus-acoats Thanks for the suggestion, but this is already supported. See `dotnet example links` for an example.

[code]

[2020-12-09 07:01] #160 closed

[2020-12-10 13:13] reneduesmann opened #162 "What is the best way to use Progress?"
Hey guys,

i'm writing a downloader and i want to show the download progress of the files.

I have a list of "DownloadItem", after collecting this items, a method creates tasks. store the tasks in a list and after that, i wait of all tasks with `await Task.WhenAll(tasks);`.

In the task, i download the file with a HttpClient and use the Progress class, to notify a method of the current status of t

[2020-12-11 05:32] DarthPedro opened #192 "Branch command name not showing up in help text."
If I have an AddBranch as follows:
[code]
The help text for this will only show a period in the COMMANDS section:
USAGE:
    lesson [OPTIONS] <COMMAND>

EXAMPLES:
    lesson student new --id 1001
    lesson student view --id 1001
    lesson student list
    lesson student delete --id 1001

OPTIONS:
    -h, --help    Prints help information

COMMANDS:
.

If however, you add a description to the stu

[2020-12-11 06:45] DarthPedro opened #188 "Settings with multiple arguments out of order in command help text"
If you have a settings class with multiple arguments defined as follows:
[code]

If you look for the command help text using the command line: app student new -h
[code]

The USAGE section has the arguments in reverse order. The ARGUMENTS section order is correct. But if you run the following help command: app student -h:
[code]

Notice that the new COMMAND argument order is correct here.

[2020-12-12 13:58] mgasparel opened #163 "Setting the MaxValue of a ProgressTask increments the existing value"
https://github.com/spectresystems/spectre.console/blob/acf01e056fbaeb19baa5cc1b66062579aa704576/src/Spectre.Console/Progress/ProgressTask.cs#L170

After assigning the MaxValue of a ProgressTask to a value of `20`, the ProgressTask.MaxValue becomes `120`

I'm currently working around this by subtracting 100 from the desired value.

[2020-12-12 16:01] patriksvensson commented on #163
@mgasparel Thanks for reporting this! I've submitted a PR that fixes this (#164)

[2020-12-12 16:03] patriksvensson opened #165 "Add issue templates"
There should be some issue templates that can be filled out by the user so I don't have to ask the same questions over and over.

[2020-12-12 16:29] #163 closed

[2020-12-12 17:15] patriksvensson commented on #163
This issue has been fixed and should be available in the preview version of Spectre.Console.

[2020-12-12 21:54] DarthPedro opened #187 "Allow default command configuration for a branch"
If I define a branch with multiple commands, I would like to also configure a default to be called when the root of the branch is used. For example, in the following command configuration:
[code]
I would like to set a default in the student configurator, like the following:
`                    student.SetDefaultCommand<StudentListCommand>();
`
That way if the user types the command: myapp student

[2020-12-13 01:30] HolisticDeveloper commented on #113
I found that this affected the display of the line graphics as well, and not just the emojis. For example, having looked at the Progress sample, I tried implementing my own, but I was confused when the line styles and spinners did not match up with the ones in the animations. Setting the output encoding to utf-8 and running in Windows Terminal improved things.

[2020-12-13 14:17] billhenn opened #166 "Add key(s) to easily cycle through prompt choices"
When I use the `Prompt` method and add several choices to it (e.g. `apple`, `banana`, `orange`), I'd love to be able to use something like up/down arrow keys to cycle through available choices rather than having to fully type each one out.  For instance in this scenario, the prompt would come up, I'd press down once and `apple` would be filled in.  If I pressed down arrow again, `banana` would rep

[2020-12-13 17:10] patriksvensson commented on #166
@billhenn Excellent suggestions!

[2020-12-13 18:01] #162 closed

[2020-12-14 04:36] joserocha opened #167 "Prompt Choices dinamically"
Is there some way to add choices dynamically ?
I tried every possibility I know (which is not much) but no success.

[2020-12-14 08:20] #167 closed

[2020-12-15 12:18] gsferreira opened #168 "Have a project with common concepts between spectre.console and spectre.cli"
I have a project using spectre.cli and now I want to add spectre.console to it, in order to improve the user experience.

I noticed that a concept like "ValidationResult" exists in both projects, so, it will exist in both namespaces.

I see the potential of using both projects together, so I have been thinking if it wouldn't be a good idea to have a "core" project with base concepts common to both

[2020-12-15 18:52] HolisticDeveloper opened #169 "Progress throws OverflowException when task takes some time to increment the progress"
**Information**
 - OS: Windows 10
 - Version: 0.34.0
 - Terminal: Windows Terminal

**Describe the bug**
I am using Progress while I am looping through a collection of items to process. It may take a couple of seconds to process each item in the loop. If the first item does not call `task.Increment()` shortly after creating the task, then Progress throws an OverflowException.

**To Reproduce**

[c

[2020-12-16 21:06] patriksvensson commented on #168
@gsferreira Thanks for the suggestion!

I however want to keep the two projects separate and don't want them to rely on shared definitions since this will make it more difficult to change things in the future and I don't want the cognitive overhead it would impose. One solution to this could be to rename the `ValidationResult` class in one library to something else. I will think about it.

[2020-12-16 21:14] patriksvensson commented on #158
@lwestfall I can take a look at it in the following week.

[2020-12-16 21:17] patriksvensson commented on #169
@HolisticDeveloper That exception should only occur if the number of ticks is greater than `9223372036854775807`.

I haven't been able to reproduce this myself. Could you try creating a minimal reproducible example of this?

[2020-12-16 23:02] #150 closed

[2020-12-16 23:03] patriksvensson commented on #150
@chenxuuu I just merged a fix for this which will be available in v0.35 or the next preview version if you don't want to wait.

[2020-12-16 23:08] HolisticDeveloper commented on #169
@patriksvensson I updated the first post with different code that reliably repros this on my system.

[2020-12-16 23:18] patriksvensson commented on #169
@HolisticDeveloper Great! I will see what's causing this

[2020-12-16 23:43] #169 closed

[2020-12-16 23:44] patriksvensson commented on #169
@HolisticDeveloper I've fixed this bug and the fix should be available in v0.35 or the preview version if you want to try it out asap.

Thanks for reporting this! 👍🏻

[2020-12-20 08:35] stevenknox commented on #166
Similar to this would be checkboxes that can be navigated and selected using the keyboard. Ait would allow creation of a menu system similar to Yoman.

Im not sure if thats even possible with c# console apps, never came accross one on the wild

[2020-12-20 19:13] patriksvensson commented on #166
@stevenknox Great suggestion! Would you mind creating a new issue for this?

[2020-12-21 13:53] khalidabuhakmeh commented on #103
![image](https://user-images.githubusercontent.com/228256/102784127-ef478180-4369-11eb-9b57-eedf43b92c8e.png)

Here is some image inspiration for a kind of graph.

[2020-12-22 10:28] #165 closed

[2020-12-22 10:31] #166 closed

[2020-12-23 09:05] #103 closed

[2020-12-23 16:49] MiloszKrajewski opened #186 "Remaining arguments gets reparsed and split on spaces"
Forked from spectresystems/spectre.cli#108 as requested

### Scenario

My application wraps around execution of other applications so I need to pass all arguments as is, for example, this:
[code]
tells my app (`app`) to run (`run`) other application (`cmd`) and pass "other arguments "as is" (`/c "set && pause"`).
I can see though that single argument "set && pause" get's reparsed as 3 "set", "&&",

[2020-12-28 16:28] #168 closed

[2020-12-30 08:18] OlegGavrilov opened #184 "Somehow allow exceptionless markup parsing"
**Is your feature request related to a problem? Please describe.**
When implemening ILogger, there is no way to have Spectre.Console not to throw when exceptions happens.

**Describe the solution you'd like**
I would like to be able to implement custom MarkupParser which could swallow possible exceptions and render string as-is if there was any errors during rendering. Currently I can't do that be

[2020-12-30 08:44] patriksvensson commented on #184
@OlegGavrilov You can escape input by using the `string.EscapeMarkup()` extension method, or `Markup.Escape(string))` method.

[code]

More information at https://spectresystems.github.io/spectre.console/markup in the `Escaping format characters` section.

[2020-12-30 08:44] #184 closed

[2020-12-30 17:43] #192 closed

[2020-12-30 17:45] patriksvensson commented on #186
@MiloszKrajewski Spectre.Cli have been merged into the `Spectre.Console` library. You might want to check the [Migration guide](https://spectresystems.github.io/spectre.console/cli/migration) to get this working.

### Problem

The way you define the input is never how an application would be receiving them.

[code]

It would expand to something like `run cmd -e A=7 -e B=10 -- cmd /c set && pause`.

[2020-12-30 19:10] MiloszKrajewski commented on #186
As long as it works (I didn't test it yet) it will be fine, but I'm afraid, you are not right saying: "The way you define the input is never how an application would be receiving them."

It does.

I used this "sophisticated" application:

[code]

and ran it with:

`app run cmd -e A=7 -e B=10 -- cmd /c "set && pause"`

and received:

[code]

Please note: no quotes `set && pause` are stripped by Pow

[2020-12-30 19:17] patriksvensson commented on #186
@MiloszKrajewski Yes, different shells does different things. You will need to quote the arguments for it to work.

If you're going to specify the arguments yourself from a .NET program you will need to quote them explicitly.

[2020-12-30 19:22] patriksvensson commented on #186
@MiloszKrajewski Try and see if the preview version works and get back to me. If there still are problems I can take another look tonight.

[2020-12-30 20:04] MiloszKrajewski commented on #186
So I can work with that intercepting args and adding quotes around them.
Part of my confusion comes from the fact that they are treated differently before and after `--`, for example:

[code]

This application prints:
1. arguments received (`string[] args`)
2. arguments parsed
3. arguments remaining (raw)

so when executed with:

`app XXX -- YYY`

I would expect:

1. received: `['XXX', '--', 'YYY'

[2020-12-30 20:14] patriksvensson commented on #186
@MiloszKrajewski The first one is an argument, so the parser knows that the provided string is a string and treats the input as such. The remaining arguments however can't be reasoned about in the same fashion. When we tokenize it, we treat the raw parts as words if they're separated by space. `three words after` could theoretically be three consecutive commands `three`, `words`, and `after`.

We

[2020-12-30 20:44] MiloszKrajewski commented on #186
I guess I just interfered with some design choices you made and they are not fitting exactly how I would reason about "remaining arguments". I absolutely understand how difficult it could be to change something like this when API is settled and library is used (by others! who may actually rely on this behaviour).

What I can offer is the justification to not break those `"three words after"`:

The

[2020-12-30 20:53] patriksvensson commented on #186
@MiloszKrajewski I'm actually quite open to changing this behavior. Your justification makes sense 😊

[2020-12-30 23:17] mhenggay21 commented on #186
Hi Patrick Svensson,

Can i know details about joshua borre he prison in marikina city jail ?

Please answer my question.

Thank you ❤️

On Thu, Dec 31, 2020, 4:53 AM Patrik Svensson <notifications@github.com>
wrote:

[2020-12-31 11:07] patriksvensson commented on #186
@MiloszKrajewski I think I have a solution now for your problem.

@mhenggay21 I have no idea what you're talking about. Sorry.

[2021-01-01 11:19] #186 closed

[2021-01-01 11:20] patriksvensson commented on #186
@MiloszKrajewski I've merged a potential fix to your problem. Could you check and see if it does what you expect it to now?

[2021-01-01 12:43] #188 closed

[2021-01-01 12:46] MiloszKrajewski commented on #186
Yes it is what I would expect.
Although... I by accident discovered unrelated bug (I managed to freeze/infinite loop parser).
I'll create new issue.

[2021-01-01 13:03] MiloszKrajewski opened #198 "Parses freezes on ill-formed arguments"
**Information**
 - OS: Window 10
 - Version: 0.36.0 + 0.36.1-preview0.5
 - Terminal: Cmder / Powershell

**Describe the bug**

Parser freezes when short option contains space (?) (I actually don't know exactly but it is easy to replice so it does not really matter what I know).

**To Reproduce**

Pass option and it's value quoted, for example instead of:

```app -o value```

do:

```app "-o value"

[2021-01-01 13:48] patriksvensson commented on #198
I'll take a look at it later tonight. Great that you're finding edge cases like this!

[2021-01-01 15:00] mcon commented on #98
I'm going to have a shot at this, looks like it's not too tricky to use https://github.com/xoofx/markdig

[2021-01-01 18:54] DarthPedro commented on #188
Thanks!

[2021-01-01 21:53] patriksvensson commented on #186
@MiloszKrajewski Btw, I notice that you're trying to parse the form `-e FOO=BAR -e BAZ=QUX`. This is already supported. Just set the type of your `Environment` property to `ILookup<string, string>`, and it will be mapped automatically.

[code]

The types `ILookup<string, string>`, `IDictionary<string, string>` and `IReadOnlyDictionary<string, string>` will work here, but the two latter will, of co

[2021-01-01 22:01] #198 closed

[2021-01-01 22:02] patriksvensson commented on #198
@MiloszKrajewski This should be fixed now. Could you take it to a spin and confirm?

[2021-01-02 17:48] MiloszKrajewski commented on #198
It is working fine now (preview-0.9). Thanks!

[2021-01-03 00:37] MiloszKrajewski opened #203 "Simple switches end up on "remaining" list even if parsed properly"
**Information**
 - OS: Windows 10
 - Version: 0.36 + 0.36.1-preview0.9
 - Terminal: Cmder / Powershell

**Describe the bug**

What I mean by simple switch:

I assume we can pass bool values in two ways:

[code]

and use them as:

```app -a true -b```

By simple switch I mean `-b` (but NOT `-a <bool>`)

So, even if parsed properly simple switches are also reported on `context.Remaining.Parsed` list

[2021-01-03 11:36] mcon commented on #144
Can probably close this now :+1:

[2021-01-03 11:36] mcon commented on #98
PR here if anyone's interested: https://github.com/spectresystems/spectre.console/pull/204

[2021-01-04 11:19] patriksvensson commented on #203
@MiloszKrajewski Another edge case! 😅 I will take a look asap!

[2021-01-05 15:28] stevenknox opened #210 "Checkbox style menu with keyboard support"
Checkboxes that can be navigated and selected using the keyboard. It would allow creation of a menu system similar to Yeoman (see gif below for an idea on keyboard support and bottom screenshot for checkbox style)

I'm not sure if that's even possible with C# console apps, never came across one on the wild

![ssotemplate](https://user-images.githubusercontent.com/1719323/103664700-74d25080-4f6a-11

[2021-01-05 15:31] stevenknox commented on #210
Id be happy to put some leg work in on this but not sure where to even start in terms of how the menu/checkbox list would be created in a C# console app ?

[2021-01-05 20:15] KirillOsenkov opened #211 "Support for NO_COLOR (https://no-color.org)"
I just came across what I think is a nice informal standard:
https://no-color.org

Consider supporting it?

[2021-01-06 08:55] patriksvensson commented on #211
@KirillOsenkov It should already be supported in the last preview version and will appear in 0.37.
Could you try with a preview version and see if it's working for you?

[2021-01-06 18:13] KirillOsenkov commented on #211
If it doesn’t I’ll reopen. Thanks!

[2021-01-06 18:13] #211 closed

[2021-01-07 08:53] patriksvensson commented on #210
@stevenknox I'm going to take a look at this tonight.

[2021-01-07 09:22] stevenknox commented on #210
Let me know if I can help in any way

[2021-01-07 14:25] turp opened #213 "Question: CLI Settings Validation"
Love this project!

Does the CLI framework contain a way to validate required settings properties before a command is executed? I have a number of commands with required and optional parameters, but it's not clear how to enforce that behavior. Any guidance would be appreciated.

[2021-01-09 07:46] patriksvensson commented on #213
@turp Please re-open this under "Discussions" instead.

![image](https://user-images.githubusercontent.com/357872/104086306-0980cb00-5257-11eb-83c1-56b3de0d9612.png)

[2021-01-09 07:46] #213 closed

[2021-01-09 08:37] #210 closed

[2021-01-09 08:54] lploumen opened #215 "Cannot run examples"
**Information**
 - OS: Windows, netcore 5.0
 - Terminal: Windows Terminal

**Describe the bug**
Cannot run the examples.
dotnet example is working fine and lists available examples but I can't run any.

![image](https://user-images.githubusercontent.com/11539944/104087519-95e3bb80-5260-11eb-8876-a4714ca60f12.png)

[2021-01-09 08:57] patriksvensson commented on #215
@lploumen Have you by any chance downloaded the zip file instead of cloning the repository?

[2021-01-09 09:02] lploumen commented on #215
Exactly what I did yes. I didn't know there were differences between the zip file and a repo clone.
I'll try again ! Thank you

[2021-01-09 09:11] patriksvensson commented on #215
@lploumen Awesome. Closing this issue but feel free to re-open.

[2021-01-09 09:11] #215 closed

[2021-01-09 10:22] mcon opened #216 "Width detection fails when running Windows apps in WSL"
**Information**
 - OS: Windows 10
 - Version: WSL 1
 - Terminal: WSL Shell

**Describe the bug**
Spectre.Console gets the terminal width by getting `System.Console.BufferWidth` however, when running a Windows app in WSL, this throws an `IOException`, leaving Spectre.Console using the default of 80 columns wide whatever the actual size of the terminal.

**To Reproduce**
Run a Spectre.Console app ru

[2021-01-09 10:47] lploumen commented on #215
I cloned the spectro.console rep, compiled succesfully but I still can't run the example. I still get the exact error message as I previously had.

[2021-01-09 11:38] patriksvensson commented on #216
@mcon Yes, it's not optimal. I'm currently rewprking the capabilities API which will make it possible to override things without creating a new console (as well as implementing specific profiles for known environments). I would suggest that we add some specific (opt-in) logic for more advanced detection once that is in place.

[2021-01-09 13:13] mcon commented on #216
Sounds good to me, certainly I'm not advocating moving away from `Console.BufferWidth`, and this approach would only be sensible as a fallback.

[2021-01-12 05:21] Nikey646 opened #221 "Allow SelectionPrompt choices to have markup"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
To be able to use markup in choices for the `SelectionPrompt<T>` class.

**Describe alternatives you've considered**
N/A

**Additional context**

[2021-01-12 15:37] mickvikt opened #223 "Bug with displaying SelectionPrompt choices when running on Rider"
**Information**
 - OS: Windows
 - Version: 10

**Describe the bug**
I have a following code snippet:

[code]
And when I try to run the console application in Rider (version 2020.3), the SelectionPrompt choices are not displayed correctly (please see attached screenshot)

However, when I stop the application and run it again, SelectionPrompt is displayed as expected.

![screenshot](https://user-ima

[2021-01-13 18:20] devlead opened #226 "Spectre CLI ParameterValidationAttribute error message not nullable void use of validator message"
When having an application with nullable enabled there's no way to not specify a message as attribute parameter ErrorMessage isn't nullable
https://github.com/spectresystems/spectre.console/blob/0ae419326df1c01efc900150f90472b2c9695747/src/Spectre.Console/Cli/Annotations/ParameterValidationAttribute.cs#L22

so this check is always not null
https://github.com/spectresystems/spectre.console/blob/0ae

[2021-01-13 19:31] #226 closed

[2021-01-13 22:12] angelobreuer commented on #221
I would also need this (+1).
I am available to grab this issue if this would be a candidate.

[2021-01-14 08:19] angelobreuer opened #229 "Allow custom texts in prompts"
**Is your feature request related to a problem? Please describe.**
It would be useful to customize texts for prompts.

**Why is this needed?**
I need custom texts in prompts for localization purposes, but I think it would be beneficial to allow custom texts.

**Describe the solution you'd like**
A solution to customize texts in prompts.

**Additional context**

[code]

[2021-01-14 08:31] angelobreuer opened #230 "Allow to add handlers for prompts"
**Is your feature request related to a problem? Please describe.**
Allow users to add hooks to prompts.

**Describe the solution you'd like**
For example, adding the support of doing the following:

[code]

**Why is this needed?**
I think adding hooks would be helpful to inform the user about what is set.

This would also add the ability to make something like the following:

[code]

**Describe al

[2021-01-14 09:10] patriksvensson opened #231 "Add profile support"
There is a lot of duct-tape in Spectre.Console to handle the differences between different environments.

It would be great if there was some kind of profile support that contained all the detected settings and capabilities from a specific environment (Windows, Linux, GH actions, TeamCity) and also made it overridable by the consumer of Spectre.Console.

For example:
GitHub actions support ANSI, b

[2021-01-14 09:14] patriksvensson opened #232 "Add benchmarks"
Runtime and memory optimization hasn't really been a priority in Spectre.Console since I just wanted it to work as I wanted to before going down that rabbit hole. We should really start benchmark things and try to reduce the memory footprint. At least of things that are continuously updated such as `Progress`, `Status`, and prompts.

---
Please upvote :+1: this issue if you are interested in it.

[2021-01-14 19:37] angelobreuer opened #234 "Add a way to mark items as default (MultiSelectionPrompt`1)"
**Is your feature request related to a problem? Please describe.**
Currently, it is not possible to have items that are marked/selected by default.

**Describe the solution you'd like**

[code]

This would produce the following (without having any user input):

[code]

**Describe alternatives you've considered**
Using a hilarious construct of expression trees that add an intercepting render pipeli

[2021-01-15 15:57] patriksvensson commented on #230
@angelobreuer I'm having a difficult time seeing how this would bring any big benefits.
What is the use case of this? Is it to display contextual information about items in the list?

[2021-01-15 15:58] patriksvensson commented on #229
@angelobreuer I absolutely agree 👍🏻

[2021-01-15 16:01] patriksvensson commented on #223
@mickvikt Thanks for reporting this, but I can't reproduce it.

![image](https://user-images.githubusercontent.com/357872/104749552-3c452a80-5753-11eb-9532-a836976e1fa6.png)

[2021-01-15 16:05] #234 closed

[2021-01-15 16:19] angelobreuer commented on #230
-- @patriksvensson
Thank you very much for your response.

Yes, in my project, I have some cases where live, interactive prompts could benefit the user experience.

For example, I have a multi-selection prompt, where I allow the user to select bit flags. For instance, I would explain (on the right in the console) what the bit flag is supposed for and what bit mask is currently calculated.

Additio

[2021-01-17 00:34] fredjeronimo commented on #113
It's worth pointing out that if you set the Console's output encoding, you _**should do so as early as possible**_ or you might get artifacts with the terminal's width where Spectre.Console can fallback to a 80-character default.

Using `Spectre.Console v0.37.0` for these use cases in a `.NET Core 3.1` console application running in a `Windows 10` system.

For example, the following is fine assumi

[2021-01-19 11:25] mcon opened #238 "Is it worth exposing `FakeAnsiConsole`?"
**Is your feature request related to a problem? Please describe.**
When testing the rendered output of a console app, the best way seems to be to create a dummy `IAnsiConsole` and wrap that in a `Recorder`, it'd be nice to not have to do the dummy boilerplate.

**Describe the solution you'd like**
It feels like exposing `FakeAnsiConsole` could be useful for testing.

**Describe alternatives you've

[2021-01-19 16:53] #231 closed

[2021-01-19 16:57] patriksvensson commented on #238
@mcon Would be worth creating a `Spectre.Console.Testing` library that contains something like this. It should however probably be a bit redesigned since it's built for use with Spectre.Console. As an external consumer, there is probably a need for something more flexible.

[2021-01-20 17:31] MiloszKrajewski opened #242 "`--version` does not work when published as .NET 5/PublishSingleFile"
**Information**
 - OS: Win 10
 - Version: 0.37.1-preview.0.12
 - Terminal: Any

**Describe the bug**

After publishing single file with .NET 5 (`dotnet publish`) `--version` stops working (shows `?`).
![image](https://user-images.githubusercontent.com/4333436/105212435-5ad96600-5b45-11eb-8c48-934e2f30bc53.png)

**To Reproduce**

Create console app with:

[code]

create dummy app:

[code]

build &

[2021-01-22 01:26] XGERT420X commented on #242
Thank you

[2021-01-22 01:34] patriksvensson commented on #242
@MiloszKrajewski Great catch! Suggestion 3 sounds like a good approach!

Would you want to take a stab at this? Otherwise, I might be able to get around to it tomorrow evening or so (CET timezone).

[2021-01-22 13:56] MiloszKrajewski commented on #242
I can take a look, don't worry (I will let you know if I give up).

[2021-01-22 20:34] khalidabuhakmeh opened #244 "Add Support For Statistics Breakdown Component"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

![image](https://user-images.githubusercontent.com/228256/105542212-f80fd800-5cc6-11eb-9f78-d65b32eccf2c.png)

Given a dataset, spit out a console breakdown of the dataset.

[code]

The idea is to generate a colored graph like the one seen

[2021-01-23 01:24] MiloszKrajewski commented on #242
Update:

1. So the warning was always there when I was building single file exe:
[code]

2. `System.Reflection.Assembly.Location` returns empty string

Code below was never falling back to `assembly?.GetName()?.Version?.ToString()` it was always short-circuiting to exception handler straight away.
[code]

3. `<Version>` from csproj translates to `AssemblyInformationalVersionAttribute`
So consisten

[2021-01-25 23:48] #242 closed

[2021-01-28 18:55] n-sidorov opened #247 "Passing data for Default command"
**Is your feature request related to a problem? Please describe.**
It looks like you can't set `Data` property for "default" command.

**Describe the solution you'd like**
Either use `Data` defined in config for same type of command or ability to specify context for the "default" command, same as regular command.

**Additional context**

Example code:
[code]
If you call the app like `myApp myComma

[2021-01-30 05:03] phil-scott-78 opened #250 "Support alternate screen buffer?"
**Is your feature request related to a problem? Please describe.**
[Be neat if main and alt buffers were supported](https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences#alternate-screen-buffer). I want my app to do everything in one buffer then switch back to the main one on exiting and restore the original screen buffer

**Describe the solution you'd like**
Maybe so

[2021-01-30 11:14] patriksvensson commented on #250
I'm a little bit hesitant to add support for this tbh, since there isn't a good fallback strategy for terminals that doesn't support ANSI. Adding something like this would change people's assumptions a lot, and once someone runs an app in a terminal lile this, it will fall upon me to "fix it".

Couldn't this be done easily in your app by emitting a Segment with the necessary VT100 sequences for no

[2021-01-30 15:03] phil-scott-78 commented on #250
I hear ya. Makes total sense.

I'll go ahead and close it.

[2021-01-30 15:13] patriksvensson commented on #250
@phil-scott-78 I've been thinking a bit. We could add new capabilities to the Profile so the user can check if it's supported or not, and simply throw an exception if we're on a terminal we know can't handle it.

I'm reopening this issue.

[2021-02-01 00:03] #244 closed

[2021-02-01 02:40] phil-scott-78 opened #252 "Formatting for tag value in breakdown chart"
**Is your feature request related to a problem? Please describe.**
Be nice if the tag's value could have a custom format. My simple example I'd like to just do a `{0:N}` format on them to get commas, but i could see someone wanting to use something like `4MB`, `49 seconds`, etc

**Describe the solution you'd like**

Maybe something like this?

[code]

**Additional context**
I could knock this out

[2021-02-03 19:05] MarcoSpoenemann commented on #187
Hey, at first, thank you for your nice work @patriksvensson!
Any progress with this issue @DarthPedro? Would be nice if this feature is implemented.

[2021-02-05 10:53] #252 closed

[2021-02-05 12:57] patriksvensson commented on #252
@phil-scott-78 Seen the recently pushed PR? Will this solve it for you?

[2021-02-05 18:32] phil-scott-78 commented on #252
Yup, takes care of my needs. Reason I was suggesting a `Func` though was a situation where someone might want to display something like file sizes so they'd need more than `Format` provides. Maybe an overload in the future when that time comes

[2021-02-08 17:51] phil-scott-78 opened #254 "Specify column width for additional progress bar columns"
**Is your feature request related to a problem? Please describe.**

With some columns having dynamic content it is causing the progress bar to bounce around a bit. And in the case of the estimated time, I have one that commonly can be over 9 hours which causes it to wrap. You can watch things get shuffled on this gif, then go to two lines for the estimated time at the end. Not the end of the world

[2021-02-08 17:54] phil-scott-78 commented on #254
btw, the estimated time jumping to 12 hours is probably a bug in this case. But if I do something like download the stackoverflow database which is 45gb it will be accurately listed as 10+ hours which would cause the wrapping

[2021-02-11 09:17] patriksvensson commented on #254
@phil-scott-78 In addition to add a `Width` property as an escape hatch, a suggestion I would want to make is to change formatting of time to `00:00:00` and cap it to some value indicating that it's greater than `99:59:59`.

What do you think?

[2021-02-11 12:34] phil-scott-78 commented on #254
I like it.

At that point I'm not sure if 99:59:59 or something like **:**:** would be more appropriate. I'd kinda prefer the second

[2021-02-11 15:00] patriksvensson commented on #254
Perhaps `**:**:**`?

[2021-02-11 18:11] phil-scott-78 commented on #254
My original reply had that format but markdown ate it. I think it makes sense.

[2021-02-13 16:10] patriksvensson commented on #252
@phil-scott-78 I've added the lambda support in the latest preview version (should be on NuGet in 10 minutes or so)

[2021-02-13 19:48] phil-scott-78 commented on #252
looks good!
![image](https://user-images.githubusercontent.com/2447331/107859891-7fee8b00-6e0a-11eb-8e0c-9008bdb3edf3.png)

[2021-02-14 07:37] Yaroshvitaliy opened #259 "Several simultaneous async progresses corrupt UI"
When several simultaneous async progresses are started, UI is corrupted:

![image](https://user-images.githubusercontent.com/7069386/107871145-baf2cc00-6ea7-11eb-878f-7864d4bd1786.png)

The code is as follows:

[code]

[2021-02-14 07:45] Yaroshvitaliy opened #260 "Add header/footer or rows functionality to Progress"
Great work!
Is it possible to add Header/Title and Footer or rows functionality to Progress' tasks?
It would be useful if I am able to change title of Progress' task dynamically since changing of column description leads to jumping of text.
One more reason: I need to render a long text in title.

[2021-02-14 09:08] Yaroshvitaliy opened #261 "MultilineTaskDescriptionColumn for Progress"
It would be useful to implement MultilineTaskDescriptionColumn for Progress.
This didn't help me for multiline description:

[code]

[2021-02-14 13:09] patriksvensson commented on #259
@Yaroshvitaliy This is not supported by Spectre.Console. Only one thing can be rendered at the time.

[2021-02-14 13:09] #259 closed

[2021-02-14 13:18] patriksvensson commented on #261
@Yaroshvitaliy You will need to set "NoWrap" to `false` for that to work:

![image](https://user-images.githubusercontent.com/357872/107877895-6cf1be80-6ecf-11eb-854a-9e697d5b71bd.png)

[2021-02-14 15:30] Yaroshvitaliy commented on #261
I tried NoWrap set to false but it didn't help me.

[2021-02-14 15:45] Yaroshvitaliy commented on #261
I can see the following code in ProgressTask:
[code]

[2021-02-14 15:58] patriksvensson commented on #261
Yeah, Environment.Newline is probably not working. It will wrap the text at the end of the column.

[2021-02-14 16:05] Yaroshvitaliy commented on #261
Environment.Newline is what I need as a separator between lines, so could you reopen the issue since my original question is not answered?
Maybe anoter string/object property can be added to ProgressTask so that it can be used in custom advabced columns?

[2021-02-18 14:50] khalidabuhakmeh commented on #223
This is a console color theme issue. You may have to modify your theme colors in Rider.

Colors are not universal, meaning that Spectre.Console will use the color palette and thus the color names defined in your session.

[2021-02-18 14:57] khalidabuhakmeh opened #265 "Support Type Suggest, Highlight, and Complete Component"
Given you have a table of results, allow users to "search" through the table by typing. With each character, highlight found results. For example, take a look at the .NET CLI. This table of templates will get big and unmanageable.

![image](https://user-images.githubusercontent.com/228256/108374556-1508cf80-71cf-11eb-97f5-54f1d3d4d58a.png)

Maybe this is a `SearchAndComplete` feature that can wrap

[2021-02-18 14:59] khalidabuhakmeh commented on #265
As an addendum, possibly each element in the `Table` would have a suggested complete value. Thus allowing you to select a "row" but get a consistent autocomplete result.

[2021-02-19 10:32] stevenknox opened #266 "Detect if current terminal supports emojis"
Is there currently any way to detect if the current terminal supports Emojis? This would allow optionally using Emojis where supported. Thinking something like:

[code]

[2021-02-19 11:21] patriksvensson commented on #266
@stevenknox There is no way to detect this to my knowledge. One thing to check for is whether or not the terminal output encoding is Unicode, but it doesn't tell whether or not the terminal supports emojis.

[2021-02-19 12:17] stevenknox commented on #266
No worries @patriksvensson - ill try checking for Unicode as suggested 👍

[2021-02-21 03:24] phil-scott-78 opened #267 "Tab completion for CLI"
I was going to toy around with adding powershell or bash tab completion for my app, but it occurred to me that it might be possible (and maybe even easier) to bake this in. I'd

The way some tools work is they provide something like a `completion` command that accepts the list of currently typed arguments (e.g. if I was typing `git checkout sp[tab]` it would run `git completion checkout sp` and th

[2021-02-24 08:23] OskarKlintrot commented on #267
Great idea! Just a heads up, the PS-script for tab completion for .NET CLI is taking the whole command, i.e. `"dotnet ad"` and not just `ad`. So `git checkout sp[tab]` would be `git completion "git checkout sp"` (one string, not an array of args). I noticed that while making my own trying to follow [Hanselman's blog post](https://www.hanselman.com/blog/how-to-use-autocomplete-at-the-command-line-f

[2021-02-24 08:35] patriksvensson commented on #267
@phil-scott-78 @OskarKlintrot Another option would be to add a generator to Spectre.Console.Cli, that generates the shell binding s for an application, such as `myapp.exe cli generate powershell`. I know that Clap for Rust does this and it seems to work fairly well: https://github.com/clap-rs/clap/blob/master/clap_generate/src/generators/shells/powershell.rs

[2021-02-24 08:46] OskarKlintrot commented on #267
Stupid question but does it generate the equivalent of the ps-script you add to `$profile` or `dotnet complete`?

One thing to keep in mind is that it can be useful to be able to generate suggestions dynamically. For example, our CLI is for working with our repos so the suggestions of `<repo>` in `my-tool clone <repo>` must be dynamic.

[2021-02-24 09:03] patriksvensson commented on #267
@OskarKlintrot Ah, no, it wouldn't. I see no problem with adding a dynamic generator as you suggested above 👍🏻

[2021-02-24 09:43] OskarKlintrot commented on #267
Great! It looks like most of the information that `example complete` would need already exists in `Spectre.Console.Cli.Internal.Configurator` except the dynamic stuff mentioned above.

[2021-02-24 21:21] Mrxx99 opened #272 "Allow setting progress value directly"
Currently the ProgressTask only allows changing the value by calling increment but this often is counter intuitive because I want to set the value of the progress.

Could there be just another method on ProgressTask like `SetValue(double value)` or UpdateValue.

Current alternative is to use it like this `task.Increment(progress - task.Value);` but that is clunky and not intuitive.

[2021-02-25 09:47] patriksvensson commented on #272
@Mrxx99 I completely agree! Havign a `SetValue(double value)` method makes a lot of sense. Would you be in a position to submit a pull request for this?

[2021-02-25 10:11] OskarKlintrot commented on #272
May I suggest using the same solution as for `MaxValue` to keep things consistent? I can't see any other Set-methods in the class.

So using this solution:

[code]

we get:

[code]

Might I open a PR with this change?

[2021-02-25 10:52] patriksvensson commented on #272
@OskarKlintrot Yes, I think your approach is better! 👍🏻

[2021-02-25 10:56] #272 closed

[2021-03-03 06:33] Yaroshvitaliy opened #279 "ProgressTask.Stop() does not work properly"
ProgressTask.Stop() does not stop progress task completely, it remain be running (spinner is active). The only way to finish the task is to set 100% progress that is not acceptable for my task. And the actual problem is that this progress is being rendered over the rest UI, including other instances of progresses, that makes the following issue critical:
https://github.com/spectresystems/spectre.c

[2021-03-03 14:45] phil-scott-78 commented on #279
I agree, that does seem like unexpected behavior. Without context on why you are stopping the tasks I want to clarify a couple of things with you before we start planning a fix.

Currently a lot of assumptions are made about a task. It is either waiting to be started, running, or finished. Once a task is finished you can't return to running or started. This is important because it not only drives

[2021-03-03 16:29] Yaroshvitaliy commented on #279
Thank you for your reply.
I agree that `IsFinished ` should consider `StopTime != null`.
I think no one has submitted this bug before simply because it's realy rare case when it's needed to stop ptogress task.

I've found such a workaround as a temporary solution for a stopped progress task.
1. increment the progress task to set progress 100% - this will stop the task
2. set progress' task descrip

[2021-03-03 16:51] Yaroshvitaliy opened #280 "Add ExtendedProperties dictionary to ProgressTask for custom columns"
It would be great to have a property (e.g. Dictionary<string, object> inProgressTask to be used for custom columns.
The reason is that `Description` property has some restrictions (cannot be emty, is trimmed, one line, etc) that's why it cannot be used for passing all needed information.
In my particular case for my MultilineColumn I had to find workarounds to solve the problem.

[2021-03-03 17:04] phil-scott-78 commented on #280
Take a look at `task.State`. It has a couple of method `Get` and `Update`. The one restriction is that the data being stored as state must be in a struct. Code looks something along the lines of this (excuse any errors, typed it out on my phone)

[code]

[2021-03-03 17:14] Yaroshvitaliy commented on #280
Got it, thank you wery much, but I haven't found this functionality in documentation...

[2021-03-03 17:19] phil-scott-78 commented on #280
Yup. Docs will definitely need more work before we can make this a 1.0 release.

Glad state works out. If you need a further example, I had good luck using it with my custom column here - https://github.com/phil-scott-78/dotnet-soddi/blob/master/src/Soddi/ProgressBar/TorrentProgressBarColumn.cs

[2021-03-03 17:19] #280 closed

[2021-03-03 17:48] bddckr commented on #279
In my particular case I have a task that can actually be skipped altogether. As it's one task of many, I still want to have it in the progress' tasks list - visible to the user. In this sense I believe my requirements match @Yaroshvitaliy's: We need the ability to stop a task and freeze it's progress to ensure we do not lose the percentage information.

So currently what I do is I set the task des

[2021-03-03 17:52] Yaroshvitaliy commented on #279
@bddckr Yes, I think `IsFinished  => StopTime != null || Value >= MaxValue` will solve the problem, but it needs to be checked.

[2021-03-03 17:56] phil-scott-78 commented on #279
@bddckr, you got it. Rather than change the Value you'd be calling `StopTask()`.

I appreciate your input here, never easy to decide to change behavior but the more feedback certainly helps make sure expectations are getting matched.

[2021-03-03 20:04] lstefano71 opened #281 "Progress to remove tasks as they are completed"
I have a very long (up to 60+) list of tasks which I'd like to show progress for. They are not all added at the beginning, and some complete before new ones are added. I'd say the number of the started but non-completed tasks should not be larger then 20 at any time. Therefore I'd like an option to remove completed tasks from the display to keep the list visible. Consider that in addition to the p

[2021-03-04 12:47] #281 closed

[2021-03-05 02:53] Tyrrrz opened #285 "Make ProgressTask implement IProgress<double> for smoother interopability"
Hello 🙂
Was looking through the code because I was interested in using the Progress widget in one of my applications.
Let me know if this feature suggestion makes sense.

**Is your feature request related to a problem? Please describe.**

.NET has a standard way of reporting progress, which is through the [`IProgress<T>`](https://docs.microsoft.com/en-us/dotnet/api/system.iprogress-1) and [`Progre

[2021-03-05 03:35] phil-scott-78 commented on #285
I think that's a clever idea. I would propose that we implement it explicitly so in `ProgressTask.cs` we'd see something like

[code]

By making it explicit people not using this functionality wouldn't confusingly see the `Report` method along with `Increment` in their intellisense when working with a `ProgressTask`, but they'd still get everything to play nice with the standard reporting APIs.

A

[2021-03-06 01:27] 0xF6 opened #287 "Maybe bug with signle curly braces and EscapeMarkup"
**Information**
 - OS: Windows 10, 10.0.21313
 - Version: 0.37.0
 - Terminal: Windows Terminal, conhost

**Describe the bug**
Using curly braces symbol in the source text causes the "Input string was not in a correct format" exception when calling the MarkupLine function.
And function EscapeMarkup is not escape curly braces symbol.

**To Reproduce**
[code]

**Expected behavior**
Success rendering

[2021-03-06 13:41] phil-scott-78 commented on #287
Hmmm, I suspect you are right this is a bug but maybe not the one you are targeting. The bracket isn't markdown, so it won't ever be escaped. We can actually shorten this right down to

[code]
and see the same thing "Input string was not in a correct format".

I believe the root cause is we are implicitly calling string.Format on the input string even when there are no args to format which is caus

[2021-03-06 14:10] phil-scott-78 commented on #287
@patriksvensson - two options to fix. Either a simple if statement or a bunch of overloads.

[code]

I'm tempated to go the overload route just to avoid allocations and be a bit more explicit about the usage, but it would double the amount of code in this method so I wanted to run it by you first.

[2021-03-06 14:26] patriksvensson commented on #287
@phil-scott-78 Yeah, I think that the overload makes sense here as well

[2021-03-07 08:24] #279 closed

[2021-03-07 08:24] #285 closed

[2021-03-07 14:06] bddckr opened #290 "Examples of hidden commands are shown in the help text"
**Information**
 - OS: All three: Windows, Linux, MacOS
 - Version: 0.37.1-preview.0.36
 - Terminal: Windows Terminal

**Describe the bug**
If you add an example for a command that is hidden, the example shows in the root command's help text.

**To Reproduce**

[code]

**Expected behavior**
Examples of hidden commands should only show up in the help text when explicitly asking for *that* command's

[2021-03-07 14:11] bddckr commented on #290
Having a look at whether I can raise a PR for this:

I think this method needs some filtering based on the command's `IsHidden` property.
https://github.com/spectresystems/spectre.console/blob/da9c6ee4c2d2d0c5374e51231073346144746dea/src/Spectre.Console/Cli/Internal/HelpWriter.cs#L166-L202

I'm not yet sure how the nesting of commands works, though. I think it's important that we keep the ability

[2021-03-07 15:08] bastianeicher opened #291 "New release"
Hi @patriksvensson,

you've made a lot of great improvements since the last release (0.37.0) and I was hoping you could publish a new version on NuGet.

Regards
Bastian

[2021-03-08 07:55] patriksvensson commented on #291
@bastianeicher Absolutely. We will make a new release ASAP. Been a lot of functionality brewing but I think it's ready for release. What do you think @phil-scott-78?

[2021-03-08 14:04] #287 closed

[2021-03-08 17:22] phil-scott-78 commented on #291
Hi @bastianeicher, we just pushed version 0.38 out. Let us know what you think!

[2021-03-08 17:22] #291 closed

[2021-03-08 17:41] patriksvensson commented on #290
@bddckr I'll take a look at this tonight and will see if I can give some insight into this!

[2021-03-09 15:55] AntyaDev opened #293 "Title for the progress bar"
First, very much thank you for this amazing console! It looks and works really cool!

**Is your feature request related to a problem? Please describe.**
I am working on the load testing tool NBomber and during the test run, I want to display(and dynamically update) some information over the progress bar.

**Describe the solution you'd like**
I want to have the ability to set Title over the progres

[2021-03-11 13:15] XGERT420X commented on #293
No prob but the thanks go to the team

[2021-03-11 14:19] Redth opened #295 "Confirm inside a Status displays incorrectly"
**Information**
 - OS: macOS/Windows
 - Version: Big Sur / 10
 - Terminal: Terminal / Windows Shell

**Describe the bug**

Nesting an `AnsiConsole.Confirm` inside of an async Status block causes the prompt to behave unexpectedly.
Sometimes the prompt will show (on macOS it seems to), but sometimes not (on windows), and when you enter the input, it flashes briefly before disappearing.  You can mana

[2021-03-12 04:27] phil-scott-78 commented on #290
@bddckr, I think you were spot on with the `HelpWriter.cs`. Looks like on line 187 if we filter out `IsHidden` everything falls into place.

The first conditional is checking to see if we have a specific command with example (`command?.Examples`) and if not are there any examples for the root of the configuration (`model.Examples`). So if we have either of those situations the specifics will be di

[2021-03-12 04:44] phil-scott-78 commented on #295
First, this is an excellent bug report. Love it.

I think, unfortunately, the bug in question is that the `Confirm` method isn't throwing an exception that you can't do that while rendering a status/progress bar.  The output functionality of Spectre.Console can be divided into three separate things right now

* Static rendering of things like markup and tables
* Dynamic display of progress and sta

[2021-03-12 07:37] thoemmi commented on #295
I have faced the similar challenge, but solved it by splitting it into two calls to `Status().StartAsync()`.

However, I guess it is caused by the fact that two components, the spinner and the prompt, will write to the console concurrently. How about adding a property (e.g. `Paused` to `StatusContext` (and `ProgressContext`)? That way, the user could stop the spinner before displaying a prompt.

[2021-03-12 17:20] patriksvensson opened #296 "SelectionPrompt: Support PgUp, PgDown, Home, and End keys"
**Is your feature request related to a problem? Please describe.**
Would be great if we supported `PgUp`, `PgDown`, `Home`, and `End` keys for `SelectionPrompt`

**Additional context**
I can take a stab at this tonight

[2021-03-13 22:21] #290 closed

[2021-03-14 12:50] bastianeicher commented on #291
Looking great! I'm currently working on replacing the console output of [Zero Install](https://0install.net/) (a cross-platform package manager) with Spectre.Console. Looking forward to lots pretty colorful progress bars and tables there. :)

[2021-03-14 21:36] #144 closed

[2021-03-14 21:36] #143 closed

[2021-03-15 01:27] #221 closed

[2021-03-15 01:27] #229 closed

[2021-03-15 01:27] #296 closed

[2021-03-15 17:31] babysnakes opened #302 "How to prevent specifying the same option twice"
Hi,

(Sorry about the *free form* issue, This is not a bug and not a feature request - it's a question 😄)

It seems that by default I can specify an option multiple times and the last one is the one that counts (this is from the *Demo* example:

[code]

Is there a way to disallow it?

(sorry if I miss something obvious but I'm completely new to windows, .Net and F#).

Thanks

Haim

[2021-03-15 18:34] phil-scott-78 commented on #302
Right now there isn't a way to fail, but that behavior is pretty common for CLIs. E.g. here's `GH`

![image](https://user-images.githubusercontent.com/2447331/111202477-48563880-859a-11eb-83ac-11c9c03f8efb.png)

and just to verify here's `git` on ubuntu

![image](https://user-images.githubusercontent.com/2447331/111203367-4e004e00-859b-11eb-80c0-87e6d0bc94c1.png)

[2021-03-15 18:46] babysnakes commented on #302
Yeah, I can live with it. I just started playing with it and I'm not sure how it handles lists - many libraries handle lists by repeating the option so I wanted to differentiate ...

In any case, thanks for what seems to be a great library for displaying data in the console.

Haim

[2021-03-15 18:46] #302 closed

[2021-03-15 19:02] phil-scott-78 commented on #295
Just a heads up, #298 was recently merged in.

This doesn't fix this issue, but it does fail with an error message indicating this isn't supported behavior. In addition the docs have been updated too.

Want to be totally clear - this doesn't mean this isn't a valid usage scenario that's gonna be ignored. It just can't be done right now. It's just one that is gonna take a lot of rethinking to make

[2021-03-16 14:06] OskarKlintrot commented on #265
This seems related to, but not dup of, #267.

[2021-03-16 22:05] Goffen opened #307 "First help screen for the CLI is misleading"
**Information**
 - OS: Windows
 - Version: 0.38.0
 - Terminal: Windows Terminal

**Describe the bug**
If you just enter "TesstApp.exe" you get:

[code]

**To Reproduce**
If you enter "TestApp.exe -h run" it does not display the help I wanted. But if I run "TestApp.exe run -h" the help is shown for the command - how could I have understood this from first screen?

**Expected behavior**
If you enter

[2021-03-16 22:53] phil-scott-78 commented on #307
Yeah, you are right. This could be cleaner. I'd like to propose two things that hopefully help

1) change the usage to `AproClientConsole <COMMAND> [OPTIONS]`. - @patriksvensson, can you think of a reason these are written out in this order? Looks to me it's hard coded that way so should be easy enough to fix if we just want to swap them.
2) Have the ability to add a `help` command that would map

[2021-03-17 17:06] patriksvensson commented on #307
@phil-scott-78 @Goffen
It really does what it says really, and it is by design.

[code]

`--help` is an auto-implemented option for all commands.

* In the first case (`TestApp.exe -h`) you invoke the `--help` option at the root, which will show the root help.
* If you write `TestApp.exe run -h` you're invoking help for the `run` command.

Suggestion #1:

Perhaps we could change the usage descript

[2021-03-17 18:00] Goffen commented on #307
@patriksvensson @phil-scott-78
Maybe it's my lack of understanding of [ and < that I misinterpret alot.

Another alternative could be to show two usages:
USAGE:
    AproClientConsole [OPTIONS]
    AproClientConsole [COMMAND] [OPTIONS]

First one is for the auto-implemented "-h" and "-v"?
Other one is for all user-implemented commands.

---

For example `az`

[code]

[2021-03-21 23:10] Bia10 opened #309 "System.FormatException: Input string was not in a correct format."
Hello, first of all great work, this package is very addictive to use.

I got this error when accidentally trying to markup some json string.

![image](https://user-images.githubusercontent.com/2548763/111923581-3431a000-8aa0-11eb-99fb-7ec4aaf6bfa1.png)

actually this happened as accident my program accidentally attempted to parse already parsed json file.

the file text being fed into markup is t

[2021-03-21 23:47] phil-scott-78 commented on #309
Thanks for the kind words about the library, @Bia10! Double check the version is the latest because this sounds like a bug that was just recently fixed.

If you are still seeing maybe it wasn't fully fixed 😯 but with your reproduction I could take a look early this week if the new version doesn't fix it

[2021-03-21 23:56] Bia10 commented on #309
well I am using the latest release:

<PackageReference Include="Spectre.Console" Version="0.38.0" />

[2021-03-22 02:13] phil-scott-78 commented on #309
Ok, I see the issue. Looks like my hunch about not fixing the bug originally looks to be true.

So, the original issue was this: we always were calling `string.Format` even when there were no parameters to format. Since you are passing in json it is seeing the brackets and throwing the exception. I missed the helpers on the static `AnsiConsole` instance to include a few overrides to skip that `str

[2021-03-22 18:15] #309 closed

[2021-03-23 07:18] Bia10 opened #312 "System.InvalidOperationException: 'Could not find color or style '0'."
![image](https://user-images.githubusercontent.com/2548763/112107538-5c5bf480-8baf-11eb-8d2c-5eddc5bac912.png)

Caused by this

[code]

basically

[code]
doesn't like the extra braces but why should that matter?

the number of opening markup tokens should matchup the number of closing tokens, if there are more then these are likely part of the message even more so if they contain no valid markup t

[2021-03-23 07:28] patriksvensson commented on #312
It doesn't consider "0" to be a valid style. You will need to escape the brackets for the markup expression to be valid: `[[Foo]]`

[2021-03-23 07:42] Bia10 commented on #312
Well basically my program generates json arrays so how do I conveniently display them in markup?

[2021-03-23 07:48] patriksvensson commented on #312
You'll have to escape it: ` `mystring.EscapeMarkup()` or `Markup.Escape(myString)`.

See the section "Escaping format characters" at https://spectresystems.github.io/spectre.console/markup for more information.

[2021-03-23 07:54] Bia10 commented on #312
Thx.

[2021-03-23 07:54] #312 closed

[2021-03-23 20:49] Tyrrrz opened #314 "Add ability to mark ProgressTask as failed"
**Is your feature request related to a problem? Please describe.**
When performing multiple parallel tasks, it's likely that some of them may fail without stopping the entire process. It would be nice if there was a way to signal to the user that a task has failed.

**Describe the solution you'd like**
Currently, `ProgressTask` exposes a method called `StopTask()`. The least intrusive solution I s

[2021-03-23 21:05] Tyrrrz opened #315 "Automatically stop ProgressTask when the underlying operation completes"
**Is your feature request related to a problem? Please describe.**

`Progress` provides a method called `StartAsync(...)` that wraps an operation and exposes `ProgressContext`:

https://github.com/spectresystems/spectre.console/blob/b17eabaa1f67210da8992531d90382277bc116b8/src/Spectre.Console/Widgets/Progress/Progress.cs#L114-L156

Perhaps it would be nice to provide a similar method on `ProgressC

[2021-03-23 22:01] Tyrrrz opened #316 "Progress flickers and breaks when there are too many tasks"
**Information**
 - OS: Windows
 - Version: 0.38.0
 - Terminal: VS Code, cmd, Terminal (reproducible everywhere)

**Describe the bug**
When using the progress widget, the output starts flickering erratically after some point. My uneducated guess is that the point where it happens is when the tasks stop fitting on the screen. Additionally, scrolling up or down while the progress is ongoing completel

[2021-03-23 22:14] Tyrrrz opened #317 "Progress leaves some residue output with `HideCompleted(true)`"
**Information**
 - OS: Windows
 - Version: 0.38.0
 - Terminal: VS Code, cmd, Terminal

**Describe the bug**
When reporting progress with `HideCompleted(true)`, once all operations have completed, some residue output remains. This seems to include empty lines for each progress line, as well as a random `.` character.

I'm writing additional output before and after the progress so this issue makes t

[2021-03-23 22:23] patriksvensson commented on #316
@Tyrrrz Yeah, this one is difficult to solve tbh since all tasks will need to be rendered and there is no way for Spectre.Console to know what tasks currently is being visible. I have no idea how this could be solved in a reliable way that works cross terminal.

[2021-03-23 22:26] patriksvensson commented on #317
@Tyrrrz Not sure what's going on here, but you shouldn't need a semaphore since things aren't updated when you update the tasks; they're updated on a background thread. Will take a look at this later this week.

[2021-03-23 22:31] Tyrrrz commented on #317
@patriksvensson
Thanks for the reply!

The semaphore is not crucial for reproduction of the bug. It's just used in the example to limit the number of tasks active at the same time. This is similar to how I'm using it in my application, where I have ~100 tasks but only ~5 running at a time.

Here's another shot without using semaphore:

[code]

https://user-images.githubusercontent.com/1935960/1122

[2021-03-23 23:53] Tyrrrz commented on #316
@patriksvensson

Maybe something like this could be a possible workaround:

[code]

Show only a specific number of tasks at a time and hide the rest under a group label in the bottom. Show only tasks closest to competition, which haven't completed yet.

[2021-03-23 23:55] Tyrrrz commented on #316
Also, regarding this, would this be still true if the tasks were sorted? For example, if the tasks were sorted by percentage, with higher percentages at the top, Spectre.Console wouldn't need to re-render tasks that have already completed, would it?

[2021-03-24 11:48] lstefano71 commented on #317
Being the developer responsible for the HideCompleted(true) option, I can confirm that when all the tasks are completed, some dirt is left in the console. I noticed this behaviour while developing the option and I even somehow "documented" it in a Unit Test which did not make it to the final cut (from https://github.com/spectresystems/spectre.console/commit/1c769c661008d78efc4c66e2af4203ac966c5cea

[2021-03-24 11:52] patriksvensson commented on #317
@lstefano71 The `...` ellipsis is part of a table bug I've been meaning to fix for quite some time. I'll make this a priority and hopefully, this will fix itself.

[2021-03-24 22:08] patriksvensson opened #319 "Legacy console is never upgraded which leads to some interesting errors"
**Information**
 - OS: Windows 10
 - Version: 0.38.1-preview.0.9
 - Terminal: cmd.exe

**Describe the bug**
The commit 08b65cfa47b764af31c3fad52d4d005847c1b704 introduced a bug where legacy consoles doesn't render things correctly. I tracked the bug down to `AnsiDetector.Detect` line 47, where the following:

[code]

Instead should be :

[code]

I'm going to send a PR to fix this.

**Screenshots**

[2021-03-24 22:58] #319 closed

[2021-03-30 16:58] patriksvensson opened #324 "Remove `AsciiTreeGuide`"
I think it will be safe to assume that extended ASCII (https://en.wikipedia.org/wiki/Extended_ASCII) will be available if Unicode isn't.
I propose that we mark `AsciiTreeGuide` as obsolete and instead default to `LineTreeGuide`.

[2021-03-30 17:52] patriksvensson opened #325 "Add color aliases"
It would be a good idea to add some aliases for colors that are widely used.

When converting `ConsoleColor.Magenta` and `ConsoleColor.Cyan` to markup code, an exception occurs since the color names don't exist in the xterm-256 color list. There are also some colors with British spelling that might feel awkward to some of our users who are more used to American spelling.

## Aliases

`magenta` sho

[2021-03-31 14:22] olivier-spinelli opened #326 "Why is "Cli" embedded in Spectre.Console?"
From the currently active develop branch, we can see that Spectre.Console comes with a Command Line parsing/command model/executor component.
This Cli part is interesting, however, isn't it confusing?
There's a lot of alternative  for a commmand-line-parser-and-execution micro framework, sometimes very light (and this is welcome).

Why is "Cli" not in a **Spectre.Console.Cli** package that depends

[2021-03-31 14:57] wischi-chr opened #327 "[Question] Is there an alternative to the global/static AnsiConsole for testing?"
I'm not sure if that's the right place to asks questions but I couldn't find anything about where to ask.

Is there a way to get an instance for `AnsiConsole` instead of using the static class? Or how would it be possible to run unit tests in parallel with a static global state? For example calling `AnsiConsole.ResetColors()` would reset the current style for all tests that run at the same time. I

[2021-03-31 15:27] phil-scott-78 commented on #327
Yup. Take a look at IAnsiConsole. Right now there isn't a standard mock or fake around it but you can look at the unit tests in the source and see how it's being used to for testing the library itself.

[2021-03-31 16:15] wischi-chr commented on #327
Thank you. I will take a look at it.

[2021-03-31 16:15] #327 closed

[2021-03-31 20:07] patriksvensson commented on #326
@olivier-spinelli For two reasons; It depends on Spectre.Console for its internals, and it's something that we personally use a lot and want to include in our little "console package". Since it's included in a separate namespace it doesn't really affect anything else.

To be honest, I don't personally see it's as "confusing", but I guess that depends on what your picture of "Spectre.Console" is.

[2021-03-31 20:07] #326 closed

[2021-03-31 20:44] patriksvensson opened #329 "Add support for indeterminate progress"
Show an indication that something is happening when we don't know how long an operation will take. This will show a cyclic animation without indicating a specific amount of progress.

[code]

[2021-04-02 15:46] patriksvensson opened #331 "Progress bars does not render correctly in NO_COLOR"
When the current terminal is set to `NO_COLOR`, progress bars aren't rendered correctly.

![image](https://user-images.githubusercontent.com/357872/113430912-4504de80-93db-11eb-8f12-6eb61e308ebb.png)

[2021-04-03 13:29] wischi-chr opened #337 "IAnsiConsole.Clear() does not clear the scroll buffer"
**Information**
 - Version: Most recent master: 6121203fee21c2b7f73bb8b1729147e3dce5bdb9

**Describe the bug**
The `IAnsiConsole.Clear()` command does not clear the scroll buffer.

**To Reproduce**
[code]

**Expected behavior**
I expect the `.Clear()` method to clear everything like `System.Console.Clear()` does.

**Screenshots**
Here is a screenshot after the `Clear()` call, with the example prov

[2021-04-03 13:38] wischi-chr opened #338 "Parameterless IAnsiConsole.Clear() Method"
**Is your feature request related to a problem? Please describe.**
I personally (and I guess a lot of other developers) are pretty used to `System.Console.Clear` not having a parameter. So it would be great if spectre.console would also support that.

**Describe the solution you'd like**
A `Clear()` extension method that internally calls `Clear(true)` or a default parameter for `home` set to true.

[2021-04-03 13:42] #329 closed

[2021-04-03 13:42] #331 closed

[2021-04-03 18:58] wischi-chr commented on #337
I did a few more tests with the cmd terminal and windows terminal and it looks like both are needed to clear everything I'm not sure why ED(3) alone doesn't work because accoring to the wiki article it should.

[2021-04-03 19:09] patriksvensson commented on #337
The Bible (https://vt100.net/docs/vt510-rm/ED.html) says it shoud be ED-2.

Are you by any chance using cmd.exe or similar on Windows? They do probably not implement this correctly in that case.

[2021-04-03 19:10] patriksvensson commented on #337
CUP 0,0 is also valid: https://vt100.net/docs/vt510-rm/CUP.html

[2021-04-03 20:36] wischi-chr commented on #337
**Regarding CUP 0,0**
It looks like that's supported by most terminals, but IMHO it's a completely unintuitive choice.
It probably comes from the fact that most implementations use some variant of `realCoord = MAX(coord, 1)`.

This example also shows why it's probably a very unnatural choice:
[code]
despite having completely different coordinates A and X are on the same line. The special MAX(x,1)`

[2021-04-04 09:00] patriksvensson commented on #337
@wischi-chr Awesome summary! You're right; we should change this.

The big question is whether we always should send `ED2` and `ED3` or if a new capability is needed for this.
It's probably safe to assume that all terminals have some kind of scroll buffer?

[2021-04-04 09:01] patriksvensson commented on #337
@wischi-chr Would you be in a position to send a PR for CUP1,1 and clearing the scroll buffer with ED3?

[2021-04-04 10:47] wischi-chr commented on #337
Yes of course. I will send a PR later this day (am on mobile right now).

[2021-04-04 22:59] wischi-chr opened #342 "ColorSystem mapping wrong (off-by-one error)"
**Information**
Most recent master version 759b16aed9ec5ea86163def34ec0adeb4a4e0cf4

**Describe the bug**
Creating a console with a given ColorSystem always creates the wrong console (unless autodetect is used)

**To Reproduce**
[code]

**Expected behavior**
Uses the color system that was requested.

**Additional context**
I already took a look at it and it has to with cast that happens on the `Co

[2021-04-04 23:16] wischi-chr opened #343 "Move ColorSystem into Capabilities"
**Is your feature request related to a problem? Please describe.**
It's not a problem with the behavior but with how the `Profile` is currently structured.

**Describe the solution you'd like**
The `ColorSystem` property should be moved to the `Capabilities` class because it really represents one of the capabilities of the console.

The class `RenderContext` makes this even more evident. Because `

[2021-04-06 20:42] #337 closed

[2021-04-07 22:48] patriksvensson commented on #342
@wischi-chr I was testing different approaches out and since I already wrote the code I thought I might as well submit the changes I was happy with as a  PR.

I must say that your bug reports are OUTSTANDING!

[2021-04-08 16:18] #342 closed

[2021-04-08 19:25] Entomy commented on #250
I had prototyped an alternative console API and am looking to deprecate it so I can better focus on other things. How I addressed this problem may be of interest to you.

`Console`, or whatever you're using, exposes a property like `ScreenBuffer` which returns a ref struct which itself is disposable. When this property is accessed, it switches to the alt buffer and returns this ref struct, which w

[2021-04-08 20:19] phil-scott-78 commented on #250
@Entomy, have you seen PR #308 yet? If not that's even better. I think the implementation you came up with is inline with what @patriksvensson came up with too, but we stalled out right before the finish line looking for confirmation that we were in a good place with the implementation.

If you get a chance could you pull it down and provide any feedback on how it compared with your solution e.g.

[2021-04-09 12:13] wischi-chr opened #359 "A way to to use System.Console.WindowWidth for redirected TextWriters."
**Is your feature request related to a problem? Please describe.**
In the current implementation if one uses a custom TextWriter/Output Stream the `Tty` property returns true and this automatically leads to a situation where `GetHeight()` and `GetWidth()` return some default constants that can't be controlled.

A user of the library can't even prevent that because Profile and Capabilities are both

[2021-04-09 21:08] wischi-chr opened #361 "A grid/table fails if a column width autosizes to zero."
**Information**
 - Version: most recent master efa3d3b1304f0824553cb51e8f9379447d0baa94

**Describe the bug**
If a grid is created (I guess it's the same for tables, because a grid internally creates a table) and in one of the columns all rows have the content `string.Empty` the entire grid collapses to a single ellipsis `…`.

**To Reproduce**
[code]

**Expected behavior**
The expected behaviour w

[2021-04-10 19:55] wischi-chr opened #362 "[Question] Why does Style have a Clone method?"
Why does Style have a Clone method? All the properties are readonly anyways.

[2021-04-10 21:56] wischi-chr opened #363 "Links (id and target) do not survive the render process"
**Information**
 - Version: most recent master: 6a5c507936f602764464d2c358c8cf17da36374b

**Describe the bug**
If a link is output into a small grid for example it gets layouted into multiple lines. The way the linkId is currently implemented (Hash+Random) will cause those segments to be treated as different links. This results in a situation where the hover effect occurs only on parts of the link

[2021-04-11 07:44] patriksvensson commented on #363
@wischi-chr Great catch. This is an edge case for links without an explicit link attribute URL.

1. Regarding your proposed solution. I would prefer if we didn't have any static state and similar in the library. This makes It error-prone and difficult to test.

2. Regarding why we use hash + random, we wanted to reduce the number of collisions in a state-free way. I can't remember why we decided t

[2021-04-11 11:50] phil-scott-78 commented on #363
I can actually wager an educated guess on the hash algorithm - it matches how Rich does things.

If you get a chance, @wischi-chr, you should dig into that project a bit too. As the readme states the console portion of Spectre.Console been a major inspiration and starting point for many of the features. By porting the features is what allowed @patriksvensson to create a tremendous amount of functi

[2021-04-11 12:29] wischi-chr commented on #362
Answered [here](https://github.com/spectreconsole/spectre.console/issues/363#issuecomment-817294625).

[2021-04-11 14:13] patriksvensson commented on #363
@phil-scott-78 To be fair, Spectre.Console isn't a straightforward port in that sense. Some things I've ported (like the `Ratio` algorithms and similar), but mostly I've tried to build things in a way that makes sense from a C# perspective.

The Clone method was introduced [here]( https://github.com/spectreconsole/spectre.console/commit/d7bbaf4a85a981b6210cbdb6e0c27de5e350c0f5) and if I remember c

[2021-04-11 14:22] patriksvensson commented on #362
We should remove this method since it's not used anymore.

[2021-04-11 21:02] patriksvensson commented on #359
@wischi-chr Your case seems to be an edge case, but perhaps (like you said) we could add a setter to the Tty capability if this would unblock you?

[2021-04-11 21:14] patriksvensson commented on #359
Another solution we could implement is having some kind of interface that your TextWriter could implement to provide things like Width and Height which we could check. This would give us more flexibility to control things like this.

We could even use this internally for stdout/stderr textwriters by adding an adapter for them.

[code]

This way we could remove a lot of the hardcoded checks and mov

[2021-04-12 01:58] #362 closed

[2021-04-12 02:01] #338 closed

[2021-04-12 17:34] wischi-chr commented on #359
I'm not really blocked in that sense, because I'm currently using a forked version and made Tty settable. I think for the library itself the second solution with the `IAnsiConsoleOutput` interface would be nicer, but it's not time sensitive at all (at least not for me).

[2021-04-12 17:42] brent-afw opened #367 "Add Styling for Choices and Validation"
**Add Styling for Choices and Validation of TextPrompts e.g. change the default color of choices and validation messages.**

[2021-04-12 18:31] bastianeicher opened #368 "New release"
Hi there,

I've been using Spectre.Console v0.38.0 in my project [Zero Install](https://github.com/0install/0install-dotnet) and it's working great! 👍
Now I'd love to use some of the new features on `main` such as indeterminate progress (6f16081f427276f04ba2ae9d971db78aede44f31).

The recently added NuGet packages on GitHub Packages were very helpful for testing the latest code beforehand. However

[2021-04-12 19:31] Frassle commented on #368
It would also be good to have a documented process for when and how new release will be made, so that issues like this don't need to be raised in the future.

[2021-04-12 19:44] Frassle opened #369 "Capabilities.Tty is confusingly named"
`Capabilities.Tty` is documented as "Gets a value indicating whether or not console output has been redirected."

This sounds like the opposite of what a `bool Tty` property would mean. Where I'd expect true to mean "this console is a TTY handle" or possibly "this console is a TTY or PTY handle".

I'd suggest either renaming the property to `IsRedirected` or flipping the current logic around it so

[2021-04-13 07:59] Frassle commented on #359
Related to this, I'd like a way to tell Spectre to not do it's own wrapping at `Width` and just let the underlying console handle the wrapping. A hacky way of doing that would be to be able to set `Width` to like `Int32.MaxValue`, but slightly nicer would be if I could set `Width` to null and then have things like right justification be like "well justify right makes no sense with null width so ei

[2021-04-13 08:09] Frassle commented on #216
Running in mintty has a similar issue. stdout/err aren't console handles because mintty does it's own redirection.

[2021-04-13 08:18] patriksvensson commented on #359
@Frassle I can't see that we will change this since it affects a lot of underlying things and how we support renderable layout and similar. Is there a specific reason for wanting this? Could you elaborate a bit more on the use case?

[2021-04-13 09:16] Frassle commented on #359
To help match against some current logging behavior. The current code just writes out to console and lets the console do the wrapping which with a decent console means it will reflow word wrap as the terminal is resized. If we switch to writing out with spectre then we get hard breaks at whatever the console width is when we run.

I think it would also help with writing to things that really don't

[2021-04-13 09:44] patriksvensson commented on #359
@Frassle Yes, that would work for `Paragraph` i.e. `Write/WriteLine/Markup/MarkupLine`, but not for other kinds of widgets. For example, a table/grid/progress, etc would always need to pad with line breaks.

[2021-04-13 09:59] patriksvensson commented on #369
You're correct. Will change this to `IsTerminal` instead.

[2021-04-14 01:39] #343 closed

[2021-04-14 01:39] #359 closed

[2021-04-14 01:39] #369 closed

[2021-04-14 12:47] phil-scott-78 commented on #368
We just pushed a change to the guts of the library with PR #372. Assuming no bugs pop up in the next day it's a candidate for a full release.

Regarding future releases, @patriksvensson and I have discussed some form of tracking for this. Since it's just the two of us working in our spare time, I don't think we can ever promise a consistent cadence any time soon. But we'd like to at least get a li

[2021-04-14 13:38] thoemmi opened #373 "Settings registration of CLI commands"
Hi,

I've noticed that settings types for CLI commands are registered in the container:

https://github.com/spectreconsole/spectre.console/blob/3e2eea730bf0f6fe4a5e336faa312b526d351079/src/Spectre.Console/Cli/Internal/Extensions/TypeRegistrarExtensions.cs#L36

However, settings are instantiated using `Activator.CreateInstance`:

https://github.com/spectreconsole/spectre.console/blob/3e2eea730bf0f6

[2021-04-14 14:16] phil-scott-78 commented on #373
Good catch. I'm not seeing any reason for us to be registering those settings anymore. @patriksvensson might have some historical background on why it was being done though.

This would be a breaking behavior potentially, but I think anyone relying on this probably just got lucky because I'm not sure that behavior is documented. And moving forward probably good to rip it out now and break rather t

[2021-04-14 14:26] thoemmi commented on #373
Sorry, I have to correct myself. `CommandBinder.Bind` decides based on some reflection logic, whether it uses `CommandConstructorBinder` (which in turn uses `Activator.CreateInstance`) or `CommandPropertyBinder.CreateSettings`, which uses the resolver.

I guess the same logic, that `CommandBinder.Bind` uses to decide about the instantiation, must also be used to decide whether the settings type mu

[2021-04-14 14:33] thoemmi commented on #373
It's even more complicated. `CommandBinder.Bind` first gets the parameters, and then checks if any constructor of the Settings type has parameters with the same name as the command line arguments. I am afraid that the same logic can't be used at the time of the registration :confused:

[2021-04-14 15:55] phil-scott-78 commented on #373
Dang. What if we approached it in a different direction?

Reading through `CommandBinder.Bind` it feels like the use case for the registrar being used for settings is if someone 1) isn't initializing any properties via the constructor AND 2) is injecting a service into the constructor.

So, it seems like potentially a change would be making `CommandPropertyBinder.CreateSettings`

1. Try the regist

[2021-04-15 01:24] phil-scott-78 commented on #373
Had some time tonight so I tried out my recommendation. With the exception of two unit tests named `Should_Register_Default_Command_Settings_When_Configuring_Application` and `Should_Register_Command_Settings_When_Configuring_Application` rightfully failing things seem to wire up nicely. I adjusted those two tests to explicitly inject the settings to make sure that was still possible and renamed t

[2021-04-15 06:30] thoemmi commented on #373
From my perspective your changes look promising. @patriksvensson What do you think?

[2021-04-18 20:41] #373 closed

[2021-04-22 08:36] craziemac opened #381 "Exception when trying to load Figlet font file with suffixed map definitions"
**Information**
 - OS: Windows
 - Version: 0.39.0

**Describe the bug**
FigletFontParser throws InvalidOperationException("Unknown index for FIGlet character") on line 40 if a font definition (.flf) contains rows that has pefixed a hex value with a dash (-), at least if they follow after a non ASCII character definition. Seems to be some kind of map for the none-ASCII characters(?)

[code]

**To R

[2021-04-22 13:52] phil-scott-78 commented on #381
With the figlet format to the best of my knowledge only being documented in a comment on a github issue from 7 years ago always hard to figure these out if the issue is with the font, the parser, or the spec itself. But I think at best we could just ignore characters that land outside of the specs rather than failing.

Think you could create a failing unit test in the spectre library for these cas

[2021-04-22 14:12] thoemmi commented on #381
I've searched too, and the most complete spec seems to be http://www.jave.de/figlet/figfont.html.

The error @craziemac has experienced is caused by a negative index. E.g. line 2477 in _banner.lfl_ is

[code]
I've fixed it locally by adding support for negative signs in `FigletFontParser.TryParseIndex`:
[code]

However, this still doesn't work, because `FigletFontParser` removes all `@`-signs. In

[2021-04-22 19:18] patriksvensson commented on #381
@craziemac Thanks for reporting this. I'm having some difficulties understanding what a negative character code means though...

[2021-04-22 19:32] patriksvensson commented on #381
@craziemac Looks like this has to do with [Code Tagged FIGcharacters](http://www.jave.de/figlet/figfont.html#codetagged), which Spectre.Console does not support. It doesn't seem to be used that frequently, and I'm having difficulty seeing us adding support for it, to be honest. Probably better to use a proper Figlet library for this kind of advanced functionality.

@phil-scott-78 What do you think

[2021-04-22 19:41] phil-scott-78 commented on #381
It would be nice to have a PR that at least detects formats we aren't supporting and errors explicitly.

I think anymore complex and it becomes a life upon it's own, probably as an adapter around an existing library that did handle the full spec. Not just for ease of maintenance for us, but also because it would be a shame to have that buried within our codebase.

[2021-04-23 02:17] gitfool opened #385 "Optionally include stack trace when rendering exception"
**Is your feature request related to a problem? Please describe.**
[CommandApp.GetRenderableErrorMessage](https://github.com/spectreconsole/spectre.console/blob/91f910326c1e0143fa9dae2602f935d102f29452/src/Spectre.Console/Cli/CommandApp.cs#L122) renders the exception message _without_ the stack trace.

**Describe the solution you'd like**
_Optionally_ include stack trace; ideally in a "pretty" for

[2021-04-23 03:45] phil-scott-78 commented on #385
I'm not sure we'll expose the default error message display with a stack trace, even optionally. Not too many security audits are going to pass with that kind of information leaking so that feels like a non-starter. BUT that leads to the next problem that you pointed out - if someone wants to do that, we are making it tough.

Given a simple try catch I'd expect this to just output the pretty forma

[2021-04-23 03:46] phil-scott-78 commented on #368
hey y'all, in case you didn't notice there was a new release last week. Gonna go ahead and close this issue. Thanks!

[2021-04-23 03:46] #368 closed

[2021-04-23 04:13] gitfool commented on #385
Being optional, and defaulting to false, is safer but still let's the user of the library control their own fate. 😛

Yeah that's what I meant by it's ugly when the exception propagates. `AnsiConsole.WriteException` looks really nice! Does it play nice if the terminal doesn't support ansi? I'd be happy if an optional flag uses that if set, then I wouldn't propagate exceptions anyway.

[2021-04-23 07:03] patriksvensson commented on #385
@gitfool Yes, `AnsiConsole.WriteException` works in non-ansi terminals as well.

[2021-04-23 14:59] phil-scott-78 commented on #385
@gitfool, the change where we aren't displaying the error when `PropagateExceptions` is now in the latest preview build.

I wanted to clarify why I'm hesitant to really build out much in the way of error handling at the `CommandApp` level. Those exceptions really should be those that occur while building the infrastructure of executing a command. Parsing the settings, doing DI, etc.

Application l

[2021-04-23 19:11] gitfool commented on #385
@phil-scott-78 thanks for the detailed explanation, which makes sense, and with your fix I can still control the output from the outside so I'm happy. 😁

[2021-04-24 00:54] gitfool opened #388 "Docs for required vs optional `CommandArgument` are reversed"
**Information**
 - OS: Windows
 - Version: 0.39.1-preview.0.7
 - Terminal: Windows Terminal

**Describe the bug**
Docs for required vs optional `CommandArgument` are reversed in [settings.md](https://github.com/spectreconsole/spectre.console/blob/main/docs/input/cli/settings.md#commandargument).

[2021-04-24 00:55] #385 closed

[2021-04-24 03:34] #388 closed

[2021-04-24 03:44] gitfool commented on #385
@phil-scott-78 fwiw, it looks like interceptors could not be used here since they're only called [before](https://github.com/spectreconsole/spectre.console/blob/b568098d5e6f7d34beaf11db6c091438f631d48a/src/Spectre.Console/Cli/Internal/CommandExecutor.cs#L102) the command is executed.

[2021-04-25 12:27] LegendaryB opened #391 "Spinners not showing"
**Information**
 - OS: Windows
 - Version: 10
 - Terminal: Windows CMD, Powershell

**Describe the bug**
When using the spinner sample on the cmd or powershell I only get a bar displayed instead the dots.

**To Reproduce**
Run the Spinner sample on windows

**Expected behavior**
The dot spinner animation

**Additional context**
I switched Spinner.Known.Default to Spinner.Known.Dot to make sure tha

[2021-04-25 13:03] patriksvensson commented on #391
You will only get the dot spinner if the terminal is capable of showing Unicode characters and the output encoding is set to something like UTF-8.

[2021-04-25 13:20] LegendaryB commented on #391
Thank you for the fast reply. Do you know if the Console supports unicode on windows?

I added this to set the Encoding to UTF-8:
            System.Console.OutputEncoding = Encoding.UTF8;

[2021-04-25 13:43] patriksvensson commented on #391
Yes it does. Try setting the encoding to UTF-8 and you should be able to see Unicode spinners.

[code]

[2021-04-25 13:46] LegendaryB commented on #391
I set both:
System.Console.OutputEncoding = Encoding.UTF8;
System.Console.InputEncoding = Encoding.UTF8;

But only get a question mark on the windows console. Probably because of the default font

[2021-04-26 05:38] gitfool opened #392 "Improve `CommandApp` error message rendering"
**Is your feature request related to a problem? Please describe.**
The default `CommandApp` error message rendering is inconsistent with the help rendering of newlines and does not cleanly break subsequent command prompts.

**Describe the solution you'd like**
The default `CommandApp` error message rendering should be tweaked so the leading newline, which renders a blank line, is moved to a traili

[2021-04-30 03:42] gitfool opened #398 "`CommandExecutor` async race condition"
**Information**
 - OS: Linux
 - Version: 0.39.1-preview.0.7
 - Terminal: Windows Terminal

**Describe the bug**
I hit an async race condition in `CommandExecutor` due to subtle mixing of [using statement](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/using-statement) and not awaiting the async tail call:
https://github.com/spectreconsole/spectre.console/blob/e48ae9600a

[2021-05-03 08:44] Goffen opened #401 "Adding CommandOptions to branch requires options to be defined BEFORE subcommands"
**Information**
 - OS: Windows
 - Version: Commit: e4dda28
 - Windows terminal

**Describe the bug**
Adding CommandOptions to branch requires options to be defined BEFORE subcommands

**To Reproduce**
Use Demo project and extend `AddSettings` with this:

[code]

[code]

Quit is here FALSE even though I clearly gave it as an option to the command.

[code]

Gives Quite = true

**Expected behavior**

[2021-05-03 11:27] patriksvensson commented on #401
@Goffen Thanks for reporting this. Will take a look at it closer when I have some spare time.

[2021-05-03 11:27] patriksvensson commented on #398
@gitfool Thanks for reporting this. Will take a look at your PR tonight when I have some spare time.

[2021-05-06 09:32] andtii commented on #113
@toburger @patriksvensson I cant get this to work on the default visual studio debug cmd window. Seems like the unicode does not work as expected, here i use the "Fira Code" font on all terminals but it only works on Windows Terminal. How do you do when you develop Spectre.Console @patriksvensson
![image](https://user-images.githubusercontent.com/1434571/117275790-ae569200-ae5e-11eb-92b0-b643cd802

[2021-05-06 15:47] simpleZed opened #403 "Table AddRows methods."
**Is your feature request related to a problem? Please describe.**

*No, it isn't related to any problem is just a library feature that I want to request.*

**Describe the solution you'd like**

When I am working with a sequence (most commonly case to use tables), I have to explicitly create a foreach construct and add row per row, I want this to be built-in into the library.

**Describe alternati

[2021-05-07 14:30] phantlantis opened #405 "Environment Variable Handling"
**Is your feature request related to a problem? Please describe.**
Common rules of precedence dictates that cli params usually override environment variables, but when I attempt to add some options into the Constructor Initialization piece:
[code]
I can only ever successfully resolve the type (avoiding "Error: Could not resolve type") if I set it to a required argument only with the angle brackets

[2021-05-07 14:55] idormenco commented on #325
Hi,
Is this issue available ? I would like to work on it.

Thanks

[2021-05-07 21:01] patriksvensson commented on #325
@idormenco Absolutely. I would prefer if this was autogenerated somehow though. Take a look at https://github.com/spectreconsole/spectre.console/tree/main/resources/scripts to see how we generate the color tables today.

[2021-05-08 08:39] wsslsy opened #408 "Markup.Escape() or EscapeMarkup() wouldn't escape Emoji markups"
Found in version: 0.39.0

Found this when using `AnsiConsole.MarkupLine()` or `Markup()` method to print an exception stack trace, the method always raise another Exception in `Segment` class `SplitOverflow()` method. So I tried to escape markup labels in the stack trace string using `Markup.Escape()` or `EscapeMarkup()` methods, yet the same result.
After realizing the stack trace contains `:` ch

[2021-05-08 11:35] idormenco commented on #325
@patriksvensson I've created a PR with aliases but I do not understand how to reproduce this issue
`When converting ConsoleColor.Magenta and ConsoleColor.Cyan to markup code, an exception occurs since the color names don't exist in the xterm-256 color list.`

Could you provide minimal code to reproduce this issue.

Thanks a lot

[2021-05-09 13:41] phil-scott-78 commented on #405
@phantlantis, PR #407 is merged in. If you take a look at the example from @patriksvensson it uses an Environmental Variable provider.

Give that a shot if you get a chance.

[2021-05-10 07:17] #392 closed

[2021-05-10 07:18] #398 closed

[2021-05-10 15:19] patriksvensson commented on #391
The stdout encoding needs to be set to UTF-8 or UTF-16 to display UTF-8 characters.
Try running `dotnet example info` and see what encoding is being used.

[2021-05-10 15:44] Twinki14 commented on #391
Using Windows Terminal with a Command Prompt instance
![image](https://user-images.githubusercontent.com/5809130/117686592-a0fe1800-b17c-11eb-978f-89186890fc41.png)

In command prompt itself
![image](https://user-images.githubusercontent.com/5809130/117686617-a6f3f900-b17c-11eb-9d3e-030a124c04d1.png)

[2021-05-10 16:40] patriksvensson commented on #391
@Twinki14 I can't reproduce the strange output in your second image.
What do your console settings look like?

![image](https://user-images.githubusercontent.com/357872/117694091-05da6200-b1bf-11eb-821d-ba4733f4a3af.png)

[2021-05-10 20:13] phil-scott-78 commented on #391
I can reproduce the line break issue on my machine with `main`.  I think I've chased it down and we'll get that fixed real soon.

But regarding the spinner - that seems like the default and desired behavior. For example, if you are overriding the encoding and getting a question mark when displaying, that to me indicates that the defaults capability detection did its job and we fell back to the saf

[2021-05-11 12:27] Twinki14 commented on #391
Regarding the spinner, after running the info example it appears to be acting just as intended. I think the confusion here is that for running a command prompt instance, inside of/with Windows Terminal, there's support for utf8 that doesn't appear to be detected by spectre.console, but i'm also not sure if there's a way you could detect that.

I'm guessing Windows Terminal has it's own utf8 suppor

[2021-05-12 13:00] chrisdanna opened #411 "Alias for Branches"
Would it be possible to add command like configurations, e.g. Alias and Description for branches? I am having an issue where my branch names are becoming fairly long, and would improve ease of use of my CLI if descriptions and aliases for branches were avaialable.

[code]

[2021-05-12 13:09] patriksvensson commented on #411
@chrisdanna That sounds like a reasonable thing to add, and I can't see any problems with it. What do you think @phil-scott-78?

[2021-05-12 13:15] bddckr commented on #411
Personally I've run into the need once, too. The issue for me was the fact that users might expect or prefer a different name, e.g. `add`/`set` instead of `insert` for branches that "add" multiple different things with a "subcommand" inside the branch.

That being said I wonder if it should be `AddAlias` and allow _multiple_ aliases. I'm curious how to display the alias(es) in the help text 🤔

[2021-05-12 13:18] phil-scott-78 commented on #411
I see nothing wrong with adding it. It'd be a nice addition 👍

[2021-05-12 19:38] phantlantis commented on #405
@phil-scott-78 , using 0.39.1-preview.0.19 in my project using that sealed class and EnvironmentVariable attribute worked great! Thanks for your help on this!

[2021-05-12 19:38] #405 closed

[2021-05-12 21:44] #325 closed

[2021-05-13 02:02] gitfool commented on #385
I have to admit I'm still struggling to be happy with error / exception messages as there are still times when a stack trace is important. Consider an issue with dependency injection:
[code]
Not very helpful compared to the propagated exception put through `AnsiConsole.WriteException`:
[code]
But then you don't always want such an exception message for say omitting a required argument:
[code]
Wher

[2021-05-13 02:57] phil-scott-78 commented on #385
The way I handle exceptions.

1) Put `PropagateExceptions` in a `#IF DEBUG` block to make sure I only do that when developing. This helps with the runtime exceptions like DI and my screw ups.
2) Per command have a try / catch block that handles them at that level. I treat each command like its own little application and I rarely rethrow from those commands. For unhandled exceptions at the command

[2021-05-13 03:09] gitfool commented on #385
@phil-scott-78 thanks for the thoughts.
1. _not sufficient_ for runtime errors in production, which in this case happen with dynamic per environment configuration
2. I ended up creating some base classes with common boilerplate for sync and async commands; e.g.:
[code]

[2021-05-13 20:18] psantosl opened #412 "Multiple selection with groups"
**Is your feature request related to a problem? Please describe.**

It would be awesome to be able to do multiple selections with groups. Something like:

[code]

And be able to group and select in groups, etc

[2021-05-14 06:32] mgnslndh opened #413 "Support custom characters at the end of a TextPrompt"
**Is your feature request related to a problem? Please describe.**
When I use the `TextPrompt` for a REPL scenario and I want to use the dollar sign `$` as the last character I get a colon `:` added automatically at the end of the prompt. This seems to happen when the prompt is missing a `?` or `:` as the last character.

**Describe the solution you'd like**
I would like to disable the default beh

[2021-05-14 08:53] idormenco commented on #411
Hello,
Can I try to fix this ?

[2021-05-14 08:57] patriksvensson commented on #411
@idormenco That would be great! 👍

[2021-05-15 18:58] AHelper opened #415 "Multiline WriteLine causes artifacts with Progress, Status"
**Information**
 - OS: Windows 10
 - Version: 0.39.0
 - Terminal: Powershell, Windows Terminal

**Describe the bug**
It appears that AnsiConsole.WriteLine (and MarkdownLine, etc.) doesn't handle lines that are longer than the console width when a status or progress is also rendered.

**To Reproduce**
Here's an example the demonstrates the problem:
[code]

**Expected behavior**
WriteLine should pre

[2021-05-16 12:56] agc93 opened #416 "PowerShell on Windows tab completed paths lead to inconsistent parsing"
**Information**
 - OS: Windows (only)
 - Version: 0.39.0
 - Terminal: Windows Terminal and default console tested.

**Describe the bug**

If a user tab-completes a path in PowerShell on Windows that includes a space, the resulting path gets parsed sort-of-incorrectly resulting in arguments being merged together and generally strange quoting behaviour. This all comes from the fact that PowerShell's

[2021-05-17 00:48] kzu opened #417 "Support cancellation on prompts"
Since it's now trivial to create async Main methods that pass around a `CancellationToken` to cleanly stop a running console app (i.e. `System.CommandLine` makes this very straightforward), it would be useful to cancel prompts by simply cancelling the token (which in `System.CommandLine` is done automatically when hitting `Ctrl+C` so the program has chance to cancel
ongoing work cleanly).

## Prop

[2021-05-17 10:07] patriksvensson commented on #417
@kzu Sounds like a good idea, but I would like to hold off on this until the work with getting async input is complete. I'll update this issue once it is! 👍

[2021-05-17 14:41] kzu commented on #417
Awesome, yeah, I noticed that it would be tricky without some async baked-in in the lower layers :)

[2021-05-17 16:38] phil-scott-78 commented on #416
Yeah, that behavior of powershell is pretty frustrating. I'm honestly surprised it can't be toggled, at least not anyway that seems obvious to me.

That being said, I don't think we will be able to work around that behavior. It would require a custom command line parser, which is a kind of [notoriously complex thing to do](https://devblogs.microsoft.com/oldnewthing/20100917-00/?p=12833). Having a

[2021-05-17 16:45] phil-scott-78 commented on #416
One thing I forgot to add is I've been toying around with the idea of adding auto completion to CLI app and there might be an opportunity to override this behavior. Issue #267 tracks this. No progress yet, but I'll definitely keep this scenario in mind

[2021-05-18 15:34] #412 closed

[2021-05-20 09:43] MiloszKrajewski opened #422 "[CLI] Argument array overridden with `null` if no arguments provided"
**Information**
 - OS: Win 10
 - Versions:
   - 0.37.1-preview.0.39,
   - 0.39.0,
   - 0.39.1-preview.0.21
 - Terminal: Windows Terminal

**Describe the bug**
When I use argument array I initialize it with `Array.Empty<T>` so I don't have to handle nulls in logic.

[code]

**To Reproduce**

[code]

**Expected behavior**
If not arguments are given (`app.Run(new[] { "do" });`) I expect `settings.Nam

[2021-05-20 12:41] patriksvensson commented on #238
Spectre.Console.Testing has been published to NuGet a while back.

[2021-05-20 12:41] #238 closed

[2021-05-20 23:41] #316 closed

[2021-05-20 23:41] #415 closed

[2021-05-21 00:41] phil-scott-78 opened #424 "There are way too many Star Wars movies"
**Information**
 - OS: All OS
 - Version: 0.39
 - Terminal: Windows Terminal

**Describe the bug**
There are like 36 Star Wars movies displayed when running the Live demo

**To Reproduce**
Run the Live demo

**Expected behavior**
Only nine movies are displayed

See https://github.com/spectreconsole/spectre.console/blob/main/examples/Console/Live/Program.cs#L34

I suspect this was just testing out

[2021-05-21 09:14] #424 closed

[2021-05-21 17:39] gitfool commented on #417
I would also love to have cancellation support for long running cli commands.

[2021-05-21 17:46] gitfool commented on #312
I'm also seeing this exception:
[code]
... for code that used to work:
[code]
But fails with latest alpha of [Spectre.Console](https://www.nuget.org/packages/Spectre.Console).

@patriksvensson did something change that broke this or am I missing something?

[2021-05-21 17:57] gitfool commented on #312
It just occurred to me that it's probably related to the dictionary keys and values I'm using:
[code]
yields:
[code]

[2021-05-22 19:57] jdvor opened #428 "Bugs possibly related to command branches"
I think I've found at least 2 bugs possibly related to command branches. Here's [repo](https://github.com/jdvor/spectbug) with the example. It's using Spectre.Console 0.39.0.

- Command options from parent (branch) settings are not taken into account / parsed. In this example _PrintBaseSettings.Message_. Result is failing ValidateExamles() and when _-m MESSAGE_ is passed as command line argument t

[2021-05-24 12:47] phil-scott-78 opened #432 "Demos with box drawing render incorrectly in Android"
Apparently the default monospace font on Android doesn't have consistently sized box drawing characters. Most fonts rely on these as fallbacks. Need to find a font that does implement these characters consistently that we can use for Android while keeping the system fonts for other systems.

[2021-05-24 12:49] phil-scott-78 commented on #432
Example screenshot

![Screenshot_20210524-084843.png](https://user-images.githubusercontent.com/2447331/119350076-e33f5300-bc6c-11eb-8865-b7556ce9b9a3.png)

[2021-05-24 13:42] #432 closed

[2021-05-24 22:32] Rafiuth opened #435 "LiveDisplayContext.Refresh() deadlocks with multithreaded console writes"
**Information**
 - OS: Windows
 - Version: 0.39.1-preview.0.31
 - Terminal: cmd, Windows Terminal

**Describe the bug**
Calling `LiveDisplayContext.Refresh()` or `UpdateTarget()` will cause a deadlock if another thread is simultaneously writing to the console.

**To Reproduce**
This code should be able to consistently reproduce the issue:
[code]

---
Please upvote :+1: this issue if you are intere

[2021-05-25 10:48] UltraStudioLTD opened #438 "'AnsiConsole' Does not contain a definition for 'Live'"
**Information**
 - OS: Windows 10
 - Code Editor: Visual Studio 2019 Community
 - Terminal: Windows Terminal

**Describe the bug**
'AnsiConsole' Does not contain a definition for 'Live'

**To Reproduce**
[code]

**Expected behavior**
I expected for it to run without problem since I copy-pasted code from docs, and only removed unnecessary parts but it didn't. Even when I looked into **AnsiConsole**

[2021-05-26 00:10] Rafiuth commented on #438
Have you tried using the latest preview version?

[2021-05-28 01:51] haykparanyan opened #440 "Live Display (VB.NET)"
**Information**
 - OS: Windows 10 x64
 - Version: 0.39.1 preview 031
 - Terminal: Windows Terminal

**Describe the bug**
System.InvalidCastException: 'Unable to cast object of type 'System.String' to type 'Spectre.Console.Rendering.IRenderable'.'

**Language**
VB.NET

 AnsiConsole.Live(table).Start(Sub(ctx As LiveDisplayContext)
                                          ' Columns

[2021-06-01 02:01] phil-scott-78 commented on #440
Been a long time since my VB days, but I suspect the issue is setting footer to a string. That property expects an `IRenderable`.  The C# to VB.NET conversion of the footer assignment from the demo would call the extension method which does have an overload for taking a string directly.

[code]

I would suggest enabling `OPTION STRICT` for your app when working with Spectre (and any time, really)

[2021-06-01 02:01] #440 closed

[2021-06-01 02:08] phil-scott-78 commented on #438
@Rafiuth is almost certainly right, Live is still only in the pre-release versions right now. Make sure you are running the latest pre-release.

[2021-06-01 02:08] #438 closed

[2021-06-01 02:17] phil-scott-78 commented on #422
Due to how Spectre instantiates the settings we are ignoring property initializers. Right now, your best is going to be using a constructor and a null check there.

[code]

I'll make a note and add a warning about property initialization in the docs though. We need to be clearer about that not working currently.

[2021-06-01 20:38] MiloszKrajewski commented on #422
I went for backing field and explicit property getter/setter:

[code]

so I'm I can live with that.

My question is though, is it design choice and it will stay like this, or it is a regression and will be fixed?

[2021-06-02 13:10] phil-scott-78 commented on #422
Well, I'm not sure I'd call it a design choice and definitely not a regression. Just a case Patrik or I don't use ourselves so it probably just got missed.

It seems valid and a doable fix though. I suspect we are overwriting the value in the [CommandPropertyBinder.cs](https://github.com/spectreconsole/spectre.console/blob/main/src/Spectre.Console/Cli/Internal/Binding/CommandPropertyBinder.cs). It

[2021-06-03 10:07] UltraStudioLTD commented on #438
@phil-scott-78 I usually only install **Stable** versions since most bugs are fixed in them and they are *stable*. When I installed **pre-release** version it fixed it.

[2021-06-04 21:50] owenneil opened #444 "Support POCO Command Settings"
**Is your feature request related to a problem? Please describe.**
I was attempting to create new command settings and thought a record would be a useful way to define the settings. However, records cannot inherit from `CommandSettings`, so this is not currently possible.

**Describe the solution you'd like**
Allow the use of command settings classes without inheriting from `CommandSettings`, eith

[2021-06-04 22:47] haykparanyan commented on #440
So what's this? Why I'm getting errors?
![Capture](https://user-images.githubusercontent.com/65831709/120869775-43f15880-c5a8-11eb-86e0-e37f2fca01b4.PNG)

[2021-06-05 01:53] phil-scott-78 commented on #440
without a project to reproduce the error, I'll have to guess. And my guess you don't have one of the new preview build with the Live component included. Try version `0.39.1-preview.0.31`

[2021-06-05 02:56] phil-scott-78 commented on #444
Personally, I'm not in love with that record syntax here but I appreciate where this is coming from.

Unfortunately, I'm not sure the POCO option will work in practice mostly due to how `ICommand` is defined. We'd have to do some significant unraveling of the code to allow it to take any object, I fear.

So I'm partial to the default interface implementation myself. I think a little rigidity is ni

[2021-06-07 16:29] haykparanyan commented on #440
Here is the project
[ConsoleApp1.zip](https://github.com/spectreconsole/spectre.console/files/6610625/ConsoleApp1.zip)

[2021-06-07 16:51] phil-scott-78 commented on #440
This is just absolutely littered with basic VB syntax errors. From my testing I'm not seeing any reason there would be an issue with Spectre so unless there is a better reproduction I'm not going to be able to help achy further

[2021-06-07 23:11] haykparanyan commented on #440
ok. thanks

[2021-06-08 19:21] #422 closed

[2021-06-09 07:33] Breakpoint21 commented on #401
I looked through the codebase and think the problem exists because the way the parser currently works. It walks the commandtree and consumes the tokensteam on the way. Options are only mapped when they are found on the current command or match the `help`-option https://github.com/spectreconsole/spectre.console/blob/0bf97cb66699369559de8bbfe02f048504db28d3/src/Spectre.Console/Cli/Internal/Parsing/C

[2021-06-10 09:16] stevenknox opened #447 "Alternative to the obsolete 'Select' function for selecting default items in SelectionPrompt"
Is default selection of SelectionPrompt items supported? It looks like a feature was added in this PR https://github.com/spectreconsole/spectre.console/pull/236

However Select is now flagged as obsolete. Is there an alternative ?

[2021-06-10 09:21] #266 closed

[2021-06-10 12:44] devlead opened #448 "0.40.0 has breaking changes in parameter validation"
There's a bit more that's changed than specified under
* Correct documentation comment text
https://github.com/spectreconsole/spectre.console/releases/tag/0.40.0

0.40.0 broke ABI with ParameterValidationAttribute which should be documented to

[code]

This means people are blocked to upgrade to 0.40.0 until all their dependencies are updated to 0.40.0. i.e. like if you like us have common validat

[2021-06-11 20:20] bradygaster opened #449 "Ability to type without being obstructed by scrolling text above"
Imagine a windows or web UI in which there is a scrolling listbox (that's a whole other feature I'd love to see, btw, but I digress...) at the top, and a text box at the bottom into which one can type. Like a chat app, or an old-school moo or mud. Something into which a command can be entered whilst "things are happening" above. I can type as fast as I need to, and the messages can come in as fast

[2021-06-11 20:28] patriksvensson commented on #449
@bradygaster I think the interactivity you're asking for is easier to achieve with a TUI framework like Gui.cs (https://github.com/migueldeicaza/gui.cs). Still, we could definitely add a new widget that does what you ask for, that is, allowing input at the bottom of the console output while other renderable things are drawn on top.

@phil-scott-78 What do you think?

[2021-06-11 20:29] bradygaster commented on #449
Yes one of the projects I'm building currently uses gui.cs. And I like it a lot, but there are features in Spectre I want to use MORE. :)

[2021-06-18 15:07] 18-F-cali opened #454 "In the getting started example code, the string is repeated at line 53."
https://github.com/spectreconsole/spectre.console/blob/2a9fbb1ee9fbe0a37cb46f3d95f5bfd5e64db145/docs/input/cli/getting-started.md#L53

[code]

[2021-06-18 15:21] patriksvensson commented on #454
@18-F-cali Good catch! Do you want to submit a PR for it? 😄

[2021-06-18 15:30] 18-F-cali commented on #454
yes, will do.

[2021-06-19 03:48] #454 closed

[2021-06-20 20:43] patriksvensson commented on #448
@devlead Sorry about this. We're working on better process for releases.

[2021-06-20 20:43] #448 closed

[2021-06-20 23:27] patriksvensson commented on #447
@stevenknox Good point. I removed it for now since it didn't make sense anymore (items can't be retrieved by indexed). We should really add something that brings back this functionality. Sorry for the inconvenience!

[2021-06-20 23:33] #98 closed

[2021-06-20 23:33] #265 closed

[2021-06-20 23:34] #47 closed

[2021-06-20 23:35] #449 closed

[2021-06-20 23:36] patriksvensson commented on #223
Closing for inactivity. Feel free to open this again if the problem persists.

[2021-06-20 23:36] #223 closed

[2021-06-20 23:38] patriksvensson commented on #156
@onionhammer This should now be possible to do with the 0.40.0 release. See the `Live` example for more information.

[2021-06-20 23:38] #156 closed

[2021-06-20 23:50] patriksvensson commented on #413
Sorry for not responding until now.
A perfectly reasonable thing to expect!

[2021-06-21 10:16] hugoqribeiro opened #460 "Default values for Ask()"
`Ask()` could accept a default value that would be returned when the user simply presses enter, no?

This helps a lot in scenarios where you want, for example, to prompt for something and assume a default value or even set the last input as the default for latter executions of the same prompt...

[code]

[2021-06-21 10:36] patriksvensson commented on #460
@hugoqribeiro Sounds like a reasonable thing to add! Do you want to submit a PR for this?

[2021-06-21 19:16] hugoqribeiro commented on #460
@patriksvensson well... I'm new to spectre.console. I'm not familiar with the API design. May be that's not a great idea. :)

[2021-06-22 03:47] tanner0101 opened #464 "Multiple options support"
I'd like to be able to support multiple values for an option in my CLI tool. For example, something similar to Helm's `--values` or `--set` flags:

[code]

Here `--values` is equal to the array `["myvalues.yaml", "override.yaml"]`.

I couldn't find a way to do this, so I think it's not supported. I could imagine declaring such an option like this:

[code]

Thoughts on supporting this? I'd be happy

[2021-06-22 04:53] patriksvensson commented on #464
@tanner0101 This should already be possible unless I misunderstand your question:

[code]

[2021-06-22 04:53] #464 closed

[2021-06-22 10:48] i-am-shodan opened #466 "Text prompt lacks standard UI controls"
**Information**
 - OS: Windows / Linux
 - Version: 0.40.0
 - Terminal: conhost / Windows Terminal

**Describe the bug**
The text prompt doesn't seem to support Home, End or CursorKeys.
On Windows, if you go multiline you are unable to delete further than the current line you are on. Linux this seems to work.

**To Reproduce**
`string name = AnsiConsole.Ask<string>("TestPrompt:>");`

**Expected beh

[2021-06-22 20:54] kamtschatka commented on #417
I just came across the same requirement as I would like to switch to progress from a prompt if an external event happens, without having to exit the prompt first.

[2021-06-23 09:07] nils-a commented on #460
Sounds easy enough - I'll give it a try if that's ok with everyone.

[2021-06-23 12:30] patriksvensson commented on #460
@nils-a Absolutely!

[2021-06-23 21:47] #460 closed

[2021-06-27 20:08] patriksvensson commented on #447
@stevenknox Added a PR that solves this for you and should be available in the next version. When fixing this, I realized that you can select items when you add them.

[code]
[code]

[2021-06-27 20:18] patriksvensson commented on #216
@mcon I revisited this issue, but can't reproduce it. Could you verify if it's working for you now and if not produce a minimal reproducible example?

![image](https://user-images.githubusercontent.com/357872/123558232-705a5800-d795-11eb-949a-01df30e690fa.png)

[2021-06-28 01:41] pdevito3 commented on #266
@stevenknox, might not work everywhere, but I've ran into a similar issue and have, so far, been able to force Unicode encoding with something like `Console.OutputEncoding = Encoding.Unicode;` by just tossing that at the start of my project.

Not sure if there's any downsides or gotchas to this cc @patriksvensson

[2021-06-28 07:17] stevenknox commented on #266
Thanks @pdevito3 !

[2021-06-28 07:19] stevenknox commented on #447
Fantastic @patriksvensson ! Very much appreciated, the tool im building has a lot of defaults so really helps improve the UX

[2021-06-28 12:41] #447 closed

[2021-07-01 20:05] patriksvensson commented on #260
Closing in favor of #293

[2021-07-01 20:05] #260 closed

[2021-07-01 20:06] patriksvensson commented on #293
As @Yaroshvitaliy suggests in #260, it might be a good idea to add support for footers as well.

[2021-07-01 20:10] patriksvensson commented on #109
Closing in favor of #110

[2021-07-01 20:10] #109 closed

[2021-07-02 22:30] HolisticDeveloper commented on #156
@patriksvensson looks like a cool update! Is it possible to update the text in an existing row? Or, failing that, to remove a row?

In my scenario, I'm counting a bunch of widgets of different types. The different types of widgets are unknown. I'd like to display live information as I count the different widgets.

For example, after the first pass, I might have 18 foos, and 7 bars. After the next

[2021-07-03 08:26] patriksvensson commented on #156
If I were you, I would probably use a live table, but instead of updating individual parts, which is difficult since table rows are immutable (by design and good reasons), I would probably regenerate the whole table and call `ctx.SetTarget(newTable)`.

[2021-07-05 07:15] #413 closed

[2021-07-05 14:20] mcon commented on #216
Had a crack in Windows terminal, and was unable to reproduce, looks like something's changed underneath us that's fixed it.

I was expecting the following to throw, but it happily prints out the terminal width - thanks for coming back to this one @patriksvensson, looks like this is good to close (assuming @Frassle can't reproduce).

[code]

[2021-07-06 19:31] HolisticDeveloper commented on #156
@patriksvensson works great, although the method is `UpdateTarget()`, not `SetTarget()`.

[2021-07-10 22:01] #324 closed

[2021-07-11 09:27] patriksvensson opened #480 "IAnsiConsole.Confirm extension is missing default value parameter"

[2021-07-11 15:28] tonyredondo opened #481 "StrongNamed version of the assembly"
**Is your feature request related to a problem? Please describe.**
A codebase with a lot of use of `InternalsVisibleTo` so all assemblies must be signed.

**Describe the solution you'd like**
Either sign the final assembly or have a signed nuget version as some other libs do.

**Describe alternatives you've considered**
Is not possible to load a non signed assembly from a signed assembly, at compi

[2021-07-12 03:10] #417 closed

[2021-07-12 06:47] #480 closed

[2021-07-13 12:26] nils-a opened #485 "Docs reference LogCommandSettings"
**Describe the bug**
The current Documentation in [Commands.md](https://github.com/spectreconsole/spectre.console/blame/2a9fbb1ee9fbe0a37cb46f3d95f5bfd5e64db145/docs/input/cli/commands.md#L10) shows a settings class that inherits from `LogCommandSettings`.
While `LogCommandSettings` exists in the samples it does (probably) not, when one copy-pastes the example from the docs.

**To Reproduce**
* op

[2021-07-13 13:34] patriksvensson opened #487 "Analyzer: Sequence contains no elements"
**Information**
 - OS: Windows
 - SDK: 5.0.301
 - Version: 0.40.1-preview.0.13

**Describe the bug**

Getting this warning

[code]

**Additional context**

Seem to occur in a constructor that looks like this.

[code]

[2021-07-15 07:39] #485 closed

[2021-07-16 14:03] patriksvensson opened #489 "Exception does not render correctly"
**Information**
 - OS: Windows
 - Version: 0.40.0
 - Terminal: Windows Terminal

**Describe the bug**

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/357872/125960300-db271388-5843-441d-8b2e-1875d01f42a9.png)

[2021-07-19 16:56] RichiCoder1 opened #493 "MultiSelect defaults for MultiSelectionPrompt"
**Is your feature request related to a problem? Please describe.**
Previously it was possible to select multiple items in `MultiSelectionPrompt`, allowing for multiple defaults. Working around this by just selecting each in a loop.

**Describe the solution you'd like**
A replacement extension method to allow selecting multiple defaults again.

**Describe alternatives you've considered**
Just selec

[2021-07-19 17:06] patriksvensson commented on #493
@RichiCoder1 Not sure if I misunderstand something, but I just tried it out and it's still working.
Could you share some code that reproduces this?

![image](https://user-images.githubusercontent.com/357872/126199149-0833ca18-453e-4548-b3b6-ed97d875b4fe.png)

[2021-07-19 17:22] RichiCoder1 commented on #493
Ahh! I should clarify, setting defaults by calling the extension method `Select` on `MultiSelectionPrompt`, which used to accept an Enumerable of indices to select. This was a convient way to set multiple default selections before presentation to the user.

[2021-07-19 17:23] RichiCoder1 commented on #493
Removed here: https://github.com/spectreconsole/spectre.console/commit/865552c3f2046282519b85e543ed516142f7785a#diff-0e766947d13f6d9db4fd4cee1aa7845d9c776f4009124784ceb62e41b0939248L150

[2021-07-19 17:49] patriksvensson commented on #493
@RichiCoder1 Ah, yes. We obsoleted those a while back and recently removed them since they don't make much sense anymore after making the list hierarchical. There are, however, new methods for selecting items.

I'll write up an example once I'm at a computer.

[2021-07-19 17:54] Tyrrrz opened #494 "Relieve requirements for exclusivity mode when not running against a real console (i.e. in tests)"
**Is your feature request related to a problem? Please describe.**

When using dynamic displays, Spectre.Console ensures exclusivity through a call to this method:

https://github.com/spectreconsole/spectre.console/blob/5f97f2300cf848e84e90e963ee491042054ae477/src/Spectre.Console/Internal/DefaultExclusivityMode.cs#L37-L55

This makes perfect sense for when the application is running with a real co

[2021-07-19 18:21] RichiCoder1 commented on #493
I guess I have a weird case where hierarchical doesn't make sense, but I still want a number of items selected. I'm making it work fine using `Select`, so I'm not blocked at all. Can close this out though if it's an edge case request.

[2021-07-19 20:31] #487 closed

[2021-07-19 20:39] patriksvensson commented on #494
@Tyrrrz Sounds like a perfectly reasonable request to me.
I would prefer this to be something you opt-in to explicitly though, and not using any kind of heuristics.

[2021-07-19 21:34] Tyrrrz commented on #494
I suppose that can be achieved by making the `NoopExclusivityMode` public and part of the core package (instead of `Spectre.Console.Testing`). Would do you think?

[2021-07-19 21:39] nils-a commented on #493
Sorry to jump on this, but I also stumbled a bit when I tried to implement selecting multiple items. (Mostly because of me, though...)

@RichiCoder1 Are you saying what you are currently missing is something like this: https://github.com/spectreconsole/spectre.console/commit/393b2b54e5e320f7e311014bdb2582bb922a1206#diff-a84d869307529eb26cb15b7f6566d9f31950d7ec0eacc2130fa9afc3a2ade7c4R115

[2021-07-19 22:53] patriksvensson commented on #493
@RichiCoder1 I don't think we should close this out. I don't think you're alone in wanting to select items in an easy way (@nils-a's comment proves this).

Question is, how can we make this easier to discover in the API? Can we add some extension method, such as `AddSelectedItem`/`AddSelectedItems`? Would something like that help?

[2021-07-19 23:16] RichiCoder1 commented on #493
Ooo, that'd work too. Or maybe an overload to `AddChoices` takes defaults as a second arg? Either would be good.

[2021-07-19 23:17] RichiCoder1 commented on #493
Ooo, that'd work too. And probably be more efficient.

Or maybe an overload to `AddChoices` takes defaults as a second arg.

[2021-07-19 23:37] nils-a commented on #493
Well, my problem was that I was "looking" at the current *develop* branch (i.e. 0.41.preview-something) trying to figure out selection while I referenced the 0.40.0 version.

But I think it's not as easy as `AddSelectedItem` - at least not for a hierarchical `MultiSelectionPrompt`. Only the first level of descendants are `IMultiSelectionItem` which support `Select()`.

So, while one can do

[code]

[2021-07-22 23:48] jsreynolds opened #495 "Windows 2012R2 Error System.NotSupportedException"
**Information**
 - OS: Windows 2012 R2
 - Terminal: Windows Terminal

I feel a bit dumb having gone this far without considering the impacts. I developed my console app using dotnet 5 on Windows 10. The deployment target is Windows 2012R2 (has dotnet Core installed appropriately, runs other dotnet core apps just fine).

My semi-educated guess is that I simply cannot use Spectre.Console in the Wind

[2021-07-24 08:04] patriksvensson commented on #495
@jsreynolds Some functionality in Spectre.Console, such as some prompts, requires a terminal that knows how to interpret VT/ANSI sequences. Sadly, cmd.exe in versions prior to Windows 10 (build 16257) does not support that.

[2021-07-24 08:31] patriksvensson opened #496 "Support arbitrary parameters after `--` in strict mode"
Arbitrary parameters after `--` in strict mode should be supported.

[2021-07-26 00:17] daningalla opened #497 "Open a tag using Markup() but close it later (question)"
I'm writing a customizable MSFT Logger implementation for SpectreConsole. I need the ability to open a markup tag in order to apply styling to the event output, render the event, then close the tag after event rendering has been completed. My implementation has a whole pipeline around this. The styling per log level is customizable by the consumer, so these operations need to be isolated. I'd pref

[2021-07-26 17:14] dvygolov commented on #24
It is sad that this great library doesn't have the ability to span several columns :(
For example: I'd like to add one table into the other one. I can do it, but the child table is rendered in the first column of the row. Because of that it looks unreadable and doesn't make sense...

[2021-07-26 18:05] patriksvensson commented on #24
@dvygolov Well, nothing happens in a vacuum. I haven't needed this myself, so it's really up to the community to provide a pull request for this.

[2021-07-26 18:39] patriksvensson commented on #497
I'm not against adding support for non-terminated markup tags, but with great powers come great responsibility. There won't be any guarantees that a markup tag is closed and the output style being restored. I will need to think about this a bit and discuss it with @phil-scott-78.

[2021-07-27 00:40] daningalla commented on #497
Thank you kindly for the reply @patriksvensson  - I've put `StringBuilder` in to buffer my rendering pipeline so I've at least solved my own challenge. I was just making sure I wasn't missing something in the current API. Without digging, I'm sure there's a solution hiding in there with `IRenderable`.

[2021-07-27 15:51] phil-scott-78 commented on #24
I've added the help-wanted tag to this. It's be a nice feature to have but not one that I have a need for either so I doubt I'd be able to spend time on myself. Hopefully someone in the community with the need can jump in.

With the testing being very complete around the tables it would be a nice item for someone who hasn't worked in the project before to get their feet wet.

I'd be happy to help

[2021-07-30 21:27] MizMahem opened #498 "When using custom command setting validation attributes, validation error message overrides ValidationResult error message."
**Issue**
When using custom validation attributes derived from `ParameterValidationAttribute`, the validation error message provided in the attribute constructor overrides any `ValidationResult` error message. Using the `ValidationResult` messages returned by `Validate` is probably preferable because in this context the `CommandParameterContext` variable can be used to give more detailed feedback

[2021-07-30 23:13] MizMahem commented on #498
Digging into the code I found that giving the constructor a blank string or null causes the `Validate` error message to be used. This isn't very intuitive and isn't documented anywhere. And in a nullable context, the `errorMessage` parameter in the constructor can't even be null. Perhaps it should be allowed to be null for this purpose, or a constructor not taking an errorMessage should be added?

[2021-08-01 06:47] danielmayost opened #499 "MultiSelectionPrompt.AddChoice() in AnsiConsole.Prompt() causes compilation error"
**Information**
 - OS: Windows 10
 - Version: 0.41.0

**Describe the bug**
In class `MultiSelectionPrompt` the method `AddChoice` return `IMultiSelectionItem<>` instead `MultiSelectionPrompt<>` which causes compilation error in the following example.

Maybe this is supposed to be the case, and should only use `MultiSelectionPrompt.AddChoices()`, anyway, this is an official example from the documen

[2021-08-04 15:13] danielmayost opened #500 "Option to remove rows or columns from a table"
**Is your feature request related to a problem? Please describe.**
'm always frustrated when I want to remove and update field content or remove rows from a table, to use "Live".

**Describe the solution you'd like**
Remove rows or columns, and update content in a specific field in the table.

**Describe alternatives you've considered**
Right now, every time you need to create a new table, and rec

[2021-08-04 15:52] danielmayost commented on #500
I use the code I added to myself, why did you not include it in the first place?

Code: https://github.com/danielmayost/spectre.console/blob/main/src/Spectre.Console/Widgets/Table/Table.cs

[2021-08-04 16:07] phil-scott-78 commented on #500
The code was not included because it was not yet written.

With the live functionality in place I think it's a good feature to add. I'll take a look at what you have later tonight after my kid goes to sleep. If things look good I think a pull request and review would be in order and we can add it to the next release?

[2021-08-04 20:03] danielmayost commented on #500
I meant why they did not allow it before.

This is a code I wrote for myself, I do not know if it is good enough for Pull's request.

[2021-08-05 05:19] phaselden opened #501 "AnsiConsole.Render(table) may throw ArgumentOutOfRangeException"
**Information**
 - OS: Windows 10
 - Version: 0.41.0
 - Terminal: cmd

**Describe the bug**
Sometimes, if the console window size is just right, an exception is thrown when calling Render().

(sorry, I don't have time today to track down the issue further)

**Additional context**
Stack trace:

[code]

[2021-08-05 14:58] Cheesebaron opened #502 "Return group in SelectionPrompt and MultiSelectionPrompt"
**Is your feature request related to a problem? Please describe.**
I would love when using `SelectionPrompt` or `MultiSelectionPrompt` with choice groups, that I could get both the selected item, but also the group it belongs to as output.

Consider this code:

[code]

If I have the same choice in different groups, I would like to know which group it belongs to.

Right now I would have to wrap the

[2021-08-06 10:45] danielmayost opened #504 "Opens the option to expand objects - by removing "sealed""
**Is your feature request related to a problem? Please describe.**
I would be happy if there was more flexibility to expand existing objects in the project, like `ProgressTask`, for that matter, I owe a version of it with a few more Properties.

This was a problem for me with a few other objects like `Table` etc.

**Describe the solution you'd like**
Why must all objects be locked for expansion, w

[2021-08-06 11:56] patriksvensson commented on #504
@danielmayost That kind of flexibility leads to a lot of bugs, therefore everything is sealed by default. We prefer to extend things using composition if we can in the first place and avoid inheritance.

[2021-08-07 09:10] #504 closed

[2021-08-07 09:23] #497 closed

[2021-08-07 09:42] patriksvensson commented on #502
@Cheesebaron I totally get what you're after, but the problem is that `AddChoiceGroup` is just a convenience method to add a single level to the tree. It's also possible to build a selection tree with an arbitrary number of levels.

The result would need to look something like the code below, which I think would make things more complicated than it should be.

[code]

Perhaps we could add a method

[2021-08-07 09:44] patriksvensson commented on #495
Note: Revisit this once we've shipped 1.0. We might be able to support this scenario using the VT/ANSI emulation layer in https://github.com/spectreconsole/terminal

[2021-08-07 10:17] patriksvensson commented on #494
I've been thinking about this a bit, and I think it's better that we make the semaphore non-static instead. The exclusivity mode should only be used per console, and now it's shared among all consoles, which frankly makes no sense.

Making the semaphore non-static would solve your issue as well.

[2021-08-07 10:28] patriksvensson commented on #501
@phaselden I've been trying to recreate this but haven't succeeded. Do you think you could try to create a minimal reproducible example of this? All I would need is the table definition and the width of the console when the crash occurs.

[2021-08-08 11:00] Cheesebaron commented on #502
That could probably work and solve the problem. I guess that would work with any type you use for your groups?

How would that work internally? Some recursive traversing of the groups and matching whether the reference is the same?

[2021-08-09 10:25] vanheesk opened #508 "SelectionPrompt - Set default value not available"
**Is your feature request related to a problem? Please describe.**
SelectionPrompt does not contain a "Select" -method.  It is however available on MultiSelectionPrompt.

**Describe the solution you'd like**
Option 1:
Add the same "Select" and "IsSelected" -methods (as available in MultiSelectionPromptExtensions) to the SelectionPromptExtensions -class.

Option 2:
Add a "DefaultValue" (as availabl

[2021-08-09 11:06] patriksvensson commented on #508
@vanheesk SelectionPrompt does not have a default value, since that would mean that the selection prompt is never shown.
Could you explain a bit more in detail what your use case is? Maybe I'm misunderstanding something.

[2021-08-09 11:24] vanheesk commented on #508
Say I have a SelectionPrompt asking "What is your favorite fruit", and I provide the user with a list of choices. (Apple, Banana, Cherry, Coconut, Dragonfruit).  I select "Cherry" and store this somewhere.
Now, I'm asking the user that same question again and I want to put the cursor on his/her previously selected item, so they know what was previously selected, but can still change it.

[2021-08-10 00:21] phaselden commented on #501
Sorry, I cannot recreate the issue either. It was no doubt a non-standard console width along with tables that have quite a few columns with wrapping text that created just the right circumstances to throw the error.

If it occurs again I will attempt to capture some relevant info.

[2021-08-11 22:35] willyt150 commented on #428
Thank you very much for your example as a workaround for the Dependency Injection trying to use the TypeRegistrar and TypeResolver for the command's settings!

If this is working as intended, could we get the documentation to include the need to add the command setting to the DI provider?

[2021-08-12 00:31] phaselden commented on #416
Am not 100% sure this is the same underlying issue but...

I have a app which I call like this:
`MyApp.exe process "C:\TestData\EDB\"`

The quotes are added to the last arg in case the directory path includes a space.

If the path includes the trailing backslash like shown above, then the property value that ends up in the (Command)Settings is:
`C:\TestData\EDB"`
That is, there is a double-quote c

[2021-08-12 07:50] LiamSho commented on #501
@phaselden Hi, I successfully recreate this issue. Using version 0.41.0 of Spectre.Console

https://user-images.githubusercontent.com/28832398/129158053-ed645237-b362-4e03-9371-2f491ddadcb5.mp4

Tested on Windows 11 build 22000.120 with cmd, Windows Terminal, Powershell Core 7 and Windows Powershell.

Also tested on macOS Monterey with Terminal.app (zsh with oh-my-zsh)

[2021-08-12 07:53] LiamSho commented on #501
The question marks in the output is Japanese and Chinese character.

[2021-08-12 08:01] patriksvensson commented on #501
@LiamSho That's great! Could you post the source code and the window width as well so we can recreate it?

[2021-08-12 09:20] patriksvensson commented on #501
@LiamSho Thank you! I will take a look at it tonight.

[2021-08-12 10:12] LiamSho commented on #501
@patriksvensson

This is what I find. I am not a native English speaker, I will try my best to explain.

"これはテストタイトルです"
"这是很长很长的测试字符串"

Both of this Japanese string and Chinese string only have 12 characters, but its width is the same as 2 alphabets.
`Wcwidth.UnicodeCalculator.GetWidth(char value)` will return 2 if the value is any Japanese or Chinese character.

In my demo. "これはテストタイトルです" this st

[2021-08-12 23:26] phaselden commented on #501
@LiamSho That's fantastic. Excellent investigating! Thanks.

[2021-08-14 21:35] #500 closed

[2021-08-14 21:43] #494 closed

[2021-08-20 21:31] kzu opened #515 "Automatically provide global using for Spectre.Console"
It's (almost?) sure that someone referencing the package will right-away use its provided types.

With the new C# 10 global usings feature, it would be great if referencing the package automatically provided such global usings, so that a simple console top-level program could right-away be just:

[code]

No added usings needed.

[2021-08-20 22:22] phil-scott-78 commented on #515
I'm a little antsy about enabling this for people automatically. I always kinda feel when people add our package we are a guest in their solution, and turning this on feels like we are putting our feet up on the table uninvited.

[2021-08-21 08:24] bddckr commented on #515
My suggestions:
1. Wait - implicit global usings are getting changed to be opt-in rather than opt-out: https://github.com/dotnet/sdk/issues/19521
2. Once the above is done, follow whatever approach they are taking to make it opt-in. The last change did by conditionalizing the `ItemGroup`: https://github.com/dotnet/sdk/pull/19599/files#diff-96d423b08310b8431268198a954468fb9ca7f757d78aa38ae8c9bf3aa1

[2021-08-21 19:28] shaneray opened #517 "Table Row/Cell Styles"
**Is your feature request related to a problem? Please describe.**
When I have a table with at has rows that span multiple lines it can be difficult to distinguish one row from the next.

**Describe the solution you'd like**
It would be nice to have the ability to have table rows/cells with background color.  This would allow for striped rows. It would also be nice to be able to have a border on e

[2021-08-21 19:54] shaneray opened #518 "Table/Rule Percentage Width"
**Is your feature request related to a problem? Please describe.**
No problem, just a feature request.

**Describe the solution you'd like**
It would be nice to set the width of a table based on percentage rather than column count.  If this gets implemented it would be nice to be able to do the same for Rule, or at very least allow setting the width of a Rule just like you can a table.

**Describe

[2021-08-22 23:38] kzu commented on #515
In my humble opinion as a fairly heavy user of this project, I've never added it to any project where I didn't immediately added it as a using. Its types are (mostly? All?) Ansi* and never found any conflicts with any other types (that I commonly use at least).

The argument might apply if you're, say, Newtonsoft.Json, Automapper or some other general purpose library. But this project is sharply f

[2021-08-23 17:53] phil-scott-78 commented on #515
For small projects, sure. But of anything with any real meat we'd be bringing in a bunch of stuff in that namespace with names like Color, Decoration, Profile, and Capabilities project wide. And for many console applications only a handful of classes concern themselves with the reading and writing of the output, so these could easily start getting in the way. And that assumes we are the only nuget

[2021-08-24 04:22] kzu commented on #515
Any non-trivial CLI "uex" will like share quite a bit of course with other "UIs" and I seriously doubt in that case, all the shared code will live in a console project.

In my experience building dotnet global tools, shared code does not have a reference to any presentation library (console or otherwise).

Advanced users can always remove the added using anyway. What's important IMO is to make the

[2021-08-24 12:52] FreeApophis opened #519 "MarkupLine does not escape given parameters."
**Information**
 - OS: Windows (but probably everywhere)
 - Version: 0.41.0
 - Terminal: Windows Terminal (but probably everywhere)

**Describe the bug**

I encountared this in a situation like this:

[code]
which threw this exception: System.InvalidOperationException: Could not find color or style 'System.Int32'.

The problem seems to be that the parameters are applied before parsing the format.

[2021-08-24 14:45] #501 closed

[2021-08-29 17:15] pascalberger opened #524 "Support custom max value for bar charts"
**Is your feature request related to a problem? Please describe.**
I would like to print out multiple bar charts aligned to a common max value. With the current version every bar chart uses the full width for its highest value. Compared to other bar chart this might give a wrong visual impression.

**Describe the solution you'd like**
It would be nice to have the possibility to pass a max value to

[2021-08-30 09:12] patriksvensson opened #525 "Fix parsing of exceptions on .NET Framework"
**Information**
 - OS: Windows
 - Version: 0.41.0

**Describe the bug**
On .NET Framework, exception.ToString() uses a slightly different format than on .NET Core.

So in order to properly transform an Exception into an ExceptionInfo on both .NET Core and .NET Framework we use exception.StackTrace + exception.InnerException. As an added benefit, it greatly simplifies the implementation of the Exce

[2021-08-30 14:14] stuart-blackler-cko opened #526 "Bug: Link Rendering"
**Information**
 - OS: Windows
 - Version: 0.41.0
 - Terminal: Powershell / Cmd

**Describe the bug**
Links do not render when then `[link=]` format is used. Links render correctly when just using `new Markup("https://google.com")` on some terminals

**To Reproduce**

[code]

**Expected behavior**
The link should be rendered

**Screenshots**
Output for the above code:

_Powershell_
![image](https:

[2021-08-30 14:22] patriksvensson commented on #526
@stuart-blackler-cko Thanks for reporting this. Alas, this is not a bug, but the specific VT/ANSI code is not supported by your terminal. We're using some heuristics to determine if this is supported (the `AnsiConsole.Profile.Capabilities.Links`), but this doesn't always work.

[2021-08-30 21:08] patriksvensson commented on #517
@shaneray Sounds like a good idea! Would you like to take a stab at this?

[2021-08-30 21:10] patriksvensson commented on #517
@shaneray Sounds like a good idea! Would you like to take a stab at this?

Getting the API right might be difficult since we're currently don't allow configuration by row, but happy to discuss it more.

[2021-08-30 21:12] patriksvensson commented on #518
@shaneray Sounds like a good idea! Would probably be a good idea to implement this for other widgets that support explicit widths, so that things are consistent. Is this something you would like to contribute?

[2021-08-30 21:14] patriksvensson commented on #524
@pascalberger Sounds like a good idea! Would you like to take a stab at this?

[2021-08-30 21:16] patriksvensson commented on #502
@Cheesebaron Sorry for not getting back to you about this sooner.
I think most of the stuff for this should be wired up already, so it shouldn't be a super big change.

Is this something that you would consider contributing?

[2021-08-30 21:18] patriksvensson commented on #515
While I appreciate the PR you sent for this, I'm a bit on the fence about this. Like @phil-scott-78 said, we would be bringing in a lot of generic-sounding things, not only the `AnsiConsole` stuff. I could personally consider adding something like this if it was opt-in by an MSBuild flag.

[2021-08-30 21:39] patriksvensson commented on #519
@FreeApophis Thanks for reporting this, but this is by design. The Markup API expects all format arguments that are strings to be properly escaped.

It would break too many consumers if we would change this behavior now.
We're, however, considering adding new functionality in a later release that takes care of this problem.

[2021-08-31 06:51] Cheesebaron commented on #502
Sure, I could have a look. Need to familiarize myself with the code, but shouldn't be an issue 😄

[2021-08-31 07:28] Im5tu commented on #526
Thanks for the quick response. Completely understand the heuristics, but shouldn't `Click to visit my blog` render as a link if `https://patriksvensson.se` renders as a link?  Or does it fall under the same heuristics?

[2021-08-31 07:38] patriksvensson commented on #526
@Im5tu I assume the above screenshot (Powershell) is taken from Windows Terminal?
Windows Terminal renders URL:s automatically. That functionality was added in one version, and the VT/ANSI support was added later.

What version of Windows Terminal are you using?

[2021-08-31 11:13] Im5tu commented on #526
It was from the JetBrains interface, so going to broadly assume they are doing the same as the Windows Terminal. Thanks for the explanations and all the work on this lib :)

[2021-08-31 11:13] #526 closed

[2021-09-04 04:22] aijkl opened #528 "Table.AddRow (string value) throws an exception if one row is too long."
**Information**
 - OS: Windows10
 - Version: latest
 - Terminal: VisualStudio DebugConsole

**Describe the bug**
Table.AddRow (string value) throws an exception if one row is too long.
System.ArgumentOutOfRangeException:'Index and length must refer to a location within the string. Arg_ParamName_Name'

**To Reproduce**

[code]

**Expected behavior**
Surrogate characters were not included, which is

[2021-09-04 09:50] patriksvensson commented on #528
I suspect this has been resolved in #501.
Could you reference version `0.41.1-preview.0.12` and see if you're still seeing this error?

[2021-09-05 01:55] aijkl commented on #528
![image](https://user-images.githubusercontent.com/51302983/132112323-7c5d3651-d01c-4b47-adb7-0a30e35055ce.png)
I was able to confirm that it was fixed in ```0.41.1-preview.0.12.```
thank you

[2021-09-05 01:55] #528 closed

[2021-09-05 21:10] omaus opened #529 "Borders between Cells?"
**Is your feature request related to a problem? Please describe.**
I'm using Spectre.Console for displaying MS Excel sheets as SpectreTables. I'm happy with it but I miss the possibility to add borders between cells to easily distinguish several rows. Is there an option I missed?

**Describe the solution you'd like**
An option or a table border style that adds borders between cells.

**Describe al

[2021-09-05 22:00] patriksvensson commented on #529
@omaus Thanks for raising this issue. However, I think this is a duplicate of #517.
Closing this in favor of the existing one, but thanks for reporting it! Much appreciated!

[2021-09-05 22:00] #529 closed

[2021-09-10 12:50] OnlyOnePro opened #534 "Progress control not updating the Spinner"
**Information**
 - OS: Windows 10 19043.1165
 - Version: 0.41.0
 - Terminal: cmd, Terminal

**Describe the bug**
Creating a async Progress Control with a SpinnerColumn as shown on the documentation (https://spectreconsole.net/live/progress) when editing the shown Spinner on the column the spinner doesn't uses the specified style.

**To Reproduce**

[code]

**Expected behavior**
The Progress contro

[2021-09-10 12:57] patriksvensson commented on #534
@OnlyOnePro Thanks for reporting this, but this is not a bug. If the console output encoding isn't Unicode, it will fall back to the default ASCII spinner.

If you're running PowerShell, you can explicitly set the output encoding by running `[console]::InputEncoding = [console]::OutputEncoding = New-Object System.Text.UTF8Encoding` before your application, or set the output encoding explicitly wit

[2021-09-10 12:57] #534 closed

[2021-09-10 13:12] patriksvensson commented on #534
@OnlyOnePro I went ahead and closed this, but feel free to re-open if you think I closed this in error, or if you can't get it to work in a terminal with output encoding set to Unicode.

[2021-09-11 10:54] antoniovalentini commented on #489
Hey 👋
I'm trying to reproduce the issue, but with no success. I've also tried to raise an exception in a `Cupboard` project.
Any suggestion?

### Information

- OS: Windows
- dotnet sdk: 5.0 / 6.0
- spectre.console: 0.41.0
- Terminal: Windows Terminal (PowerShell/Prompt)

Result:

![image](https://user-images.githubusercontent.com/4293609/132945265-779d8fc9-04ab-4897-a730-9eb045cc5237.png)

Code:

[2021-09-11 11:15] Genteure commented on #489
There is a `\n` before the exception message string `File name:`
The following code reproduces this bug successfully:

[code]

![image](https://user-images.githubusercontent.com/11240579/132945894-df2302e0-202b-42f9-965a-0f2c6dc4d408.png)

- OS: Windows
- Version: 0.40.0
- Terminal: Microsoft Visual Studio Debug Console

[2021-09-11 13:32] antoniovalentini commented on #489
Hi @Genteure, thanks for the hint! I can now reproduce it.

![image](https://user-images.githubusercontent.com/4293609/132949419-5f723f66-39cd-4be5-b533-a34c3b9bf254.png)

But,
I cannot reproduce it anymore if I clone the repo and use the most recent code (`MinVer: Calculated version 0.41.1-preview.0.13`)

![image](https://user-images.githubusercontent.com/4293609/132949395-724967d2-a553-4b9c-9acb

[2021-09-11 13:47] Genteure commented on #489
Looks like it got fixed in #513 https://github.com/spectreconsole/spectre.console/commit/e0815930123f9fdfa55c141107c5b0d4e25560b3

[2021-09-14 07:34] koliyo opened #536 "Automatic usage docs for enum options"
**Is your feature request related to a problem? Please describe.**
I am unable to provide help for enum option values.

Preferably I would like this to be automatic, which is this feature request.

But even without this I am unable to manually supply the help text due to compiletime string requirements of attributes.

**Describe the solution you'd like**
When using an enum option, I would like the

[2021-09-14 09:06] nils-a commented on #536
To answer the question, you added the feature request: No, arguments to attributes must be constant. In c# 10 "constant interpolated strings" were added, but I think all parts of that interpolated string still need to be constant.

You could, however, subclass the `Description` (as Description is probably what you'd want to use anyway) as a work around for the currently non-existent *auto-recognit

[2021-09-14 11:49] koliyo opened #539 "Add EnvironmentVariableAttribute example to provided API"
**Is your feature request related to a problem? Please describe.**
I want to use environment variables to populate options.

**Describe the solution you'd like**
This seems to have already been solved in #407

But instead of copy pasting the `EnvironmentVariableAttribute` it would be nice if it was part of the `Spectre.Console` API

[2021-09-14 12:34] koliyo commented on #539
I have a WIP pull request here, but not yet any tests.

https://github.com/spectreconsole/spectre.console/pull/540

Not sure when I will have time to complete the PR, so please use it as a suggested implementation and make a complete implementation if this looks like a good idea...

[2021-09-17 16:32] shaneray commented on #518
I would love to contribute... However, I am working 2 jobs at the moment and not sure when I would be able to get around to it.

[2021-09-17 16:33] shaneray commented on #517
I would love to contribute... However, I am working 2 jobs at the moment and not sure when I would be able to get around to it.

[2021-09-18 21:16] patriksvensson commented on #536
The comment @nils-a made summarizes things very well, so I'm going to go ahead and close this issue.

[2021-09-18 21:16] #536 closed

[2021-09-18 21:18] patriksvensson opened #541 "What's the reasoning for registering Commands as ICommand in the registrar"
### Discussed in https://github.com/spectreconsole/spectre.console/discussions/532

<div type='discussions-op-text'>

<sup>Originally posted by **nils-a** September  9, 2021</sup>
and what is supposed to happen?

Background: I'm trying to implement an `ITypeRegistrar` and I am wondering why every command is [registered as `ICommand`](https://github.com/spectreconsole/spectre.console/blob/f5a9c0ca2

[2021-09-18 21:19] #541 closed

[2021-09-18 21:25] patriksvensson commented on #499
The reason `AddChoice` returns `IMultiSelectionItem<>` is so the item can be further configured.
The documentation however should be updated. Thanks for reporting this.

[2021-09-18 21:26] patriksvensson commented on #489
@Genteure You are correct. Closing this issue.

[2021-09-18 21:26] #489 closed

[2021-09-20 15:56] olabacker commented on #113
I also never got it working in vs debug window! Please share if you know how :)

[2021-09-20 16:51] patriksvensson commented on #113
Two things determine whether or not Unicode characters can be shown:

1) The terminal encoding needs to be a Unicode encoding such as UTF-8.
2) The font needs to contain Unicode characters.

If the encoding isn't Unicode, writing Unicode characters to the terminal will show as garbage regardless of the font you're using.

To test this out in CMD.exe, try setting the code page to 65001 (UTF-8) usin

[2021-09-22 20:48] martinnormark opened #543 "`link` to file URIs with spaces throws error"
**Information**
 - OS: Windows
 - Version: 11 - 21H2
 - Terminal: Windows Terminal

**Describe the bug**
When rendering `link` in markup, if URI contains spaces it throws an error indicating a style not found.

**To Reproduce**
Render the following:

[code]

**Expected behavior**
Link is rendered and will open image at given location on click.

**Screenshots**
![image](https://user-images.githubus

[2021-09-22 21:03] patriksvensson commented on #543
@martinnormark Try URL encoding the link. It will also need to be in the format `file:///C:/temp/asdasdas/test%20%image.jpg` for it to work.

[2021-09-22 21:51] martinnormark commented on #543
@patriksvensson Thanks, that worked. I tried URL encoding earlier, but missed the `/` instead of `\`.

Thanks 🙌

[2021-09-22 21:52] #543 closed

[2021-09-23 07:30] RedEyedDog opened #544 "Is it possible to retrospectively update a table cell?"
Hi

I'm trying to make a table like below:
![image](https://user-images.githubusercontent.com/6059035/134469487-80d560a7-2955-4c42-b2d8-4fdc761b3723.png)

Where each row represents a battle ( the last row being current battle).

I need to be able to go back and update the winner column? right now i'm having to add an extra row with the rest of the columns empty

Thanks

[2021-09-23 07:37] patriksvensson commented on #544
@RedEyedDog Currently not possible, but I guess we could add a setter to the `TableRow` indexer.

https://github.com/spectreconsole/spectre.console/blob/main/src/Spectre.Console/Widgets/Table/TableRow.cs#L30

[2021-09-23 07:43] RedEyedDog commented on #544
that would be great.. you make it sound and look easy. I'll expect it by the end of the day haha. Would really Improve the functionality a lot :)

[2021-09-23 07:45] patriksvensson commented on #544
@RedEyedDog Haha, I don't have time to do anything about this, but perhaps you want to send a PR? 😄

[2021-09-23 07:52] RedEyedDog commented on #544
if you think its as simple as adding a setter.. ill take a look no problem

[2021-09-23 08:01] RedEyedDog commented on #544
could you possibly explain what kind of project this is and how to build it and test before I issue a PR. I cant see any developer onboarding instructions :O

[2021-09-23 08:06] RedEyedDog commented on #544
Just found Contributing.md lol let me read that first

[2021-09-23 08:09] patriksvensson commented on #544
@RedEyedDog There is a solution file in the `src` folder which you can open in Visual Studio.
To run a full build with packaging, restore all tools from a command prompt using `dotnet tool restore` and then `dotnet cake`.
Also take a look at: https://github.com/spectreconsole/spectre.console/blob/main/CONTRIBUTING.md

When I think about it, I think we would need to add a new method here: https://g

[2021-09-23 08:18] RedEyedDog commented on #544
Ok so instead of adding a setter for indexing.. you would prefer an Update method? I can do that sir no problem.

I'll go try and figure it out now ;)

[2021-09-23 08:19] patriksvensson commented on #544
@RedEyedDog Awesome. Let me know if you run into any problems and I'll try to help out!

[2021-09-23 08:46] RedEyedDog commented on #544
Hey looking at the code.. I think you want me to add update method to the Table class and then use "row" for index into his Rows collection and "column" to index TableRow?

[2021-09-23 08:48] patriksvensson commented on #544
@RedEyedDog We would want to lock the TableRowCollection when making the change, so I think we need to add an update method to the TableRowCollection. We could add an extension method to `Table` later on that calls the new `Update` method.

[2021-09-23 09:04] RedEyedDog commented on #544
thanks.. i'm thinking somthing like this:
![image](https://user-images.githubusercontent.com/6059035/134480776-b264d966-e537-486d-a5f8-3565fe487478.png)

[2021-09-23 09:19] patriksvensson commented on #544
@RedEyedDog Sounds like a plan. Would be great if you could add tests for this as well.

[2021-09-23 09:21] RedEyedDog commented on #544
ok great.. easy peasy lemon squeezy ;). Ill add some unit tests no problem

[2021-09-23 09:50] RedEyedDog commented on #544
I'm just trying to test locally. I have built successfully and I go to "spectre.console\src\Spectre.Console\bin\Debug\netstandard2.0" and grab the dll. I then copy,  paste into my projects bin folder... but I'm still not seeing my new method?

 I have also added an extension method for the table like so:
![image](https://user-images.githubusercontent.com/6059035/134487031-5516fe33-4a5f-44e1-90ed-1